[2021-04-05 23:44] tomasalvarez13 opened #2 "Problema con robot.html"
Hola, estoy tratando de correr la solucion de la ayudantia,y no me arroja ningun error. Sin embargo abro robot.html en el navegador y me aparece el canvas vacio. Que podrá ser?

[2021-04-06 13:56] FeBalla commented on #2
Hola, ¿estás corriendo el archivo que está con la resolución (bodegas_pauta.lp)? ¿Podrías adjuntar alguna captura de pantalla con el comando que usaste para ejecutar el programa?

[2021-04-06 14:14] tomasalvarez13 commented on #2
El problema era la version de python. Tenía que ser >= 3.

[2021-04-06 14:17] FeBalla commented on #2
Ah sí, para el  curso se usará Python 3, en particular lo de ayer está hecho en Python 3.8.X

[2021-04-07 18:15] nfragav opened #3 "Control 6 y Negación en ASP"
Hola. No entiendo bien por qué en la pregunta 4 del control 6 no se incluye p11 en el modelo. Si alguien pudiera explicarlo con peritas y manzanas, estaría muy agradecido.

También quiero preguntar en qué biobliografía puedo encontrar la materia de negación en ASP para poder estudiarla.

[2021-04-08 03:22] FeBalla commented on #3
¡Hola! disculpa por la demora. Para entender esta pregunta lo mejor es tener la definición a mano e ir paso a paso. La definición dice lo siguiente (Va con peras y manzanas 🍐 🍎  -ALERTA DE MUCHO TEXTO-):

![red_def](https://user-images.githubusercontent.com/48292394/113961668-6b1fe980-97f4-11eb-856b-cb3e9c565cbd.png)

Entonces, tenemos las reglas del problema original y queremos reducir el program

[2021-04-08 18:09] nfragav commented on #3
Muchas gracias Fernando! Me quedó muy claro! 👏🙌

[2021-04-10 16:46] FeBalla commented on #2
**[ACTUALIZACIÓN]** Me he topado con que a personas que usan Mac no les funciona el comando del visualizador, lo que puede ser un problema para los ejercicios de la ayudantía o tareas. Mac trae instalado Python por defecto en otra versión y estos códigos están hechos en Python3, por lo que al escribir el comando como se vio en la ayudantía puede no funcionar. Por lo tanto, lo que deben hacer es ca

[2021-04-10 23:05] gustavobarrezueta opened #4 "[Tarea 1] Dudas parte 1 y 2"
Hola! Tengo un par de dudas de la tarea. La primera es que en la parte 1, en el item 2, cuando nos piden "Especula sobre qué sistema computacional sería necesario implementar..." no estoy muy seguro a qué se refiere sistema computacional. Me encantaría si pueden darme un ejemplo de un sistema computacional (es un lenguaje de programación, es un paradigma, etc). La segunda duda es sobre la parte 2;

[2021-04-11 00:19] sofiacorreabusquets opened #5 "[Tarea 1] Correspondencia preguntas-archivos"
Hola! Tengo dos confusiones con respecto al enunciado de la tarea, que me imagino se podrían deber solamente a _typos_.

1. En la parte 2, la pregunta 1 no aparece como contenido en ninguno de los archivos a entregar, mientras que la pregunta 2 es la única que aparece tanto en el PDF como en un archivo LP. ¿Dónde se responde la pregunta 1? Y, para la 2, ¿tanto se programa en un LP como se describe

[2021-04-11 02:38] aamedinaj commented on #4
Sobre la duda 2: la Parte2/Pregunta1 se respondería en respuestas.pdf, piensa en que si te piden una "explicación" de algo, no se va a leer en código, sino que en los pdfs.

🦊

[2021-04-11 02:49] aamedinaj commented on #5
Hola, respondiendo una mitad de tus dudas

Referenciando una [issue previa](https://github.com/UC-IIC2613/Syllabus/issues/4#issuecomment-817237256), en la parte2/pregunta1 te piden una explicación, por lo que debería ir en el pdf. Por otro lado, en la pregunta 2 te piden que modifiques código, pero no se indica una explicación, por lo que debería entregar solo el `.lp` de esa pregunta.

**en caso

[2021-04-11 15:08] jmopaso commented on #4
Como bien señala Pavel se trata de un *typo* en el enunciado, este ya fue corregido. Gracias por avisar!

A modo de resumen la estructura de lo que deben subir a su repositorio en GitHub es la siguiente:
[code]

Sobre tu primera duda, debes considerar que en la conversación entre Lex y Mitchel se habla mucho sobre cómo el humano realiza analogías. Por ejemplo en el video se habla que los humanos p

[2021-04-11 16:12] gustavobarrezueta commented on #4
Gracias por la explicación, José, entendí mucho mejor. Gracias a ambos por sus respuestas!

[2021-04-11 17:53] benjavicente opened #6 "[Tarea 1] Posible error en Parte 2 del Ejercicio 1"
Hola! Parece que esto que nos entregan está malo:

[code]
Si el largo inicial es `0`, el largo nunca aumentará en la suma `Largo=L1+L2 -> 0 = 0 + 0`. Creo que debería ser `1`.
Además el segundo predicado de camino se está sumando el largo del mismo camino. Creo que debería haber un nodo intermediario (`camino(X,Z,L1), camino(Z,Y,L2)`).

[2021-04-11 19:00] CataAlamos opened #7 "Ignorar"
No se como borrar issues, entonces lo cerré.

[2021-04-11 19:03] #7 closed, assigned to nobody

[2021-04-11 19:07] CataAlamos opened #8 "[Tarea 1] Duda Parte 2 Pregunta 1"
Hola, cree un ciclo en arco(a,e) y arco(e,a) pero el output me da lo mismo que cuando no tengo ciclos. ¿Debe cambiar el output y en ese caso cual es el error de laforma que defini ciclos?
<img width="770" alt="Screen Shot 2021-04-11 at 15 07 38" src="https://user-images.githubusercontent.com/62016215/114317771-ab72b680-9ad7-11eb-992c-ae9eed5815da.png">

[2021-04-12 12:52] aamedinaj commented on #5
Da lo mismo, no hay que tener tanto cuidado en eso.

🦊

[2021-04-12 13:04] nachobascar commented on #6
Me sumo para esperar por la respuesta

[2021-04-12 13:52] aamedinaj commented on #8
Hola, habían unos cuantos errores en el ejemplo que van a ser corregidos (se va a subir una nueva versión del enunciado). Con eso arreglado te debería resultar el experimento.

🦊

[2021-04-12 13:55] jmopaso commented on #6
Hola Benjamín,

Efectivamente se trata de un error en el código, este ya fue modificado en el enunciado de la tarea. Muchas gracias por avisarnos!

El código finalmente quedó asi.
[code]

Saludos!

[2021-04-12 19:49] sofiacorreabusquets commented on #5
@aamedinaj Muchas graciassss

[2021-04-12 21:53] Aloncarrasco opened #9 "[Tarea 1] P1.2 sistema computacional"
En la Parte 1 pregunta 2, se nos pide que especulemos sobre que sistema computacional sería necesario implementar para que un programa en lógica realice analogías y mi pregunta es a que se refiere con "sistema computacional", tendríamos que describir el código que permitiría esto? o las características que tendría ese sistema?

[2021-04-12 22:05] FeBalla commented on #4
[AVISO] Recuerden **no cerrar** las _issues_. ¡Nosotros las cerraremos cuando sea oportuno!

[2021-04-12 22:12] FeBalla commented on #9
Hola! La pregunta no es tanto de escribir un código, sino que **reflexionar**  y **describir** sobre qué herramientas relacionadas al ASP y lo que hemos visto en el curso pueden ser de utilidad. En esta _[issue](https://github.com/UC-IIC2613/Syllabus/issues/4)_ se da una respuesta en más detalle. La pregunta es bastante abierta mientras argumenten, así que tranquil@s!

[2021-04-12 22:59] Aloncarrasco commented on #9
gracias

[2021-04-12 23:02] Aloncarrasco opened #10 "[Tarea 1] Parte2.1 cambios permitidos"
Hola en esta parte tengo que solucionar un código, pero que pasa si lo soluciono sin usar count?
además que tanto puedo cambiar estas lineas:
camino(X,Y,Largo) :- arco(X,Y), Largo=1.
camino(X,Y,Largo) :- camino(X,Z,L1), camino(Z,Y,L2), Largo=L1+L2.

puedo elminarlas o cambiar las condiciones que  tienen?

[2021-04-12 23:15] FeBalla commented on #10
Con respecto a la primera duda, el uso de `#count` es **obligación** para esta pregunta, aunque existan otras maneras de resolverlo, ya que la idea es que investiguen en el libro y comprendan el manejo del operador. En cuanto al cambio de los predicados de las líneas que mencionas, **no deben cambiarlas**, ya que la idea es que entiendan qué ocurre con esas definiciones en particular  al añadir un

[2021-04-13 03:11] Gsalinas1506 commented on #2
Hola! Una pregunta, hay algún problema con usar python 3.7.X durante el curso?

[2021-04-13 18:08] Aloncarrasco opened #11 "[Tarea 1] Pregunta 2.1"
Hola,
Puedo tener un grafo asi:
<img width="360" alt="Sin título" src="https://user-images.githubusercontent.com/62113089/114598955-7f367180-9c60-11eb-9db3-28d97cd8e2a4.png">

[2021-04-13 18:30] jfuentesg26 commented on #11
Hola! Si se puede tener un grafo así, lo señalado con rojo cuenta como un ciclo.

[2021-04-13 20:53] CataAlamos opened #12 "[Tarea 1] Problemas con el código entregado"
Hola, estoy en la Parte 2 en la pregunta 1 y he intentado correr el siguiente código:
`camino(X,Y,Largo) :- arco(X,Y), Largo=1.
camino(X,Y,Largo) :- camino(X,Z,L1), camino(Z,Y,L2), Largo=L1+L2.
`
pero no se carga en mi terminal. Esto ocurrió cuando agregué la condición de ser no dirigido. Ha estado corriendo por aprox 20 minutos y me preocupa dado que lo necesitamos para los otros problemas de la

[2021-04-13 21:04] aamedinaj commented on #12
Cuando se quede pegado ejecutando mucho tiempo puedes forzar la interrupción en la consola con Ctrl + C (en windows, sé que hay un análogo para otros sistemas, es lo mismo que en python). Ahí puedes ir cambiando cosas y ver si se sigue quedando pegado o no.

🦊

[2021-04-13 21:25] CataAlamos commented on #12
Hola, estoy usando el mismo programa de la tarea. El problema ocurre solamente con el grafo no dirigido, ¿Qué condición puedo cambiar para que no se quede pegado? Me preocupa eliminar algo que pueda ser evaluado, ya que la pregunta me pide decir como cambía el resultado de un grafo dirigido a uno no dirigido.

<img width="573" alt="Screen Shot 2021-04-13 at 17 22 16" src="https://user-images.githu

[2021-04-13 21:34] jmopaso commented on #12
Hola,

En el caso de la pregunta 1 de la parte 2 debes considerar que el grafo sea **dirigido**. Sólo para las demás preguntas de esta parte (luminarias) debes considerar el predicado ```arco(X,Y) :- arco(Y,X)``` que finalmente vuelve tu grafo dirigido a uno no dirigido.

Saludos!

[2021-04-13 22:49] Aloncarrasco commented on #11
Otra pregunta, si le pongo al nodo de la derecha A y al de la izquierda B (los que estan marcados con la cosa roja). Puedo tener el camino camino(A,B,3) o el camino camino(A,A,4)? (considerando que el programa termina y muestra los otros camino) o no puedo generar un camino que repita arcos?, además el camino camino(A,A,2) sería valido? pues no repite arcos.

[2021-04-14 00:29] lucas-valenzuela opened #13 "[Tarea 1] Parte 2.1"
Hola, de acuerdo al enunciado, si tengo los arcos (a, b), (b,c) y (c,a), entonces estos serían los caminos que deberíamos entregar:

Largo 2:
a-b
b-c
c-a

Largo 3:
a-b-c
b-c-a
c-a-b

Estoy en lo correcto?

[2021-04-14 14:26] jmopaso commented on #11
Hola!

Como bien dices, todos esos caminos son válidos tenerlos en tu modelo (considerando el grafo de arriba), ya que corresponden a caminos de un ciclo. Como dice la pregunta: ```Esto no significa que no debe considerar los caminos con ciclos. Lo que debes asegurar es que no se le 'escape' ningún camino sin ciclos existente en el grafo```, por lo que mientras se cumpla esa condición (considerar

[2021-04-14 14:38] jmopaso commented on #13
Hola Lucas,

Considerando que tengas ese grafo debiese ser:

Caminos con largo 1:
a-b
b-c
c-a

Caminos con largo 2:
a-b-c
b-c-a
c-a-b

En todo caso, ojo que el grafo que señalas es un grafo cíclico, por lo que si lo pruebas con el código propuesto en el enunciado no te va a funcionar (en la primera parte de la pregunta debes explicar por qué pasa eso). Una vez que propongas un predicado usando ```

[2021-04-14 15:49] szabala commented on #13
Hola! viendo la ultima respuesta a #11, no deberian estar tambien:

Caminos de largo 3:
a-b-c-a
b-c-a-b
c-a-b-c

ya que estos corresponden a los caminos (a,a,3), (b,b,3) y (c,c,3)?

[2021-04-14 16:09] jfuentesg26 commented on #13
Hola! Tu modelo debería considerar aquellos caminos con ciclos, por lo que debes tener los caminos de largo 3 que describes, lo importante es que no se te escape ninguno de los caminos sin ciclo y que incluyas también aquellos con un ciclo.

[2021-04-14 16:11] jmopaso commented on #13
Hola @szabala,

Si, en este caso particular deberían considerarse esos caminos porque son un camino (cíclico) posible. Pero de nuevo, lo importante además de eso es que no se les escape ningún camino no cíclico en el modelo.

[2021-04-14 17:02] jorge-ovalle opened #14 "[Tarea 1] Duda Parte 2.1"
Hola! Tengo una consulta con respecto a la parte 2.1. Entiendo que si hay un ciclo, por ejemplo: a->b->c->a, el modelo debiera, entre otras cosas, mostrar `camino(a, a, 3n)` para todo `n>=1`. Esto claramente haría que el programa no terminase.  Mi pregunta es cómo debo restringir con `#count` porque el enunciado explicita que se deben contar todos los caminos sin ciclos, pero también dice que no s

[2021-04-14 17:33] benjavicente opened #15 "[Tarea 1] Funcionalidad de Parte 2.1"
En el enunciado se menciona que

`#count` (...)

¿Eso quiere decir que tenemos que **solo proponer una solución teórica** o tenemos que hacer funcionar esta manera?

[2021-04-14 17:34] aamedinaj commented on #14
Si te fijas #count usa notación de conjunto `{cosas : restricciones}`, esas restricciones son las que te van a ayudar con lo que se busca

🦊

[2021-04-14 17:38] jorge-ovalle commented on #14
Sisi eso entiendo. Mi pregunta va en la dirección de lo que dice el enunciado de no ignorar tampoco los caminos con ciclos. Si fuera así debería considerar, según mi ejemplo, todos los caminos `camino(a, a, 3n)` que serían infinitos. Por lo mismo, qué debo cortar o restringir. Eso no me queda claro.

[2021-04-14 17:39] dtgazmuri commented on #15
Debes programarlo y hacerlo funcionar.

[2021-04-14 19:14] catalinamusalem opened #16 "[Tarea 1] Duda input parte 4.1"
Hola! Me podrían dar un ejemplo de como se ve el input sensorial? O que tipo de información contiene?

Muchas gracias!

[2021-04-14 19:16] Aloncarrasco commented on #11
Puedo interpretar el enunciado de la siguiente forma?

El programa debe si o si devolver todos los caminos sin ciclos que encuentre y **PUEDE** devolver devolver caminos con ciclos aunque no es necesario.

[2021-04-14 19:22] jfuentesg26 commented on #11
Hola! tu programa debe devolver todos los caminos sin ciclos que encuentre y también debe devolver los caminos con ciclos

[2021-04-14 19:24] Aloncarrasco commented on #11
pero hay caminos con ciclos de largo tan grande como se quiera, ¿como podría devolver esos caminos?

[2021-04-14 19:25] aamedinaj commented on #14
Ya, en el enunciado dice que tu programa debe

Y , considerando tu ejemplo, sí hay una manera de considerar ESE ciclo, pero __sin la necesidad de contarle todas las vueltas__ (pero si te la digo te respondo la pregunta de la tarea ~y me pegan~ ). Si aún te quedan dudas sigue preguntando, pero te recomiendo que no te compliques en contar los 3*n pasos, para cada n.

🦊

[2021-04-14 19:30] Aloncarrasco commented on #14
Osea, estas diciendo que debo considerar camino(a,a,n) pero no el camino camino(a,a,2n)?

[2021-04-14 19:40] jorge-ovalle commented on #14
Tengo la misma pregunta

[2021-04-14 19:41] aamedinaj commented on #16
Si recuerdas, el profesor comentó en una clase que en el "mundo del Wumpus" hay entradas sensoriales para el agente (jugador) tales como "brisa" o "hedor". En el archivo `extra.lp` se indica de qué tipo es la entrada sensorial, y en qué casilla se encuentra:

sense_stench(0,2).

🦊

[2021-04-14 20:01] catalinamusalem commented on #16
En el archivo extra.lp me queda la duda sobre que es safe(1,1)?
Gracias

[2021-04-14 21:00] aamedinaj commented on #14
Exacto, no es necesario re-contar los ciclos. Para `a` debería bastar
[code]

🦊

[2021-04-14 22:49] lucas-valenzuela opened #17 "[Tarea 1] 3.1 Typo Π"
Hola,
Puede ser que haya un typo en el enunciado y que el Π que señalo en la imagen sea realmente Π' ?

<img width="951" alt="Captura de Pantalla 2021-04-14 a la(s) 18 47 16" src="https://user-images.githubusercontent.com/48392863/114790065-10d1dc00-9d52-11eb-9ed7-eb24d49c1ce1.png">

[2021-04-14 22:50] fjquintana opened #18 "[Tarea 1] Duda programa a realizar Parte 4.1"
Hola!

Tengo una duda con el programa que hay que hacer en la parte 4.1. Lo que hay que hacer no es un programa que tenga un único modelo, en donde aparece **p** si y solo si el agente puede saber que **p** es verdad, sino más bien un programa que tenga varios modelos, y sea tal que el agente puede saber **p** si es que **p** aparece en todos los modelos, y que pueda saber que **q** es falso si es

[2021-04-15 13:22] jmopaso commented on #18
Hola, es correcto lo que dices. Sólo un detalle, es un programa que, **en general, tiene múltiples modelos**, es decir, pueden haber casos en que te entrega sólo uno (cuando sólo hay un mundo posible).

[2021-04-15 14:02] aamedinaj commented on #16
Hola, primero que todo, el _extra.lp_ fue uso exclusivo del profesor (es el ejemplo del enunciado). No es necesario que el suyo se llame exactamente _safe_, pero era para indicar que era una casilla que, con seguridad, era segura.
Recomendación: no le des tantas vueltas a ese punto en particular.

🦊

[2021-04-15 14:26] jfuentesg26 commented on #17
Hola! Efectivamente hay un typo. El Π señalado en la imagen es un Π'. Se actualizará el enunciado durante el día con este cambio.
Espero que esto no te haya generado muchos problemas y gracias por preguntar! :)

[2021-04-15 15:37] fjquintana commented on #18
Perfecto, muchas gracias!

[2021-04-15 18:24] vchadwick commented on #10
`[EDIT] La idea es que luego definan su propio predicado para calcular el largo de un camino y que usando #count sea capaz de hacerlo para cualquier grafo (con o sin ciclos).`
@FeBalla solo para confirmar, podemos cambiar las lineas para la **segunda parte de la pregunta**, es decir, para ayudarnos a encontrar los ciclos y definir despues nuestros propios predicados?

[2021-04-15 20:06] vchadwick opened #19 "[Tarea 1] Parte 4.1 Aclaraciones Gold"
¿Hay que incluir dentro de los mundos posibles el predicado gold?  Especificamente para la parte 1 de la pregunta 4.
(Se menciona indirectamente)

[2021-04-15 20:29] fjcroquevielle commented on #19
Creo que no, no sale en el enunciado por lo menos

[2021-04-15 20:33] fjcroquevielle opened #20 "Output pregunta 4.1"
Hola! No me queda claro algo, nosotros en esta pregunta debiésemos entregar las casillas que con seguridad sabemos que son 'alive', 'wumpus' y 'pit'? O algo más?. Gracias!

[2021-04-15 20:39] #20 closed, assigned to nobody

[2021-04-15 21:07] FeBalla commented on #19
Confirmaré lo antes posible la respuesta, pero a priori lo lógico es que si existen predicados que definen si hay un pozo o wumpus en una celda, entonces también debería haber uno que diga si se trata de la celda con el oro. Por lo tanto, el predicado `gold` debería aparecer en el modelo 😄 (mundos posibles)

**[ACTUALIZACIÓN]** Traigo la siguiente respuesta desde el olimpo 🌥️.  "No es necesario qu

[2021-04-15 21:51] Aloncarrasco opened #21 "[Tarea1] Parte 2.2 caminos no iluminados"
Si tengo un camino_k(A,B,k), existe un camino entre A y B con  k arcos no iluminados, este camino puede tener arcos iluminados también? (No se menciona que estos k arcos no iluminados sean los únicos que contiene el camino).

está bien si uso negación en esta pregunta?

[2021-04-15 21:57] FeBalla commented on #10
Para **la segunda parte** de esa pregunta sí pueden modificarlo

[2021-04-15 22:40] aamedinaj commented on #21
Hola, el enunciado dice

O sea, ninguno de esos K debe estar iluminado para cumplir lo pedido.
Puedes usar negación si te sirve.

🦊

[2021-04-15 23:44] Aloncarrasco commented on #21
Pero por ejemplo entre X e Y podría tener un camino de largo K+3 que tiene K arcos no iluminados, entonces entre X e Y existe un camino con exactamente k arcos no iluminados (que también tiene 3 arcos iluminados) entonces camino(X,Y,K) está en el programa, esta bien eso?

[2021-04-15 23:55] aamedinaj commented on #21
Estaría bien 😃

[2021-04-15 23:58] ancontardo opened #22 "Duda Parte 2.2"
Tengo una pregunta sobre la definición de una calle iluminada. En la tarea dice: "Si instala una luminaria en una esquina, entonces todas las calles que llegan a esa esquina se encuentran iluminadas tambien"

Supongamos que el nodo(a) esta conectado con el nodo(b) y solo el nodo(b) tiene una luminaria. Esto produce que el arco(a,b) este iluminado, ¿esto implica que el arco(b,a) tambien este ilumin

[2021-04-16 00:15] aamedinaj commented on #22
Es un grafo no dirigido así que, efectivamente, estaría iluminado

🦊

[2021-04-16 00:40] Aloncarrasco commented on #21
Ooo gracias :),
Otra pregunta en la P2.5 el enunciado dice:
"no exista ninguna ruta entre cada par de esquinas que estén conectadas por un camino con más de una calle sin iluminar."
entonces puedo tener caminos con 1 una calle sin iluminar?

[2021-04-16 01:11] aamedinaj commented on #21
Claro, sería equivalente a "de manera que todo camino que conecte 2 nodos tenga, a lo más, 1 calle sin iluminar", así que sí puedes tener caminos con 1 calle sin iluminar

[2021-04-16 01:17] Aloncarrasco commented on #21
Entiendo, pero al alcalde le interesa que la ruta minima tenga a lo más una camino sin eliminar o que cualquier ruta tenga a lo más un camino sin iluminar?

[2021-04-16 01:42] aamedinaj commented on #21
Ignora el mensaje anterior, estoy confirmando 🙏

[2021-04-16 15:28] Aloncarrasco commented on #21
ok gracias :D

[2021-04-16 17:21] aamedinaj commented on #21
En respuesta a esto, puedes tomar la instrucción cómo " entre cada par de nodos, el camino que menos calles oscuras tiene debe tener a lo más una calle oscura."

(Disculpa la demora 😞 )

[2021-04-16 20:21] fjcroquevielle opened #23 "Restricciones"
Hola, tenía una duda respecto a las opciones que puede tomar un determinado modelo. Puede haber un pozo pegado a un wumpu?. Gracias!!

[2021-04-16 20:29] nfragav opened #24 "[Tarea 1] Duda parte 2.2"

[2021-04-16 20:32] jfuentesg26 commented on #23
Hola! Si a "pegado" te refieres a que están en celdas vecinas, si es posible, ya que no rompe ninguna regla, lo que no debe ocurrir es que estén en una misma celda.

[2021-04-16 20:36] fjcroquevielle commented on #23
Muchas gracias!!

[2021-04-16 21:01] #24 closed, assigned to nobody

[2021-04-16 21:36] FelipeLara00 opened #25 "Problemas para instalar clingo"
Hola!
Estoy usando el link que mando el profesor para descargar clingo en windows pero no se que hacer con los archivos que están dentro del .zip y no puedo usar clingo.

Gracias!

[2021-04-16 21:41] jfuentesg26 commented on #25
Hola! Debes extraer la carpeta del .zip y guardarlo en tu disco local.
Aquí te dejo un paso a paso de lo que debes hacer: https://spaceshipparking.blogspot.com/2018/10/installing-and-using-clingo-on-windows_21.html

Espero te resulte! Cualquier cosa me avisas!

[2021-04-16 21:56] FelipeLara00 commented on #25
Me funciono perfecto, muchas gracias!

[2021-04-17 20:25] nbarriav opened #26 "Duda Parte 3.1"
Hola, quería saber si para la demostración se puede usar el algoritmo para la definición de modelo o debe ser estrictamente la matemática usando álgebra de conjuntos

[2021-04-17 22:18] jmopaso commented on #26
Hola,

En la pregunta sólo se pide que para la demostración uses la definición de modelo de un programa sin negación, donde en clases se vieron dos formas una matemática y otra algorítmica, por la que puedes usar la que más estimes conveniente.

Saludos!

[2021-04-18 00:37] milosoria opened #27 "[Tarea 1] Dudas Parte 4"
Hola! No me queda clara la utilidad de la funcion find_path de agent.
Y en el archivo wumpus.lp es necesario definir la regla para shoot?
Gracias!

[2021-04-18 00:45] gustavobarrezueta opened #28 "[Tarea 1] Posible Ayudantía para el lunes"
Hola! Sé que es un poco tarde para pedir esto, pero me gustaría que se considerará que la ayudantía del lunes, en vez de que pasemos materia sea para revisar la tarea, ya que siento que hay varias dudas a nivel general y no hemos tenido esta instancia de resolución de dudas. Ojalá puedan tomarlo en cuenta.
Desde ya, muchas gracias.

[2021-04-18 01:09] antoniaalcayaga opened #29 "Input y predicado alive(x,y) Parte 4.1"
Hola!

Tengo 2 dudas:

Respecto a lo que representa el predicado alive en esta parte. Por lo que entiendo lo que estamos modelando es solo el conocimiento que tiene el agente dentro del mundo, entonces no entiendo el sentido del predicado, ya que por la explicación del programa, una celda será visible si el agente pasa por ella, pero en este caso no estamos moviendo al agente. Mi dudas son entonce

[2021-04-18 03:30] lewebe opened #30 "Duda Parte 3.1"
Hola, basta con encontrar **un** modelo M' tal que M es subconjunto de M' para que esta demostración sea válida? O se debe demostrar que todos los modelos M' que son modelos de Pi' tienen como subconjunto a M?

[2021-04-18 16:54] fnberrios commented on #29
Me sumo a las dudas de @antoniaalcayaga

[2021-04-18 17:51] nfragav opened #31 "[Tarea 1] Implementación negación"
Hola!

Estoy intentando implementar negación en una parte de la tarea y recibo un error de `unsafe variable`. Solo estoy usando variables en esta parte del programa y si quito la negación se groundea con éxito. Quería preguntar si era posible recibir ayuda con este trozo de código o si un ayudante conoce razones de por qué pasa esto.

Gracias!

[2021-04-18 18:15] Aloncarrasco opened #32 "[Tarea1] [Modificación Enunciado] Duda parte 3.1"
Para esta demostración tengo que asumir que aparecen reglas tipo:
{a;b;c}.?
o eso no podría estar?

Además,
es posible que el programa pi' se le agreguen reglas tipo:
:-p. por que entonces el modelo M' podría no satisfacer pi'

[2021-04-18 18:25] Aloncarrasco commented on #19
Cual sería la diferencia entre safe(x,y). y alive(x,y).?

[2021-04-18 21:31] FelipeLara00 commented on #15
Pero en la parte que dice que debemos entregar sale que la pregunta 1 y 4 de la parte 2 van en respuesta.pdf

[2021-04-18 23:36] Juanvg213 opened #33 "[Tarea1] Duda parte 2.4"
Hola,

Para realizar la aproximación del programa instanciado,  ¿Podemos asumir el peor caso? Me refiero al grafo donde todos sus nodos estén conectados ya que este sería el que origine mas instancias del programa.

[2021-04-19 02:02] lewebe opened #34 "Duda 3.2 Inducción"
Hola! Me queda la duda si para la base inductiva sobre el número de reglas del programa debiera ser  con n = 0 reglas o con n = 1 regla.

[2021-04-19 02:47] fnberrios commented on #34
Quiero sumarme a dudas de esta pregunta, cuando dice:
![image](https://user-images.githubusercontent.com/34272957/115174820-f1131e80-a097-11eb-881e-f17c9e52277a.png)
¿se refiere a la cardinalidad de Head? Es decir, la cantidad de átomos que hay en Head.
Gracias de antemano.

[2021-04-19 12:52] jmopaso commented on #30
Hola!

Debes demostrar la propiedad de monotonía para **todos** los casos de programas en lógica sin negación. Es decir, no basta que des sólo un ejemplo donde esto se cumpla, sino que debes usar la definición de modelo para programas sin negación para demostrarlo en todos los casos.

[2021-04-19 13:03] jmopaso commented on #31
Hola!

Este es un clásico problema en clingo cuando se ocupa negación, ya que clingo te pide definir previamente donde se "mueven" las variables al ocupar negación, en caso contrario, como bien dices el programa te retornará ```unsafe```.

Por lo tanto, sólo a modo de ejemplo, si pretendo usar negación **no sería correcto** hacerlo de esta forma:

[code]

En este caso, no le explicité a clingo por

[2021-04-19 14:20] jfuentesg26 commented on #33
Hola! La idea es que la aproximación sea correcto para cualquier grafo,  con n nodos y m arcos,  es decir, no solo para aquellos grafos que estén todos los nodos conectados.
Ahora si quieres trabajar con el peor caso (O(n) por ejemplo), debes justificar porqué tu aproximación es correcta para cualquier grafo.

[2021-04-19 14:43] jmopaso commented on #32
Hola!

Sobre lo segundo, no es posible que el programa contenga reglas del tipo ```:-p```, ya que estas son reglas de cabeza vacía, las cuales no debes considerar

[2021-04-19 15:10] jmopaso commented on #28
Hola Gustavo,

Se acaba de mandar un anuncio al respecto. Al final habrá clases hoy día en horario de ayudantía y el día jueves se realizará la ayudantía que lo más probable sea principalmente para responder dudas de la tarea.

Saludos

[2021-04-19 15:21] gustavobarrezueta commented on #28
Gracias José!

[2021-04-19 15:55] jmopaso commented on #32
Hola de nuevo, un update importante sobre lo primero que señalas. Es importante considerar que las reglas de los programas **solo serán del tipo `Head <- Body` con `|Head| = 1`**, es decir, el número de átomos en `Head` debe ser estrictamente 1. Esto no estaba previamente en el enunciado por lo que te agradezco la pregunta, **el enunciado ya fue modificado considerando este detalle**. De todas for

[2021-04-19 16:15] jmopaso commented on #21
Sólo para complementar, para esta parte se modificó el enunciado para explicarlo de forma más clara. La explicación del enunciado señala que lo que se busca es `entre cada par de equinas, exista un camino con a lo más una calle sin iluminar.`

[2021-04-19 16:56] jorge-ovalle opened #35 "[Tarea 1] Dudas varias P4"
Hola! Hay hartas cosas que no me quedan claras de lo que me piden:

(1) ¿Debo definir en un archivo la posición inicial del agente o eso lo hace el programa de python?
(2) En `wumpus.lp` qué tenemos que hacer exactamente. ¿La idea es que acaso el agente recorra la grilla y vaya haciendo visibles las celdas y viendo que celda es segura? ¿Hasta que punto debo recorrer la grilla?
(3) No entiendo muy

[2021-04-19 17:17] szabala opened #36 "[Tarea 1] Parte 4, problemas sin solución"
Hola!
Queria confirmar (para ver si entendi bien) si el siguiente escenario es uno donde se necesita saber el numero de pozos y wumpus para poder resolverlo:
![image](https://user-images.githubusercontent.com/48331715/115276739-6c64e680-a111-11eb-823f-41bf0578450d.png)
¿Esto es por la regla de seguridad?
Gracias de antemano!

[2021-04-19 17:28] Baelfire18 commented on #32
@jmopaso Creo modificaste el de canvas pero no aún el de syllabus

[2021-04-19 17:31] jmopaso commented on #36
Exactamente, ese problema en particular sólo se puede resolver si el ambiente está en modo observable (donde se el número de pozos y wumpus), para satisfacer la regla de seguridad.

[2021-04-19 17:39] jmopaso commented on #32
Gracias por avisar, ahora si está

[2021-04-19 17:43] szabala commented on #36
Gracias!

[2021-04-19 18:27] FeBalla commented on #34
Hola a amb@s!

**Primera pregunta**

**R:** Para el caso base de la inducción debes considerar `n=0` reglas.

**Segunda pregunta**

**R:** Estás en lo correcto. Cuando se dice `|Head| <= 1` se refiere a que el  _Head_ tiene a lo más 1 átomo.

[2021-04-19 18:37] jorge-schenke opened #37 "Código ayudantía no corre: "could not opne input file!""
No sé por qué clingo me contesta esto cuando trato de correr el código del problema 1... Alguien conoce el error? Asumo que es un problema con el archivo probl1.lp pero no lo he cambiado en nada :/.
![Captura](https://user-images.githubusercontent.com/69639964/115286181-c5864780-a11c-11eb-846a-6b13e98936ec.JPG)

[2021-04-19 18:39] FeBalla commented on #37
Si no me falla la memoria, no te está funcionando porque el problema 1 no se llama de esa manera, sino que se llama `prob1.lp` (tienes una letra "`l`" demás)

[2021-04-19 19:10] Aloncarrasco commented on #35
me sumo a las preguntas

[2021-04-19 19:47] sufigueroa commented on #29
Holaa! En la primera parte debes modelar los mundos posibles qué hay dado el input entregado. Aunque no se pide el movimiento con pasos, es útil modelar los caminos posibles que puede tomar el agente, esto le permitirá también que él adquiera la información del mundo. El predicado alive(x, y) te sirve para saber si una celda ya fue descubierta (forma parte del camino) con todo lo que esto implica.

[2021-04-19 21:34] jorge-ovalle opened #38 "[Tarea 1] Problema con código en P2"
Vengo a pedir ayuda a algún ayudante de buen corazón (ojalá por discord ) :). Es sobre la última pregunta de la P2

[2021-04-19 21:43] sufigueroa commented on #27
Holaa! Lo que hace en find_path es encontrar caminos posibles entre dos celdas, lo que resulta útil al momento de tomar una decision sobre el siguiente movimiento que debe realizar el agente. Y no es necesario que definas shoot en wumpus.lp porque get_action se debería encargar de esta acción.

[2021-04-19 21:46] #38 closed, assigned to nobody

[2021-04-19 22:12] Aloncarrasco commented on #35
Se supone que wumpus.lp lo voy a usar despues en el python?

[2021-04-19 22:20] jmopaso commented on #35
Hola!

Voy a ir contestando las preguntas por orden:

1. Si, la posición inicial del agente lo maneja el programa de python según el mapa entregado. En `wumpus.lp` sólo debes preocuparte que dada una "situación" tu programa retorne lo deseado.

2. Lo que tienes que hacer en el archivo `wumpus.lp` es que dado la definición de una grilla y la información de ciertos inputs sensoriales (especificado e

[2021-04-20 00:23] nmendicoa commented on #19
alive es una celda ya visitada, safe es una celda que sabes que es segura pero que no has visitado

[2021-04-20 00:28] tomasalvarez13 commented on #22
Para esta parte tenemos que considerar que si por ejemplo el arco (a,b) no esta iluminado, y hago la secuencia a-b-a, esta estaría pasando por 2 arcos sin iluminar, es decir, conectado_k(a,b,2) seria verdadero?

[2021-04-20 01:52] DiegoEmilio01 opened #39 "[Tarea 1] 2.3 Predicado "conectado_k/3" debe contener caminos cíclicos?"
¿Puede existir conectado(a, a, 2) en el modelo? Eso me da problemas en las preguntas de más adelante, pero dice "Tal como en la pregunta anterior, asegura que conectado_k no ‘pierda’ caminos en el grafo" y eso me hace pensar que debería tener esos ciclos entre inicio y final de un camino.

[2021-04-20 02:02] tomasalvarez13 commented on #39
Tengo la misma duda, porque si conectado(a,a,2) existe, entonces para la parte 2.5 nunca habrá una calle sin iluminar.

[2021-04-20 02:04] tomasalvarez13 commented on #39
Tengo la misma duda. Me pasa que si en la parte 2.5 existe una calle sin iluminar, entonces siempre voy a poder generar un camino que pase 2 veces por esa calle, por lo que mi programa siempre iluminará todos los arcos.

[2021-04-20 13:55] FeBalla commented on #39
Puedes verlo como que no deberían aparecer en el modelo caminos que unan un nodo consigo mismo sin haber nodos intermedios. No obstante, como dijo el profesor, no debería ser un problema, pero puedes filtrarlos. Para quienes tengan la misma duda y sigan sin entender, los **últimos 15 minutos de la clase del 20/04/2021** se respondió esta (y otras) dudas.

**[ACTUALIZACIÓN]** Por lo que noté, la du

[2021-04-20 14:01] DiegoEmilio01 commented on #39
Gracias, hoy veré que onda. Sí considero que hayan nodos intermedios. El tema es que el mínimo no me está funcionando con una sentencia parecida a la del enunciado o la que se vio en la última ayudantía.
(Edit: tenía el enunciado desasctualizado)

[2021-04-20 16:53] tomasalvarez13 commented on #39
Podría interpretarse como que se pide que entre cada par de nodos, el camino que menos calles sin iluminar tenga, no tenga mas de una?
 Por ejemplo si tengo el siguiente grafo, que los nodos iluminados en el optimo sea solo el nodo a?
![Captura realizada el 2021-04-20 13 00 16](https://user-images.githubusercontent.com/48598610/115435965-68e86280-a1d8-11eb-972b-71c669c4bc2d.png)

[2021-04-20 19:06] ignacio-urrutia opened #40 "[Tarea 1] Pregunta 4.2: Simulación html"
Hola, tengo un problema con el archivo generado para la visualización del wumpus en el html. Me funciona bien la simulación en los cuadros de texto que imprime el programa, pero en el visualizador me pasaba que el agente al disparar no mata a los Wumpus y pasa sobre ellos. Después de revisar un poco el código, me di cuenta que solo les dispara si el orden en que están los Wumpus en el archivo gene

[2021-04-20 20:16] jmopaso commented on #40
Hola Ignacio, lo voy a revisar. Me puedes decir con que mapa estas probando el código?

[2021-04-20 20:30] ignacio-urrutia commented on #40
Sisi, el mapa era el siguiente:
4,4
GW.I
.W..
.W..
.W..

Igual, como te decía, depende del orden en el que el agente "decida"
dispararle a los Wumpus porque si es el mismo orden que se escriben en el
archivo simulation.txt, funciona bien.

On Tue, 20 Apr 2021 at 16:17 José Manuel Opaso ***@***.***>
wrote:

[2021-04-20 20:47] FeBalla commented on #39
Vengo a responder mientras que no he olvidado la pregunta, estamos evaluando para dar una respuesta precisa 😄

**[ACTUALIZACIÓN]** A mí parecer particular son definiciones similares, aunque no equivalentes. Sin embargo, el profesor señala que **sí** pueden verlo de esa manera.

[2021-04-20 21:39] DiegoEmilio01 opened #41 "[Tarea 1] Output de #minimize CLINGO"
Hola, estoy leyendo el libro y viendo mi output de mi programa y no logro entender muy bien el significado de las soluciones. Me sugirieron que eran las respuestas a través de la optimización que hace Clingo pero quería comprobar eso.

I.e. ¿La respuesta más optima es la que debería tomar el alcalde?

[2021-04-20 23:21] DiegoEmilio01 commented on #39
@tomasalvarez13 a mi me está dando que también podría sere C. Todos los nodos restantes pueden ir a otro en un paso (sí o sí cumple) . Hasta C pueden llegar en 2 pasos pero con uno iluminado. Y desde B basta con pasar por C para ir a D. Como que una esquina iluminada es muy poderosa porque no determinísticamente puedo elegir pasar por el único camino que cumple la condición.

[2021-04-21 00:00] FeBalla commented on #39
Nada impide que existan múltiples modelos óptimos. De hecho, lo que mencionas es correcto, tanto `A` como `C` en el grafo que ponen de ejemplo puede servir; es más, para ese caso en particular cualquier nodo lo permitiría.

[2021-04-21 00:07] FeBalla commented on #41
No sé si me queda muy clara tu pregunta, pero como supondrás, la sentencia `#minimize` de Clingo minimiza algo en el programa según cómo lo utilices. La idea es que lo consulten en el libro su uso, puedan experimentar quizás con algún ejemplo hecho por ustedes para comprenderlo y, luego de todo eso, ver qué implicancia tiene esa sentencia en el programa.

De acuerdo con eso, estarás minimizando al

[2021-04-21 00:27] DiegoEmilio01 commented on #41
Muchas gracias por la respuesta! Creo que con los test que hice logré entender lo que hace. Según yo lo estoy usando bien. Mi output por consola sería el siguiente:

[code]
Creo que me Clingo debería mostrarme solo el más óptimo, pero no hace eso. Así que me gustaría saber cómo interpretar ese otro modelo que me arroja. Porque, los "Optimization: 1" que me arrojan los test es lo que a mano debería

[2021-04-21 01:20] FeBalla commented on #41
Sí lo encontró, la forma en que Clingo encuentra el óptimo es iterativa:

"_The directives `#maximize` and `#minimize` instruct clingo to improve the first stable model that it generated using a `#sum` aggregate expression as the measure of quality, **and to keep looking for better and better stable models until the best model is found**_"

En el libro, en la página 124 habla de cómo se presenta e

[2021-04-21 01:22] Aloncarrasco commented on #36
En dicha situación, yo puedo dispararle a cualquiera de esos lugares donde puede haber un wumpus?

[2021-04-21 01:27] DiegoEmilio01 commented on #41
Muchas graciass! Ahora entiendo a que se refería ese párrafo ajajaj

[2021-04-21 01:59] gustavobarrezueta opened #42 "[Tarea 1] Parte 2.2"
Hola! Sé que la en la issue #21 se trata un poco de este tema pero aún no me queda muy claro el enunciado. Se nos dice que "Además, escribe el predicado conectado_k/3 que es tal que conectado_k(X,Y,K) aparece en el modelo si y solo si existe un camino entre X e Y con exactamente K arcos no iluminados. Tal como en la pregunta anterior, asegura que conectado_k no ‘pierda’ caminos en el grafo."
Mi pr

[2021-04-21 02:25] Aloncarrasco opened #43 "[Tarea 1] P4.2 sin movidas shoot."
Hola,  que pasa si ya no tengo casillas seguras al momento de dispara?
debo intentar dispara a una casilla donde podría no haber un wumpus?
o puedo dispara a una casilla donde si o si ha un wumpus?

[2021-04-21 12:59] jmopaso commented on #40
Ok Ignacio, sigo revisando los archivos, cualquier cambio en los archivos de simulación les aviso. En todo caso, guíense más por el output que les arroja el programa por consola, el archivo simulación es sólo para que puedan jugar y visualizar de mejor forma su trabajo. También recuerda la regla de benevolencia, donde sólo debes disparar a un wumpus si es la única forma de avanzar.

[2021-04-21 14:06] jorge-ovalle opened #44 "[Tarea 1] Negación en ASP"
En clases no lo vimos, pero pueden haber reglas con una negación en _Head_?. Por ejemplo:
`not q :- p.`
`p.`

[2021-04-21 14:33] aamedinaj commented on #44
Hola,
Aunque prácticamente es posible, no tiene sentido usarla (te recomiendo no usarla).
Ejemplo:

Retornaría lo mismo que solo `p.`. Sin embargo, en la primera le dices exactamente que podría haber una constante q, entonces te va a avisar

🦊

[2021-04-21 14:39] aamedinaj commented on #43
Hola,
Te acuerdas que en el ejemplo visto en clases del wumpus el agente no se movía a una casilla hasta estar completamente seguro que, en esa casilla, no había ni  hoyo ni wumpus?
Bueno, la idea es que dispares cuando ya estés completamente seguro que estará el wumpus (o que no tienes otro camino que recorrer), porque las balas son escasas.

🦊

[2021-04-21 15:00] aamedinaj commented on #42
Hola,
(voy a asumir que te refieres solo a la parte 2.2 de la issue 21)

Si tuvieses ` conectado_k(X,Y,K)` significaría que puedes tener, entre X e Y,  cualquier cantidad de calles iluminadas y `K` calles no-iluminadas. Así que en tu pregunta: sí se considera pero con k siendo el número de arcos no iluminados.
En tu ejemplo, y solo tomando `e `como nodo iluminado, debería aparecer `conectado_k(a,e

[2021-04-21 16:25] gustavobarrezueta commented on #42
Entiendo perfecto. Muchas gracias!

[2021-04-21 17:26] sperezmasri opened #45 "[Tarea 1] 4.2 Atributos Agente"
Hola! Se puede crear nuevos atributos en la clase Agente? O solo se pueden usar los que ya vienen?

[2021-04-21 18:05] jmopaso commented on #45
Hola! Si puedes agregarle atributos, lo importante es que logres lo que dice el enunciado.

Saludos!

[2021-04-21 18:06] sperezmasri commented on #45
Ok, gracias!

[2021-04-21 19:11] vicente17 opened #46 "[Tarea 1] Pregunta 2.1"
Para analizar en que casos se produce mi error utilicé el comando clingo --text para analizar el orden en que se agregaban los predicados. Al hacer esto me aparece #Delayed, que significa esto?

[2021-04-21 19:17] jorge-ovalle commented on #43
Pero si estoy en una situación donde no tengo celdas seguras a las que moverme y no estoy seguro si en las celdas inseguras hay un wumpus o un pit, igual disparo para ver si puedo avanzar o solamente puedo disparar cuando no tengo opciones y estoy 100% seguro que en una celda en particular hay un wumpus?

[2021-04-21 19:20] jorge-ovalle opened #47 "[Tarea 1] Entorno observable"
Que el ambiente sea observable significa que puedo saber la ubicación exacta de wumpus y pits o solamente puedo conocer su numero sin saber donde se encuentran exactamente?

[2021-04-21 20:19] jmopaso commented on #47
Hola!

Significa que sólo sabes la cantidad, puedes obtenerla con `get_num_wumpus()` y `get_num_pits()`. Saludos

[2021-04-21 20:42] aamedinaj commented on #43
En el caso que el dices, donde ya no tiene celdas seguras y no estás seguro de sí dónde vas a disparar hay un wumpus o no, entonces deberías retornar que no hay solución

[2021-04-21 21:36] kylevon opened #48 "Duda output pregunta 4.1"
Qué específicamente hay que incluir en el output? Pregunto esto porque no se especifica en el enunciado, por lo que no sé hasta donde incluir. Tenemos que enumerar todos los modelos que podrían ser posibles dado lo percibido? Es decir, asignar cada elemento del tablero como safe, wumpus, pit? O lo que importa tal vez sea solamente que deduzcamos los safe's en los lugares adyacentes a alive(X,Y) en

[2021-04-21 21:48] benjavicente commented on #48
Hola! yo le pregunté esto al profesor por lo mismo, terminé con un archivo de 100Mb realizando lo primero 😅

Hay que hacer lo segundo, solo para los adyacentes.

[2021-04-21 22:00] kylevon commented on #48
Gracias! Solo para aclarar, si un output **solo** especifica **todos** los posibles estados (wumpu, pit, safe) **viables** (no violan con las reglas del juego) de las casillas vecinas a las que tienen alive en distintos mundos, entonces ese output sería correcto?

[2021-04-21 22:29] CataAlamos opened #49 "[Tarea 1] 4.1 Safe"
Hola, tengo una duda sobre ¿Qué consideramos como safe? ¿El agente esta safe si cae en un lugar donde hay breeze o stench? También, intente probar mi código con extra.lp y me da un solución unsatisfiable. ¿Está bien lo entregado en extra?
Muchas gracias

[2021-04-22 01:27] #46 closed, assigned to nobody

[2021-04-22 03:37] DiegoEmilio01 opened #50 "[Tarea 1] Pregunta 3.3 duda enunciado"
"Supón ahora que permitimos incorporar algunas reglas con negación y que estas reglas podrían generar múltiples modelos. No permitiremos disyunción en los programas, (...)"

¿No se contradice el enunciado al decir que podría haber múltiples modelos pero no hay disyunción? o  ¿se refiere a que podríamos tener pero dada la condición establecida después no hay múltiples modelos?

[2021-04-22 04:54] FeBalla commented on #49
Hola! 😄 El predicado `safe(x,y)` es una sentencia que recomendamos usar porque puede facilitar el trabajo, pero el enunciado no te obliga a usarlo. Sin embargo, para ayudarte con tu duda: les propusimos el predicado `safe(x,y)` que representa que moverse a la celda `(x,y)`  - que no ha sido necesariamente visitada - es seguro. Por lo tanto, `safe` no señala que la celda en la que se está actualmen

[2021-04-22 05:03] FeBalla commented on #50
No me termina de quedar muy clara tu duda, pero creo que hay una pequeña confusión con el enunciado 👀. Se te dice que se permite incorporar reglas con negación, pero no con **disyunción**. Un ejemplo de una regla con **disyunción** podría ser la siguiente sentencia:
[code]
Habíamos comentado en clases que este tipo de reglas puede llegar a presentar comportamientos que, a primera vista, pueden par

[2021-04-22 05:11] FeBalla commented on #48
**Pregunta 1:**

**R:** Tal como te respondió el compañero antes, efectivamente basta con deducir `safe` para las celdas adyacentes!

**Pregunta 2:**

**R**: Efectivamente, ese _output_ debería ser correcto. De todos modos, confirmaré la respuesta durante mañana para ser más preciso, pero diría que estás en lo correcto 👍 .

[2021-04-22 12:42] DiegoEmilio01 commented on #50
Okey. Me causó confusión que dijera que podría, pero no habrán; en vez de decirlo altiro jajajaja. Muchas graciass!
Edit: ya entendí que podría pasar jajajaj

[2021-04-22 13:17] tomasalvarez13 commented on #48
Hola, no me queda claro que debo retornar. Por ejemplo si tengo un input del siguiente tipo:
![Captura realizada el 2021-04-22 09 17 27](https://user-images.githubusercontent.com/48598610/115720988-9570bb80-a34b-11eb-942f-9f5e3bd4b574.png)
Cuales serian los modelos que debiera retornar mi programa?

[2021-04-22 14:11] jmopaso commented on #48
Hola Tomás,

Primero que nada encuentro muy bueno que te pongas en casos y especules lo que debería retornar el archivo wumpus.lp, muy bien!
Ahora viendo tu input, hay que tomar en cuenta que tu archivo wumpus,lp debe retornar todos los mundos posibles, por lo tanto **sólo considerando los pits** (porque tu archivo wumpus.lp podría retornar los predicados que tu estimes convenientes `ej: wumpus(x,

[2021-04-22 17:10] tomasalvarez13 commented on #48
Buenisimo ahi me quedo claro, te pasaste

[2021-04-22 17:18] kylevon commented on #48
Gracias, a mi también me quedó claro 👍

[2021-04-22 17:52] kylevon opened #51 "Duda pregunta 4.2, uso de wumpus.lp en agent.py"
Para la pregunta 4.2 se espera el uso del archivo wumpus.lp que creamos anteriormente? Si no es así, lo podemos usar de todos modos? Usando algo como:

[code]

[2021-04-22 18:06] aamedinaj commented on #51
Hola, ~~como se comentó en la sesión de la mañana~~ es esencial que en la primera parte hagas un archivo wumpus.lp para trabajar en la segunda parte.

🦊

[2021-04-22 18:45] kylevon commented on #51
Entonces sí puedo usar el archivo wumpus.lp en agents.py? Cómo lo uso? Con la estrategia que planteé?

[2021-04-22 19:05] benjavicente commented on #51
En el archivo que entregan se hace esa llamada a `wumpus.lp` junto al input sensorial (`extra.lp`), línea 84 o 86:
https://github.com/UC-IIC2613/Syllabus/blob/9443f5a804cf7cd024e3fc9473b9ec138fe5fefc/Tareas/Tarea%201/Parte%204/agent.py#L81-L87

[2021-04-22 19:09] kylevon commented on #51
Oh, perfecto. Gracias de nuevo Benja 😁

[2021-04-22 20:40] FelipeA7 opened #52 "Pregunta 2.2 con ciclos"
Hola, si tengo un grafo con varios arcos y ciclos, entonces es posible que el predicado conectado_k entregue varios resultados para algún valor de X e Y?
Por ejemplo, si tengo el grafo: (lo amarillo está iluminado)
![image](https://user-images.githubusercontent.com/48482398/115782003-22863580-a389-11eb-944d-dccd7358e8b9.png)
Estaría correcto que mi programa entregue conectado_k(a,e, 0) y conectado

[2021-04-22 21:01] jfuentesg26 commented on #52
Hola! Tu programa si estaría correcto, ya que para ambos predicados, conectado_k(a,e,0) y conectado_k(a,e,2), existe un camino entre a y e con la cantidad de arcos no iluminados que corresponde.

[2021-04-22 21:18] FelipeA7 commented on #52
Gracias!

[2021-04-22 21:47] emyskog commented on #52
Mi pregunta es similar, pero que pasa si es conectado_k(e,e,2) y conectado_k(e,e,4), y el camino que toman es el mismo, solo que uno va y vuelve? Puede devolverse al mismo nodo?

[2021-04-22 22:05] jfuentesg26 commented on #52
Hola! A que te refieres con que "va y vuelve"?

[2021-04-23 00:29] FelipeA7 opened #53 "Pregunta 1.2"
Hola, a qué se refiere con sistema computacional en la 1.2?

[2021-04-23 00:32] PabloRabeloRoa opened #54 "[Tarea 1] #Minimize solo entrega una solución (Parte 2.5)"
Hola, he estado trabajando en la parte 2 pregunta 5 y logro encontrar una respuesta óptima, sin embargo solo se muestra una y no todas. Se que hay otras respuestas óptimas distintas ya que cuando excluyo el modelo que me entrega en la primera ocasión encuentra otra respuesta distinta de igual tamaño (valor óptimo). Mi duda es como se puede mostrar todos estos modelos óptimos.

[2021-04-23 01:14] aamedinaj commented on #53
Ve si te sirve una [respuesta anterior](https://github.com/UC-IIC2613/Syllabus/issues/4#issuecomment-817322944) . Si no te sirve, detalla un poco más 🙏

🦊

[2021-04-23 03:35] FelipeA7 commented on #53
gracias, no había visto eso

[2021-04-23 03:46] FelipeA7 commented on #52
Retomando esto pero para la pregunta 2.3 de camino_minimo, puede ser que esta retorne más resultados de los que se debe? Por ejemplo, con el ejemplo anterior, dentro de los outputs de camino_minimo obtengo "camino_minimo(a,e,2)" y también "camino_minimo(a,e,0)".
El primero se obtiene pues es el camino con menor calles iluminados si usamos la ruta (A->B->C->D->E)
el segundo es el camino con menor c

[2021-04-23 04:21] carolinamaggi commented on #40
me pasó lo mismo, al agregarle más wumpus se genera mal.

[2021-04-23 16:52] sgutgar opened #55 "[Tarea 1] 4.2 código agent.py, return de unsat_without"
Hola, quería saber si el código que viene escrito en agent.py se debe dejar intacto o no, ya que por ejemplo en la linea 90, la función unsat_without dentro de get_action retorna solo un boolean en torno a los modelos. Esto es ineficiente ya que como voy a necesitar los modelos afuera de esta función tendría que volver a repetir el código. Se puede cambiar este return o el codigo se debe dejar int

[2021-04-23 17:19] jmopaso commented on #55
Hola,

Es preferible que dejes el código base intacto, sobre todo lo que está dentro de `get_action`, además no es estrictamente necesario que hagas uso de la función `unsat_without` para tu solución, está se dejó ahí porque para el profesor le fue útil usarla. También considera que la función `unsat_without` no está completa, esta deberías adaptarla según tu solución para que te retorne lo desead

[2021-04-23 21:40] sgutgar opened #56 "[Tarea 1] 4.2 ejemplo enunciado"
Hola, quería saber si el paso 4 que se hace en el enunciado (['go to', 1, 2]) esta bien. Ya que según lo que yo entendí el agente no tiene porque saber que ese lugar es safe, ya que tanto el sense breeze como el sense stench podrían significar que en esa posición hay algo.

[2021-04-24 04:47] dfloreaa opened #57 "[Tarea 1] Ciclos en la pregunta 2.2"
Retiro lo dicho, en la sesión de consultas lo responden, perdon :)

[2021-04-24 06:37] #57 closed, assigned to nobody

[2021-04-24 15:41] jmopaso commented on #40
Hola!

Ya actualice el paquete de archivos para la visualización, ahora debería funcionar bien. El paquete nuevo está disponible acá en GitHub y también en Canvas.

En todo caso, les recuerdo guiarse más por el output que les entrega el programa en consola, el archivo de simulación es sólo para que puedan jugar y visualizar mejor su trabajo.

Saludos

[2021-04-24 18:17] tvallotton opened #58 "Pregunta 2.2 Tuplas"
Hola, quiero saber como contar un objeto compuesto por otros dos objetos dentro de un set. Intente con cosas como:
[code]
Pero ninguna me resulta. Hay alguna forma de hacer esto?

[2021-04-24 19:46] gsalinas0 opened #59 "[Tarea 1] Duda 2.2"
Hola, tengo una duda con la 2.2 de la Tarea.
Lo que pasa es que el enunciado indica lo siguiente.
_escribe el predicado iluminada/2 que es tal que iluminada(X,Y) aparece en un modelo únicamente cuando (X,Y) es un arco que representa a una calle que está iluminada._
Definí un grafo como el de esta foto.
![image](https://user-images.githubusercontent.com/68198662/115970914-96ece000-a513-11eb-9a68-39

[2021-04-24 22:07] sufigueroa commented on #56
Holaa! El agente si puede saber que la celda (1, 2) es segura porque si el wumpus hubiese estado ahi, hubiera sentido su olor en (1, 3) pero no lo hizo. Lo mismo con el pit, si este hubiese estado en el (1, 2) el agente hubiera sentido la brisa en el (0, 2) :)

[2021-04-24 22:40] beatrizacuna opened #60 "[Tarea 1] P2.1"
Hola! Estoy teniendo problemas con count.
La siguiente línea : #count{ X : camino(X,Y,Largo)}. debería contar los elementos del conjunto camino(X,Y,Largo)? Y si no, qué hace?
Gracias :)

[2021-04-24 22:47] sufigueroa commented on #60
Holaa! Lo que haria ese count seria contar cuantos X aparecen cuando camino(X,Y,Largo) se cumple. Se entiende? :)

[2021-04-24 22:50] sufigueroa commented on #58
Holaa! Creo que no entiendo muy bien lo que quieres contar, puedes explicarmelo mejor plis? :)

[2021-04-24 22:51] beatrizacuna commented on #60
o sea siempre sería 1?

[2021-04-24 22:57] sufigueroa commented on #60
Probablemente si

[2021-04-24 23:04] sufigueroa commented on #59
Holaa! Claro que puedes dejarlo asi, como son grafos no dirigidos para ambos direcciones es cierto :)

[2021-04-24 23:16] tvallotton commented on #58
Lo que pasa es que estoy tratando de contar el numero de arcos(X, Y). Puedo contar los nodos si hago algo como `#count { X : condicion(X) }`, pero no puedo contar el numero de arcos `#count { arco(X, Y) : condicion(X) }`. Queria saber si hay alguna manera de hacer algo asi.

[2021-04-24 23:21] sufigueroa commented on #58
Siii claro que se puede, el lado izquierdo de tu count esta bien. Trata probando con condiciones distintas para que veas como funciona el count.

[2021-04-24 23:23] tvallotton commented on #58
Ah. Ahora hice un test y me funcionó. Gracias

[2021-04-24 23:23] #58 closed, assigned to sufigueroa

[2021-04-24 23:42] sufigueroa commented on #58
Yaa buenisimo!! Suerte!! :)

[2021-04-25 02:21] carolinamaggi commented on #55
Me sumo a la pregunta porque yo también retorné los modelos en usan_without() y no solamente True o False

[2021-04-25 02:24] tomytable opened #61 "[Tarea 1] 2.4 Interpretación tamaño del programa"
Hola, tengo la duda de lo que se refiere el tamaño del programa instanciado. Es la cantidad de instancias para cada uno de nuestros predicados en función de m y n? Hay que obtener resultados independientes para el el programa de la pregunta 2 y 3?

Gracias!

[2021-04-25 03:36] DiegoEmilio01 opened #62 "[Tarea 1] P.4 "atom does not occur in any rule head: sense_breeze(X,Y)""
Hola, mi programa funciona bien al parecer, pero cuando el agente no ha descubierto celdas con olor o briza, su respectiva regla arroja esta advertencia en el output. ¿Es correcto que lo haga? ¿Existe alguna forma de silenciarlo (desde el código o comando de ejecución)?

¡Muchas gracias por adelantado!

[2021-04-25 03:41] FeBalla commented on #54
Hola, lamento la demora 😢 Si te refieres a cómo pedirle a Clingo que muestre todos los modelos de un programa, debes añadir el _flag_ `-n0` al comando de ejecución. En las _slides_ de la Ayudantía 1 hay información sobre esto!

[2021-04-25 18:26] amahns1 opened #63 "P.3.1 - Subconjunto de si mismo"
Hola!

En la definición vista en clases, `M` es un modelo de `π` solamente si `M` es minimal.
En la pregunta nos piden demostrar: dado `π subset π'` y `M` modelo de `π`, mostrar que existe `M'` de `π'` tal que `M subset M'`.

Mi duda es que me da la sensación de que `M` debe ser igual a `M'` para que se cumpla `M subset M'`. No veo manera de que en todos los casos haya un minimal `M'` que sea más

[2021-04-25 20:02] dfloreaa opened #64 "[Tarea 1] Pregunta 3.3 - A qué se refiere con "átomos negados"?"
A la hora de calcular la complejidad de nuestro algoritmo, dice que a lo más puede ser exponencial en el número de átomos negados en el programa, a que se refiere con "átomos negados"? En el enunciado dice que el programa es sin negación

[2021-04-25 20:06] benjavicente opened #65 "[Tarea 1] Cardinalidad de Body en 3.2"
Hola! Las reglas tipo ``Head ← Body`` pueden tener ``Body = 0``, es decir, reglas de formato `a :- .` o `a.`?

[2021-04-25 20:36] emyskog commented on #61
up

[2021-04-25 20:37] jac-34 commented on #61
up x2

[2021-04-25 21:21] knight-who-says-ni opened #66 "[Pregunta 2.1] Camino de varios largos."
Hola!! Tenia una duda con la 2.1, y es que podría pasar que entre dos nodos hay más de una manera de llegar de uno al otro (sin ciclos). En este caso, deberíamos mostrar solo la más corta? O esta bien si mostramos ambas??

Muchas gracias!!

[2021-04-25 22:17] nachobascar opened #67 "[Tarea 1] Disparar sin saber si hay wumpus"
Hola!! Quería saber si, en el caso que no haya nada más que hacer, y se tengan celdas donde podrían haber wumpus pero no se sabe con seguridad. ¿Podría disparar a esas celdas y luego marcarlas como seguras? Ya que, aunque no haya un wumpu, después de disparar es seguro que no hay nada. ¿O solo se puede disparar cuando se sabe con seguridad que hay un wumpu?

[2021-04-26 00:54] dtgazmuri commented on #63
Hola!

No necesariamente son iguales. Piensa que `M'` es un modelo de un programa que tiene al menos las mismas reglas que el programa del cual `M` es modelo. El programa `\pi'` puede contener reglas adicionales no presentes en `pi`(debido a que `\pi \subset \pi'`), las cuales deberán ser consideradas a la hora de construir un modelo para él.

[2021-04-26 00:56] dtgazmuri commented on #63
Hola!

No necesariamente son iguales. Piensa que `M'` es un modelo de un programa que tiene al menos las mismas reglas que el programa del cual `M` es modelo. El programa `π'` puede contener reglas adicionales no presentes en `π` (debido a que `π subset π'`), las cuales deberán ser consideradas a la hora de construir un modelo para él.

[2021-04-26 01:01] dtgazmuri commented on #65
Hola!

Las dos siguientes líneas son equivalentes y válidas:

`a :- .`
`a.`

En ambos casos, `a` estará en el modelo.

Saludos

[2021-04-26 01:14] amahns1 commented on #63
Hola!

Entiendo. Pero en la definición de programa sin negación se exige que `M` sea un modelo minimal de un programa `π`. Además, hay que probar que existe un modelo `M'` perteneciente a `π` tal que `M subset M'`. En ese caso, si `M'` es más grande que `M` dejaría de ser minimal, por lo que para que `M'` sea minimal de `π'`, `M'` no debería ser equivalente a `M`?

[2021-04-26 01:23] dtgazmuri commented on #62
Hola!

Tal como dices tanto tú como el mensaje, esto ocurre porque ninguna regla que contenga a `sense_breeze(X,Y)` en la `Head` es parte del modelo. Esto no es un problema. Más que una advertencia es simplemente información.

[2021-04-26 02:31] amahns1 opened #68 "Duda enunciado pregunta 3.3"
Hola!

El enunciado de la pregunta 3.3 dice

aparecen negados en tu programa, y que usa al algoritmo descrito arriba como subrutina para calcular
correctamente todos los modelos.

Tego un par de dudas respecto a esto y a la pregunta en general:

1) No me queda claro la función del nuevo algoritmo. ¿El algoritmo debe calcular los modelos posibles del programa con negación?
2) Cuando piden que en el

[2021-04-26 04:36] fernandomg18 commented on #61
up x3

[2021-04-26 06:20] ignaciovilla opened #69 "Inducción en Pregunta 3.2"
Leyendo la issue #34 me surge la siguiente duda, ¿si n=0 entonces |Head| = 0, o puede ocurrir que n=0 y |Head| = 1?
Muchas gracias

Quería agregar, que tan formal tiene que ser la demostración? en el sentido de que estoy recién teniendo un ramo en que se habla sobre las demostraciones formales y no se si con lo que se hasta ahora puedo hacer una demostración formal a este problema.
Muchas gracias

[2021-04-26 12:58] jfuentesg26 commented on #61
Hola! Con respecto a la primera parte de tu pregunta la cantidad de instancias hace referencia a la suma de los átomos instanciados para cada uno de tus predicados. Como ejemplo supón el siguiente programa:

animal(X) :- gato(X)
gato(felix)

Nota que esto genera 2 átomos instanciados que son gato(felix) y animal(felix), entonces tu cantidad de instancias es 2. Ahora para tu caso debes buscar una f

[2021-04-26 13:02] tomytable commented on #61
Me queda claro, gracias!

[2021-04-26 13:10] jfuentesg26 commented on #64
Hola! El programa si tiene negación, nota que el enunciado dice justo después de la enumeración :  "Supón ahora que permitimos incorporar algunas reglas con negación...".

En este caso los átomos negados son aquellos que provienen de predicados que se niegan en tu programa. Espero haya quedado claro! Quedo atenta :)

[2021-04-26 13:17] jfuentesg26 commented on #69
Hola! El caso que sugieres no puede ocurrir, nota que si ya tienes un |Head| = 1, tu programa puede ser algo asi:

gato(X)

Pero gato(X) ya cuenta como regla, así que es contradictorio.  Con respecto a la formalidad, te recomiendo que estudies un poquito sobre inducción, pero básicamente debes encontrar un caso base que sabes que cumple lo pedido, y encontrar un "paso de inducción" que te permita

[2021-04-26 13:18] jfuentesg26 commented on #66
Hola!! Esta bien si muestras ambos caminos si es que son distintos :)

[2021-04-26 13:48] ignaciovilla commented on #69
En este caso "Si se cumple esto para X entonces se cumple para X + 1", si tendría que considerar ambos casos |Head|=0 y |Head|=1 para "X" y "X+1" o no?
Y además tengo la misma duda sobre formalidad para toda la pregunta 3, porque en la 3.1 también se pide una demostración y no se como verificar que lo que hice en el resto de la pregunta cumple con la formalidad.
Muchas gracias

[2021-04-26 14:09] knight-who-says-ni commented on #66
Gracias!!

[2021-04-26 14:14] jmopaso commented on #67
Hola!

Es preferible que dispares sólo cuando estás seguro que ahí hay un wumpus, revisa la issue #43 donde se habla algo parecido.

Saludos!

[2021-04-26 15:05] dtgazmuri commented on #63
Para que `M` sea modelo de un programa `π`, se debe cumplir que `M ∩ Head ≠ ∅` para cada `Head ← Body ∈ π` donde `Body ⊆ M`. Así, si el programa `π'` introduce reglas nuevas (respecto a `π`), estas **deben** ser consideradas al construir un modelo `M'`. El concepto de minimalidad no se trata de ignorar reglas que deben considerarse, sino que de elegir la mínima cantidad de átomos posibles de cada

[2021-04-26 15:25] dtgazmuri commented on #68
Hola!

1. Sí, debe retornar todos los modelos de un programa que podría tener algunas reglas con negación.
2. Se refiere a que la complejidad debe ser, en el peor caso, igual o menor a exponencial respecto a la cantidad de reglas con negación en el programa. No debes calcular la cantidad de átomos negados. Te recomiendo revisar e intentar entender la notación O de complejidad.
3. Sí, lo sería. Ade

[2021-04-26 17:28] jfuentesg26 commented on #69
Con respecto a la primera parte debes considerar todos los casos donde |Head| <= 1 como lo dice el enunciado.
Con respecto a la pregunta 3.1 puedes basarte en el formato que utiliza el profesor en sus demostraciones.

[2021-04-26 17:44] ignaciovilla commented on #69
Muchas gracias

[2021-04-26 21:32] dfloreaa opened #70 "[Tarea 1] P4.2 - Crear atributos a la clase Agent"
Hola, me gustaria guardar aquellas casillas a las que he disparado para utilizarlo en mi código, es posible crear un atributo nuevo a la clase Agent en donde tenga una lista con las casillas a las que he disparado? Gracias :)

[2021-04-26 21:32] dfloreaa commented on #70
Mala mia, fue respondido en [#45](https://github.com/UC-IIC2613/Syllabus/issues/45)

[2021-04-26 21:33] #70 closed, assigned to nobody

[2021-04-26 21:56] amahns1 commented on #68
Entiendo.

Gracias!

[2021-04-26 22:45] beatrizacuna opened #71 "[Administrativo] Discord"
Hola! Quería saber si tenemos discord del curso, porque tengo unas dudas en mi código que preferiría en lo posible responder por voz 😄

[2021-04-26 22:59] gsalinas0 opened #72 "[Tarea 1] 2.5: No logro encontrar el mínimo"
Hola. Para la actividad 2.5 de la tarea en mi codigo realizo lo siguiente:

- defino el grafo, nodos y arcos.
- defino un predicado `contar_encendidos` que me cuenta cuantos nodos tengo iluminados. Esto es lo que intento minimizar.
- defino los predicados `iluminada` y `arco_oscuro` que me indican si un arco del grafo está siendo iluminado o no.
- defino el predicado conectado_k(X,Y,K), que de apa

[2021-04-26 23:22] Pdesolmi commented on #55
Yo también retorno modelos en esa función

[2021-04-27 01:31] lucas-valenzuela opened #73 "[Tarea 1] complejidad 3.3"
Hola,

El enunciado dice:

Entiendo con exponencial que la complejidad máxima sería algo del estilo `base^n`. Ahora bien, podría ser base igual a `n`, implicando que la complejidad límite es `n^n`? Lo pregunto porque no se dice nada con respecto a la base, y matemáticamente hablando tengo extendido que `n^n` también es una expresión exponencial.

Lo pregunto porque creo cómo hacer una solución fac

[2021-04-27 01:44] aamedinaj commented on #73
Hola, si te fijas `n^n` es mucho más violento que una base fija, crece mucho más rápido que un orden exponencial. No podrías usarlo.

🦊

[2021-04-27 03:43] fernandomg18 commented on #65
Hola! otra duda relacionado con esto, las reglas del tipo `:- a` quieren decir que la cardinalidad del Head es 0? y por lo tanto el Head de algún modo seria vacío?

[2021-04-27 12:37] benjavicente opened #74 "[Tarea 1] - Duda cantidad modelos Parte 3.2"
En el enunciado se menciona que hay que demostrar para `|Head| <= 1`, cuando debería ser `|Head| = 1`, ya que con `|Head| = 0` el enunciado a demostrar es falso.

[2021-04-27 15:26] CataAlamos opened #75 "[Control Clase 12] Duda enunciado"
Hola, tengo dudas del enunciado, ¿En las grillas se permite el movimiento diagonal? Otra duda que tengo, ¿Cuando dice que se expande dos nodos, se refiere que los dos caminos llegan al nodo objetivo y de ahí se compara O se expande solamente C1, y se da vuelva a C2 y C4?
Muchas gracias

[2021-04-27 15:44] tomytable commented on #75
Tengo la misma duda respecto a los nodos que "expando". ¿Considero que expandir el nodo es ver con quienes está conectado? Y en ese caso, considero que estoy expandiendo el nodo inicial (h=4)? O empiezo a contar los expandidos con los nodos h=3 y h=3?
Gracias

[2021-04-27 15:51] Jamidd commented on #75
Hola,

como se dice en el enunciado, estan disponibles los 8 movimientos (arriba, abajo, izq, der, diag izq sup, diag izq inf, diag der sup, diag der inf).

En A* existe una parte del algoritmo que se conoce como expansión. En esta tú eliges un nodo bajo un criterio y revisas a sus "hijos" para ver si los metes a la lista `Open`. Lo que se pide es que esta parte del algoritmo solo se ejecute dos v

[2021-04-27 15:57] tomytable commented on #75
Gracias!

[2021-04-27 15:58] Jamidd commented on #75
Hola,

A muy grandes rasgos, en A* tu partes con un nodo inicial
- lo expandes y agregas sus 'hijos' a open de ser pertinente (expansión 1)
- elijes un nodo de open bajo cierto criterio
- lo expandes y agregas sus 'hijos' a open de ser pertinente (expansión 2)
- elijes un nodo de open bajo cierto criterio
- lo expandes y agregas sus 'hijos' a open de ser pertinente (expansión 3)
- ...
Lo que se pi

[2021-04-27 16:11] dtgazmuri commented on #65
Una regla de ese tipo funciona como la negación de `a`. Esto quiere decir que si escribes la regla `:- a.`, `a` no estará en el modelo.

[2021-04-27 18:20] gsalinas0 opened #76 "[Tarrea 1]2.5: El minimize debe entregar soluciones con la misma cantidad de nodos iluminados?"
Hola. Entiendo que al intentar trabajar con el `minimice`, le estamos diciendo a clingo que, dada una condición, minimice la cantidad de nodos que hay que iluminar. Mi pregunta es... para todos los modelos que debise dar clingo, ¿en todos debería indicarse que se iluminen la misma cantidad de nodos?
Pregunto porque en lo que tengo yo, para este grafo:
![image](https://user-images.githubusercontent

[2021-04-27 18:40] gsalinas0 commented on #76
Con respecto a la última duda, hice la prueba en clingo de utilizar `#minimize` por un lado, e iluminar otros nodos manualmente. Me retornó esto:
(`par_listo(X,Y)` significa que entre los nodos X e Y hay un camino con a lo más una calle a oscuras)
![image](https://user-images.githubusercontent.com/68198662/116294447-fb06e280-a765-11eb-8b66-f9c05b7b5374.png)
Como se ve tanto la opción entregada por

[2021-04-27 20:52] Dnpoblete commented on #71
Hola @beatrizacuna!

Lamentablemente no tenemos Discord y veo complicado que lo implementemos para este semestre dado la cantidad de ayudantes que somos y el tiempo extra que implicaría tener un Discord 😔.  De todas formas hablaré el tema con los profesores, con la finalidad de ver si podríamos hacer algo por el estilo para un par de ayudantías este semestre, pero lo veo muy poco probable. De toda

[2021-04-27 21:05] jorge-ovalle opened #77 "[Tarea 1] Parte 4"
Se puede modificar el código de agent.py? Algunas cosas no las utilicé y preferí implementar otras funciones.

[2021-04-27 21:09] FeBalla commented on #72
Hola! Es un poco complicado saber con certeza qué puede estar fallando, ya que no podemos ver el código. Sin embargo, por la naturaleza de la respuesta creo que lo que puede estar fallando es la parte en la que detectas que efectivamente se pueda llegar a cualquier nodo con a lo más una calle oscura. Creo esto por lo siguiente:

- El primer modelo que encuentra durante el proceso de optimización t

[2021-04-27 21:21] jmopaso commented on #74
Hola! Fíjate que en el enunciado se señala que tiene `a lo más un modelo`.

Saludos.

[2021-04-27 21:25] jmopaso commented on #77
Hola! Si puedes hacerlo siempre y cuando el método `get_action` retorne lo deseado dado una cierta precepción.

Saludos!

[2021-04-27 21:31] joaquinhernandezg opened #78 "[Tarea 1] [Parte 4] Shoot action"
Es obligatorio que shoot se haga sobre una celda adyancente? No sale explícitamente en el enunciado y el programa tampoco lo prohibe.

[2021-04-27 21:35] FeBalla commented on #76
Te dejo una serie de comentarios a continuación:

- Para el ejemplo que muestras, si se trata de que haya a lo más una calle oscura entre cualquier par de nodos, entonces el óptimo se alcanzaría tan solo con que se encienda un único nodo cualquiera.
- Tanto `#minimize` como `#maximize` se pueden entender como sentencias derivadas de un problema de optimización que busca minimizar/maximizar la cant

[2021-04-27 21:40] jmopaso commented on #78
Hola!

No es obligatorio, puedes disparar desde cualquier posición siempre y cuando estés seguro que ahí hay un wumpus y cumplas con el principio de benevolencia.

Saludos!

[2021-04-27 21:46] benjavicente commented on #74
Va, toda la razón 😅

[2021-04-27 22:38] ignaciovilla opened #79 "[Pregunta 2]"
Me surge la siguiente duda, puedo asumir que no necesito tener un camino de la forma "camino(a,a,k)" con k <= 0- ya que no le veo la utilidad de definir un camino que vuelva a si mismo.
Muchas gracias.

[2021-04-27 22:54] tomytable commented on #54
Hola, no sé si Pablo se refería a esto pero yo estoy teniendo el mismo problema. Tengo una configuración en la que se puede prender un nodo u otro y en ambos casos resulta. Es decir, tengo dos óptimos en los que puedo prender solo un nodo, sin embargo, al minimizar los modelos, clingo entrega solo uno de ellos a pesar de usar el flag ```-n0```. Basta con que muestre uno o debo mostrar todos los óp

[2021-04-27 23:56] dtgazmuri commented on #79
Hola

Si es que k <= 0, en realidad no se tiene un camino, pues no se recorre ningún arco. Así, no tendría sentido que `camino(A,A,0)` estuviera en el modelo (creo que esa era tu duda).

Saludos

[2021-04-28 00:02] ignaciovilla commented on #79
Perdón, era k >= 0.

[2021-04-28 00:08] dtgazmuri commented on #79
En ese caso, tu modelo sí debería incluir `camino(A,A,k)`, pues el camino efectivamente existe. No es trivial decirlo, pues el hecho de que esto esté presente en el modelo significa que el grafo es cíclico.

[2021-04-28 01:49] ignaciovilla commented on #79
Perfecto, gracias

[2021-04-28 03:00] FeBalla commented on #54
Ah, comprendo tu duda. Bastaría con que muestres uno de los óptimos, siempre y cuando realmente lo sea! 😄

[2021-04-28 13:50] CataAlamos opened #80 "[Tarea 1] 2.4 Duda del Teorema Maestro"
Hola, para hacer uso del teorema maestro para ver el tamaño del programa se tienen que contar los ifs, pero se me dificulta en clingo. Los ifs, son ¿Cómo definimos los predicados? Por ejemplo, se nos dice: `nodo(X) :- arco(X,Y).`, ¿Eso sería un if?
Gracias

[2021-04-28 16:13] baosse opened #81 "[Tarea 1] Parte 4.2 - Sentir la briza"
Holaa, tengo una duda con implementar los movimientos cuando hay pozos cercanos.

Cuando se ponen pozos cercanos solo retorna la sensación de briza una sola vez, por lo que el pozo podría estar a pualquiera de sus lados, pero si tengo muchos pozos cerca, como sabrá de qué pozo viene la brisa? me surgió la duda porque al colocar al agente en la posición (3,2) en map.txt me toma el primer pozo como

[2021-04-28 16:20] beatrizacuna opened #82 "[Tarea 1] Monotonía"
Holaa 😺  perdón lo pava pero en las clases no encontré la definición de monotonía y busqué en google pero prefiero asegurarme de que es la correcta, alguien podría definirla aquí? Graciaaas 💓

[2021-04-28 17:52] beatrizacuna commented on #63
@dtgazmuri  Aquí querias decir Body ⊆ M?

[2021-04-28 18:15] FeBalla commented on #82
En particular para la tarea cuando te piden demostrar la monotonía se refieren exactamente a lo que viene después en el enunciado:

"_Específicamente, demuestra que si Π y Π0 son dos programas tales que Π ⊆ Π0 y M es un modelo de Π, entonces existe un modelo M0 de Π0 tal que M ⊆ M0_"

No es necesario que te confundas con el concepto en sí, sino que debes demostrar eso 😄 . Mucho ánimo!

[2021-04-28 18:30] FeBalla commented on #81
Hola! Bajo el caso que tu mencionas, si te encuentras rodeado, por ejemplo, por 2 pozos, entonces solo puedes moverte a una celda si tienes una certeza **demostrable** de que aquel movimiento es seguro. Me explico: si estás en una celda `(x,y)` y sientes una brisa, entonces debe haber un pozo en una o más de las celdas vecinas. Por lo tanto, si yo cuento con **tan solo esa información**, entonces

[2021-04-28 18:48] beatrizacuna commented on #82
Yaa gracias 😄  y otra duda, puedo decir que existe el modelo M' para demostrar que M ⊆ M' ? o debo demostrar primero que existe el modelo M'?

[2021-04-28 18:52] fernandomg18 commented on #65
Muchas gracias!

[2021-04-28 18:52] dtgazmuri commented on #63
Sí, tienes razón. Lo editaré.
Gracias!

[2021-04-28 19:01] baosse commented on #81
Muchas gracias!

[2021-04-29 01:53] beatrizacuna commented on #71
Encuentro buena opción la de dedicar ayudantías a resolver dudas de la tarea, ojalá se pueda hacer 😄

[2021-04-29 15:26] jac-34 opened #83 "[Tarea 1] penalidad atraso"
Hola, ayer se me olvido pushear una parte de la pregunta 3 y queria ver cual es la penalidad de pedir que te corrijan con atraso, para ver si vale la pena subir lo que se me olvido y aceptar el descuento o dejarlo asi no mas.

Gracias

[2021-04-29 16:15] Dnpoblete commented on #83
Hola@jac-34, el descuento es de 5 décimas por día de atraso con un máximo de 1 semana, por lo que podrías entregar hasta las 23:59 de hoy y tener un descuento de 5 décimas. Si deseas entregar tarde y que consideremos los cambios que realizaste fuera del plazo, debes enviar un correo a iic2613@ing.puc.cl como se notificó en el último anuncio enviado por canvas hasta hoy a las 18:30. De lo contrario

[2021-04-29 16:16] #56 closed, assigned to sufigueroa

[2021-04-29 16:16] #59 closed, assigned to sufigueroa

[2021-04-29 16:16] #60 closed, assigned to sufigueroa

[2021-04-29 16:16] #61 closed, assigned to jfuentesg26

[2021-04-29 16:16] #62 closed, assigned to dtgazmuri

[2021-04-29 16:16] #63 closed, assigned to dtgazmuri

[2021-04-29 16:16] #64 closed, assigned to jfuentesg26

[2021-04-29 16:16] #65 closed, assigned to dtgazmuri

[2021-04-29 16:16] #66 closed, assigned to jfuentesg26

[2021-04-29 16:16] #67 closed, assigned to jmopaso

[2021-04-29 16:16] #68 closed, assigned to dtgazmuri

[2021-04-29 16:16] #69 closed, assigned to jfuentesg26

[2021-04-29 16:16] #71 closed, assigned to Dnpoblete

[2021-04-29 16:16] #72 closed, assigned to FeBalla

[2021-04-29 16:16] #73 closed, assigned to aamedinaj

[2021-04-29 16:16] #74 closed, assigned to jmopaso

[2021-04-29 16:16] #75 closed, assigned to Jamidd

[2021-04-29 16:16] #76 closed, assigned to FeBalla

[2021-04-29 16:16] #77 closed, assigned to jmopaso

[2021-04-29 16:16] #78 closed, assigned to jmopaso

[2021-04-29 16:16] #79 closed, assigned to dtgazmuri

[2021-04-29 16:16] #80 closed, assigned to nobody

[2021-04-29 16:16] #81 closed, assigned to FeBalla

[2021-04-29 16:16] #82 closed, assigned to FeBalla

[2021-04-29 16:17] #30 closed, assigned to jmopaso

[2021-04-29 16:17] #31 closed, assigned to jmopaso

[2021-04-29 16:17] #32 closed, assigned to jmopaso

[2021-04-29 16:17] #33 closed, assigned to jfuentesg26

[2021-04-29 16:17] #34 closed, assigned to FeBalla

[2021-04-29 16:17] #35 closed, assigned to jmopaso

[2021-04-29 16:17] #36 closed, assigned to jmopaso

[2021-04-29 16:17] #37 closed, assigned to FeBalla

[2021-04-29 16:17] #39 closed, assigned to FeBalla

[2021-04-29 16:17] #40 closed, assigned to jmopaso

[2021-04-29 16:17] #41 closed, assigned to FeBalla

[2021-04-29 16:17] #42 closed, assigned to aamedinaj

[2021-04-29 16:17] #43 closed, assigned to aamedinaj

[2021-04-29 16:17] #44 closed, assigned to aamedinaj

[2021-04-29 16:17] #45 closed, assigned to jmopaso

[2021-04-29 16:17] #47 closed, assigned to jmopaso

[2021-04-29 16:17] #48 closed, assigned to FeBalla

[2021-04-29 16:17] #49 closed, assigned to FeBalla

[2021-04-29 16:17] #50 closed, assigned to FeBalla

[2021-04-29 16:17] #51 closed, assigned to aamedinaj

[2021-04-29 16:17] #52 closed, assigned to jfuentesg26

[2021-04-29 16:17] #53 closed, assigned to aamedinaj

[2021-04-29 16:17] #54 closed, assigned to FeBalla

[2021-04-29 16:17] #55 closed, assigned to jmopaso

[2021-04-29 16:17] #3 closed, assigned to FeBalla

[2021-04-29 16:17] #4 closed, assigned to jmopaso, aamedinaj

[2021-04-29 16:17] #5 closed, assigned to aamedinaj

[2021-04-29 16:17] #6 closed, assigned to jmopaso

[2021-04-29 16:17] #8 closed, assigned to jmopaso, aamedinaj

[2021-04-29 16:17] #9 closed, assigned to FeBalla

[2021-04-29 16:17] #10 closed, assigned to FeBalla

[2021-04-29 16:17] #11 closed, assigned to jfuentesg26

[2021-04-29 16:17] #12 closed, assigned to jmopaso

[2021-04-29 16:17] #13 closed, assigned to jmopaso, jfuentesg26

[2021-04-29 16:17] #14 closed, assigned to aamedinaj

[2021-04-29 16:17] #15 closed, assigned to dtgazmuri

[2021-04-29 16:17] #16 closed, assigned to aamedinaj

[2021-04-29 16:17] #17 closed, assigned to jfuentesg26

[2021-04-29 16:17] #18 closed, assigned to jmopaso

[2021-04-29 16:17] #19 closed, assigned to FeBalla

[2021-04-29 16:17] #21 closed, assigned to aamedinaj

[2021-04-29 16:17] #22 closed, assigned to aamedinaj

[2021-04-29 16:17] #23 closed, assigned to jfuentesg26

[2021-04-29 16:17] #25 closed, assigned to jfuentesg26

[2021-04-29 16:17] #26 closed, assigned to jmopaso

[2021-04-29 16:17] #27 closed, assigned to sufigueroa

[2021-04-29 16:17] #28 closed, assigned to jmopaso

[2021-04-29 16:17] #29 closed, assigned to sufigueroa

[2021-04-29 16:17] #2 closed, assigned to FeBalla

[2021-05-10 20:31] bjbarias opened #84 "[Ayudantía 4] Pregunta demostración de cota"
Hola! Estaba revisando la ayudantía 4, y no me quedó claro lo que pasa en el minuto 19:45:
<img width="427" alt="Screenshot_7" src="https://user-images.githubusercontent.com/37160829/117720656-edf9e280-b1ac-11eb-932d-8cd57919dbb9.png">

¿Qué es el s*? Creo que no se define.

Gracias!

[2021-05-14 20:46] antoniaalcayaga opened #85 "Video Parte 2 [Tarea 3]"
Hola,

Me surgió la duda si en el video podemos asumir que quienes lo ven ya conocen la heurística de distancias manhattan y si debemos explicar el algoritmo (que sale en el paper) con que se calcula la heurística de conflictos lineales o solo hay que explicar como se calcula con los ejemplos para las distintas situaciones.

Gracias!!

[2021-05-15 23:27] vchadwick opened #86 "Tarea 2 - Parte 2.1 a) Costo de un estado a otro"
Hola! Tengo una duda sobre el costo de un estado s a otro s', denotado como c(s,s') en la definición de consistencia. ¿Ese valor necesariamente va a ser 1? Porque en definitiva, para un grafo cualquiera podriamos definir el costo de ir a un estado a otro como cualquier valor constante C >= 0.

[2021-05-15 23:48] aamedinaj commented on #86
Hola
No es necesariamente 1 en general, pero en particular para el problema del puzle tiene sentido que todos los movimientos van a tener el mismo costo (a los vecinos), y por simplificación se toma costo = 1. Si quieres hacer una respuesta más general, puedes, pero no ganas mucho 🤔 .

🦊

[2021-05-15 23:55] jmopaso commented on #85
Hola!

Sobre tu primera duda, como dice en el enunciado ```la idea es que el video pueda ser comprensible para una persona que le hayan enseñado A* con el ejemplo del puzzle```, se entiende por esto que quienes ven el video al menos saben de heurísticas, te recomiendo que el enfoque que le des a tu video sea similar a como lo enfrentan en el _paper_ que hay que leer en esta parte, de todas formas

[2021-05-17 21:04] milosoria opened #87 "[Tarea 2][Pregunta 1] Duda criterio de desempate"
Hola! Tengo una pequeña duda en el criterio de desempate que se describe en el enunciado

que f(n1) = f(n2)), debiera preferir para expansión a aquel que tiene el mayor valor g
Por qué se toma el nodo con mayor g y no al revés? Pensaría que el desempate lo gana el nodo con menor h y/o menor g.
De antemano, gracias!!

[2021-05-17 21:16] diegomendieta commented on #87
Hola @milosoria, si entendí bien, la duda que tienes es parte de la pregunta que debes responder. En todo caso, piensa que si dos nodos tienen un mismo f, entonces a mayor g, menor h. La pregunta es: qué significa que un nodo tenga mayor g que otro y, por qué, en ese caso, me conviene elegirlo?

[2021-05-17 23:14] josejimenezp opened #88 "[Tarea 2][Pregunta 1] Parte 4"
Hola! En el enunciado dice que modifiquemos el archivo astar, pero me hace más sentido modificar el archivo binary_heap. Es necesario modificar el astar o se puede hacer modificando el otro archivo? Gracias!

[2021-05-18 00:10] gustavobarrezueta opened #89 "[Tarea 2][Pregunta 1] Critero de desempate"
Hola! Sé que esta duda la trataron en una issue anterior pero lo vuelvo preguntar porque tenía la misma duda y la respuesta no la resolvió.
En el enunciado se dice que el criterio de desempate que debemos ocupar es expandir aquel nodo que tenga mayor g. Además, debemos encontrar por qué lo anterior "tiene sentido", pero me pasa que lo contrario me hace sentido jajaja. Mi pregunta es, es posible qu

[2021-05-18 00:29] diegomendieta commented on #89
Hola, voy de nuevo.

El enunciado está bien. Acabo de buscar y hay preguntas en stackoverflow que pueden ser de ayuda; te recomiendo que busques por ahí, a ver si se te aclara el panorama. La pregunta quiere que contestes por qué, en caso de empate, conviene más como criterio de desempate la función g(n) (que corresponde al costo real del camino recorrido hasta n) que h(n) (que corresponde a la (s

[2021-05-18 00:40] SarahEverke commented on #88
Hola, para resolver la pregunta no es necesario modificar el archivo `binary_heap`.

[2021-05-18 04:20] gsalinas0 opened #90 "[Tarea 2][Pregunta 1] Inducción del video"
Hola. Estoy viendo el video que se menciona en la pregunta 1.2, pero no logro entender la inducción que hace el profe cerca del minuto 2:30. Me lo podrían por favor explicar (de preferencia con peras y manzanas)?

Saludos

[2021-05-18 05:16] gsalinas0 commented on #90
Tampoco entiendo este reemplazo que hace el profesor:
![image](https://user-images.githubusercontent.com/68198662/118594017-b247b580-b776-11eb-9040-7ec1c52d58b5.png)
Me llama la atención que _s_ tenga un f menor que _s*_, que se se trata de un nodo (en la open) que forma parte del camino óptimo hacia _sgoal_, lo que me haría pensar que debería tener un f menor que cualquier otro nodo en la open. P

[2021-05-18 14:38] diegomendieta commented on #90
Hola, @Gsalinas1506. Lo que se intenta demostrar es que en todo momento, durante la ejecución de Weighted A*, hay un estado en Open que: está en el camino óptimo; y que el costo registrado hasta alcanzarlo corresponde a la distancia real desde el inicio.

La inducción parte presentando el caso base, considerando el nodo de inicio. En este se cumple trivialmente que está en un camino óptimo hacia e

[2021-05-18 16:06] gsalinas0 commented on #90
Yaa perfecto, ya entendí. Muchas Graciass

[2021-05-18 16:11] #90 closed, assigned to diegomendieta

[2021-05-18 17:06] knight-who-says-ni commented on #88
Pero podemos modificarlo?? Yo ya lo hice modificando `binary_heap` y me hace mucho mas sentido hacerlo de esa forma... Gracias!!

[2021-05-18 17:56] kylevon opened #91 "[Tarea2] Video - ¿Puede ser en inglés?"
Puedo hacer el video de la parte 2 en inglés en vez de español?

[2021-05-18 19:03] diegomendieta commented on #91
Hola, @kylevon. Sí, puede ser en inglés.

[2021-05-18 19:03] #91 closed, assigned to diegomendieta

[2021-05-18 22:58] josejimenezp opened #92 "[Tarea 2][Pregunta 1] A* o Weighted A*"
Hola, me entró la duda si estamos implementando A* o Weighted A*, ya que hay preguntas que se hacen sobre uno y otras sobre otro. Por otro lado, el código que nos entregan es de A* (que se nota en la función fvalue que no toma en cuenta el weight) pero también tiene la opción de cambiarle el peso, entonces estoy un poco confundido 😕

[2021-05-18 23:13] #83 closed, assigned to Dnpoblete

[2021-05-18 23:26] diegomendieta commented on #92
Hola, implementa Weighted A*. Recuerda que A* es un caso particular de Weighted A*, por lo que si luego necesitas correr A*, basta con usar w=1.

[2021-05-19 00:40] DiegoEmilio01 opened #93 "[Tarea 2][Pregunta 1] Exponencialmente más ineficiente"
Hola, me gustaría saber a que se refiere con "exponencialmente más ineficiente". ¿Es esto que de O(n) pasa a O(2**n)? En ese caso, ¿pasar de O(1) a O(n) cuenta como exponencialmente más ineficiente? Por ahora, se me ocurre solo ese último caso como ejemplo.
Muchas gracias de antemano!

[2021-05-19 13:06] fivaldivia commented on #84
Hola! El s* viene de g*(s) la cual es la distancia de el estado inicial a un estado óptimo, el cual sería s*. Avísame si quedó claro!

[2021-05-19 14:06] gustavobarrezueta opened #94 "[Tarea 2][Pregunta 2.1b] Demostración con palabras"
Hola! Tengo una duda. En este pregunta la demostración que hice fue con palabras, a partir de algo que noté que ocurre en el algoritmo. Mi pregunta es si puede estar bien esa demostración con palabra o si necesariamente debe haber una demostración matemática con desigualdades y operaciones?
Gracias.

[2021-05-19 15:15] fivaldivia commented on #93
Hola Diego, exponencialmente más ineficiente significa que usando la regla de empates debiese demorar O(e^n). Como dices en tu ejemplo, si tienes O(n) en caso normal en el peor caso, este debiese pasar a O(e^n).

[2021-05-19 15:47] DiegoEmilio01 commented on #93
El tema es que encontré en fuentes externas que el peor caso es `O(b**d)` con `d` el largo de la solución. Tratando de no hacer mucho spoiler, ¿tiene que ver la ayuda del enunciado con dicha información?

[2021-05-19 15:55] gustavobarrezueta opened #95 "[Tarea 2][Problema 2.2] Archivos a utilizar"
Hola!
En esta pregunta se nos pide implementar la clase LightPuzzle. Mi pregunta es qué tanto código de la Parte 1 podemos reutilizar para hacer este problema.
Gracias.

[2021-05-19 16:03] fivaldivia commented on #93
No se a qué te refieres con d como el largo de la solución, pero si es relacionado a la profundidad del problema estás por buen camino!

[2021-05-19 16:09] DiegoEmilio01 commented on #88
Tengo otra duda, en caso de que sea obligatorio hacerlo en `astar` yo utilicé como API las funciones `extract` e `insert` pero se demora muchísimo, ¿se deben usar funciones mas básicas implementadas en dicho módulo?

[2021-05-19 16:20] SarahEverke commented on #88
Hola, para que tu implementación sea más eficiente podrías definir la prioridad de forma que la cola de prioridades se ordene automáticamente usando g+h y luego por -g.

[2021-05-19 16:31] DiegoEmilio01 commented on #88
Pero para hacer eso bien necesitaría hacerlo en `binary_heap`

[2021-05-19 16:33] SarahEverke commented on #88
Hola, no es necesario. Puedes modificar cómo se está calculando `fvalue`.
Saludos

[2021-05-19 16:36] DiegoEmilio01 commented on #88
Aaaaah creo que ya entendi, muchas gracias

[2021-05-19 16:50] SarahEverke commented on #94
Hola, no hay problema que tu demostración sea con palabras. Lo importante es que argumentes adecuadamente. Sin embargo, hacer una demostración matemática podría ser más sencillo.

[2021-05-19 16:59] fivaldivia commented on #95
Hola, claro que pueden utilizar todo el código que tienen a mano para hacer las preguntas de la tarea, por lo que puedes utilizar el de la Parte 1 para la Parte 2.

[2021-05-19 17:29] gustavobarrezueta commented on #95
Genial. Muchas gracias.

[2021-05-19 17:30] gustavobarrezueta commented on #94
Lo hice con palabras porque no se me ocurre la demostración matemática jaja pero entiendo, gracias.

[2021-05-19 17:33] BernaValdivieso commented on #88
Hola, a mí no me quedó tan claro. Yo tenía la misma idea de ir sacando y metiendo nodos en el heap binario, pero me pasó lo mismo de que no era eficiente. Mi duda es que si modifico el `fvalue`, al final no estoy comparando nada, estoy modificando el f según una característica que encuentro importante, para que ese f sea mejor o peor de lo que debería, y así esté mejor o peor en la prioridad del h

[2021-05-19 19:03] #95 closed, assigned to fivaldivia

[2021-05-19 19:03] #92 closed, assigned to diegomendieta

[2021-05-19 19:07] knight-who-says-ni opened #96 "[Tarea 2][Problema 2.2] Tiempo de procesamiento"
Hola!! Cuanto tiempo deberíamos esperar que se tarde en resolver el problema?? Al menos en mi caso se demora muucho, solo se me alcanzan a mostrar los casos con w=5, en el resto debo esperar mucho (>20 minutos) para que resuelva los puzzles (esto con manhatan dividido 15). No se si puedo mostrar cuantas expansiones me da para saber si hice algo mal??

Pregunto porque si eso esta dentro de lo esper

[2021-05-19 20:22] JupaOlivares opened #97 "[Tarea2] [Parte 1] [Pregunta 1]"
Con la demostración del video se refieren a la del profesor Jorge Baier en Youtube? O en otras palabras nos piden demostrar poque teniendo (o no) la regla mencionada en el enunciado se mantiene la w-suboptimalidad?

[2021-05-19 20:34] knight-who-says-ni commented on #96
Acabo de ver el anuncio del profe :D.

[2021-05-19 20:39] diegomendieta commented on #97
Hola, lo que dices es equivalente. Explica por qué la demostración del profesor Baier en Youtube se mantiene al agregar la regla. Recuerda que el video demuestra que Weighted A* consigue soluciones, como tú dices, w-subóptimas, y que A* es un caso particular de Weighted A*, con w=1.

[2021-05-20 00:02] #96 closed, assigned to nobody

[2021-05-20 02:48] Huasito-Appel opened #98 "[Tarea 2][Nuevo archivo]"
Hola! no tengo muy claro a que corresponden los valores de la primera columna del nuevo archivo, ligth_problems.txt, por si alguien me lo puede esclarecer.
gracias!

[2021-05-20 13:20] jmopaso commented on #98
Hola!

Los valores de la primera columna son sólo para enumerar los problemas, no tienen ninguna incidencia en el puzzle. Podrías ver el método `load_problems` del archivo `test_preferred_astar` para asegurarte de lo que te digo.

Saludos!

[2021-05-20 17:03] JadrinaDA opened #99 "[Tarea 2] [Pregunta 2.2] Usar puzzle.py como base"
Hola! Para la pregunta 2.2 me pregunto si puedo usar el código de puzzle.py como base para hacer mi clase LightPuzzle o si tengo que hacer todo de cero. Tengo que programar algo además de las dos funciones que me piden?
Muchas gracias,
Jadrina

[2021-05-20 17:17] fivaldivia commented on #99
Hola, sí puedes usar/reutilizar todo el código que se da para la tarea según estimes conveniente. Sólo programa lo que se pide en enunciado y lo que te ayude para lograr el objetivo que se pide.

[2021-05-20 18:13] JadrinaDA commented on #99
Ok, muchas gracias!

[2021-05-20 19:18] FelipeLara00 opened #100 "[Tarea 2][Pregunta 1.4] Duda sobre open"
Hola!
Tengo 3 dudas sobre está parte:
1.- La open se ordena sola de menor a mayor?
2.- El empate se puede dar entre 2 o más nodos? O solo entre 2?
3.- El método extract() elimina de la open al nodo extraído?

Espero se entiendan las preguntas.
Gracias!

[2021-05-20 19:33] Huasito-Appel commented on #93
Hola! con describir el problema y dar a entenderlo es suficiente? o debo demostrar que cumple la ineficiencia?

[2021-05-20 19:39] diegomendieta commented on #100
Hola Felipe,

1. Sí, la Open es un Binary Heap, una estructura de datos que corresponde a un árbol binario usada para implementar colas ordenadas en base a algún criterio (en este caso, la función f, con el nodo de menor valor a la cabeza). Si no te suena, no te preocupes; lo vas a ver en el curso Estructuras de Datos y Algoritmos.

2. Sí, se puede dar entre más de 2 nodos. El razonamiento es anál

[2021-05-20 19:53] FelipeLara00 commented on #100
Perfecto muchas gracias!!

[2021-05-20 20:00] #100 closed, assigned to diegomendieta

[2021-05-20 23:16] Christian-Klempau opened #101 "[Tarea 2] [Pregunta 1.4]"
Hola!
En la parte 1.4 se pide comparar "esta regla de desempates" (supongo que refiriendose a la regla de la parte 1.3) y luego comparar la diferencia en rendimiento, pero no me queda claro con qué lo debo comparar:
- g ineficiente vs g **eficiente**
- g ineficiente vs implementación normal
- g **eficiente** vs implementación normal

Gracias!

[2021-05-20 23:30] diegomendieta commented on #101
Hola Christian, debes comparar la situación "correcta" (en que el primer nodo que sacas de la Open, entre todos aquellos que tienen el menor valor de f, es aquel que tiene el mayor valor de g) con la situación incorrecta (en que, entre todos aquellos nodos que tienen el menor valor de f, eliges sacar de la Open aquel que tiene el menor valor de g). Si corres A* con esas dos situaciones, te vas a d

[2021-05-20 23:55] Christian-Klempau commented on #101
Genial, me quedó claro! Gracias!!

[2021-05-21 01:25] Huasito-Appel opened #102 "[Tarea 2][Pregunta 3.1]"
Hola! para la parte 3.1 debo realizar comparaciones para distintos ponderados de prioridad de mi cola preferred, puedo incluir en mi analisis ejemplo donde cambio tambien el peso? creo que es interesante . O no es el enfoque de la pregunta y debo realizar todas las comparaciones con el peso default, 1.6 en este caso.

[2021-05-21 01:32] #102 closed, assigned to nobody

[2021-05-21 02:00] Huasito-Appel opened #103 "[Tarea 2][Pregunta 3.1]"
Hola! resulta que no estoy entendiendo muy bien como funciona num_pref y out_of, pense que era un estimado en terminos de % de cuantas veces escogeremos los nodos en preferred sobre la open, sin embargo al intentar con % que yo pensaba "iguales" me arroja resultados distintos.
iguales entendiendo con que poseen la misma relacion, num_pref/out_of , como por ejemplo :
4-10,
0.4-4 ,
40-100
Por si me

[2021-05-21 13:44] CataAlamos opened #104 "Control 18"
Hola, no me quedo claro si estamos cambiando los valores de x,y,z o a,b,c,d de la pregunta del control. ¿Alguno de esos valores son constantes en la función? En otras palabras, ¿No me queda claro que estamos estudiando?
¿Me lo pueden clarificar?
Muchas gracias
<img width="647" alt="Screen Shot 2021-05-21 at 09 43 09" src="https://user-images.githubusercontent.com/62016215/119146945-21443900-ba19-1

[2021-05-21 15:58] emyskog commented on #88
A mi me pasa eso, es más caro pero es más raído y se expande menos. Al final que queremos mejorar?

[2021-05-21 17:11] SarahEverke commented on #88
Hola, la idea es que redefinas cómo se está calculando `fvalue` y que la cola de prioridades se ordene automáticamente con ese nuevo valor.
Una mejora debiese ser que disminuya la cantidad de de expansiones generadas al implementar la regla de quiebre de desempates. Aunque, pueden haber casos que esto no se cumpla.

[2021-05-21 17:23] emyskog commented on #88
Pero puede aumentar el costo?

[2021-05-21 17:29] jcechavarri commented on #103
Hola!

No es exactamente como mencionas, si bien los porcentajes finales deberían ser aproximadamente `num_pref / out_of` y `1 - (num_pref / out_of)`, tienes que fijarte bien cómo se estan extrayendo los elementos de las listas. Asumamos que `self.preferred` y `self.open` tienen suficientes elementos para no quedarse vacías.
Luego la parte del código que importa para ver de donde se extrae el sigu

[2021-05-21 20:07] Huasito-Appel commented on #103
Gracias, me quedo mas claro ahora esta parte, aun tengo un par de duas respecto al caso borde en donde num_pref = out_of.
Adicionalmente para esta parte, podemos realizar el analisis sobre una cantidad fija de problemas? o tenemos que hacerlo sobre todos.
Grcias de antemano.

[2021-05-21 20:46] jcechavarri commented on #103
Con respecto al caso borde que mencionas, analiza el caso dónde `counter % num_pref < num_pref` (que siempre se cumple). Entonces, en ese caso siempre se extraerá de `self.preferred` a menos que esté vacía.

En cuanto a tu segunda duda, te recomiendo que lo corras con todos los problemas, así obtienes una mayor representatividad. Recuerda que puedes poner un límite de tiempo para que no se te demo

[2021-05-22 22:40] CataAlamos opened #105 "[Tarea 2] 1.4 Aclaración del código entregado"
Hola, en la línea 52-53 del astar.py se hace
`path_cost = n.g + cost  # costo del camino encontrado hasta child_state
 if is_new or path_cost < child_node.g:`
Quiero clarificar que entendí bien el código. No estoy del todo segura si n es otro child del nodo parent que comparamos con otro nodo child. Por ejemplo, el nodo parent sería a y sus hijos c y b
  /c
a
  \b
¿Entonces n y child_node son c y

[2021-05-22 23:50] josejimenezp opened #106 "[Tarea 2][Parte 2] light_manhattan"
Hola, quería saber si es que la heurística que debemos implementar en la pregunta 2 tiene que ser mejor en términos de número de expansiones y tiempo de ejecución que manhattan_div_15, o no es necesario?

[2021-05-22 23:57] SarahEverke commented on #106
Hola,
no es necesario que sea mejor en lo que mencionas. Lo importante es que sea admisible para el problema.

[2021-05-23 00:01] josejimenezp commented on #106
Y tengo otra duda, con la heurística manhattan_div_15 me da esto:
![image](https://user-images.githubusercontent.com/48298035/119243813-42e81200-bb38-11eb-8c0a-0cc4ca4f3dbb.png)

Mientras que con mi heurística me da esto:
![image](https://user-images.githubusercontent.com/48298035/119243819-4a0f2000-bb38-11eb-9254-bf51ddcf7f71.png)

Quería saber si los 0.99 son un problema o no, ya que con el mism

[2021-05-23 17:41] ebrzovic commented on #105
n es el nodo que tú extraes para el open. Es el nodo padre con quien tú trabajas para expandirlo creando sus hijos (siempre y cuando no te encuentres en el objetivo). Entonces cuando calculas el path_cost, el n.g corresponde al costo del nodo n, cuanto ha recorrido el nodo padre desde el comienzo, y a eso le sumas el costo que toma avanzar desde el padre hasta el child_node.

[2021-05-23 18:59] CataAlamos opened #107 "[Tarea 2][1.4 "Mejora"]"
Hola, ¿Cuando se dice que presentamos una ‘versión mejorada’, necesariamente se refiere a tiempo?
<img width="477" alt="Screen Shot 2021-05-23 at 14 57 54" src="https://user-images.githubusercontent.com/62016215/119273085-441c4c00-bbd7-11eb-97ea-9051fd2d2cae.png">
En la imagen, el de arriba es la 'versión mejorada', todo es optimizado menos el tiempo. ¿Sería valido?
Gracias

[2021-05-24 02:03] joaquinhernandezg opened #108 "[Parte 2][Pregunta 2] Confusión con los costos"
No me queda muy claro como se definen los costos, en el enunciado quiere decir que mover una pieza tiene costo 1, mover 2 piezas tiene costo 1/2 y así sucesivamente? O que al mover la pieza con el numero  1 tiene costo 1, la pieza con el numero 2 tiene costo 1/2 y así hasta la pieza 15?

[2021-05-24 13:07] jmopaso commented on #107
Hola!

La mejora en rendimiento de tu versión mejorada debe ser vista desde el punto de vista de **nodos expandidos**, por lo que lo que mencionas si sería válido (ya que tu versión mejorada es mejor en rendimiento). Sin embargo, no es común que al haber menos nodos expandidos el tiempo fuera mayor, te recomiendo para esto correr tu programa sobre más que un sólo problema (el enunciado pide que lo

[2021-05-24 13:28] jmopaso commented on #108
Hola!

Es lo segundo que dices. Mover la pieza con el número n tiene costo 1/n.

Saludos

[2021-05-24 15:03] Jamidd commented on #104
Hay un grupo de variables que son las que definen la función y por ende forman el espacio de hipótesis. Esas son los que estamos buscando.
Saludos,
Jaime

[2021-05-24 17:12] CataAlamos commented on #107
Hola, ¿Sería posible mostrarte lo que hice, no por github por el código de honor, para entender porque pasa esto? Corri los 10 problemas, donde la primera ejecución es sin la regla de empates y la segunda es con. Marque con verde las con menos expansiones y con rojo las con mas expasiones. Pero no entiendo porque esta mal lo que hice.
<img width="496" alt="1  No tie; 2  tie " src="https://user-ima

[2021-05-24 17:28] szabala commented on #88
@SarahEverke

Me queda una duda aún con esta respuesta. Si cambiamos como se calcula el fvalue y reordenamos el heap no estamos resolviendo el problema de los empates no? simplemente estamos usando otro fvalue para la prioridad del heap, pero este último no revisa cuando los fvalues sean iguales para ordenarse.  Además, si los empates ocurren cuando dos nodos tienen el mismo fvalue, ¿como identifi

[2021-05-24 17:36] CataAlamos commented on #107
¿Para cuántos casos debe mejorar? Hay un número esperado, porque no todos mejoraron en mi caso.

[2021-05-24 18:11] jmopaso commented on #107
En parte eso es lo que tu debes analizar en la pregunta. Esta muy bien que te llame la atención que con la regla de empates tengas peor rendimiento en algunos problemas, ya que es contra intuitivo según lo discutido en las otras preguntas, por lo que uno al menos debería observar una mejora en la mayoría de los problemas, el hecho de que esto no suceda podría ser una señal de que algo no se está i

[2021-05-24 19:56] SarahEverke commented on #88
Lo que queremos es que al tener dos nodos en Open con el mismo valor de f, se prefiera el nodo que tiene el mayor valor de g o menor h. Por ejemplo, si redefines tu `fvalue` de tal forma que use como primer criterio g+h y luego -g, estarías prefiriendo los nodos que tienen un mayor valor de g frente a los nodos que tienen un mismo f pero un menor g.

[2021-05-25 01:15] kylevon opened #109 "[Tarea 1] Descuento por un formato que no está en el enunciado"
No aparece la opción de apelar esto en el form de recorrección por eso hago este issue. Y también porque vi que no fui el único que le descontaron por esto. En el enunciado no se especifica que no se puede agregar otras carpetas, sólamente especifica que hay que "crear el directorio T1/ que contenga todos los archivos y subdirectorios especificados". Creo que es injusto que se descuente puntaje po

[2021-05-25 02:57] lucas-valenzuela commented on #109
Sumado a lo anterior, encuentro desproporcionado que se aplique un descuento de 0.5, que es equivalente a lo que se aplica por entregar atrasado. Si se descuenta de forma tan grande creo que deberían explicitar en el enunciado  la gravedad de la sanción

[2021-05-25 17:02] gsalinas0 opened #110 "[Materia] Diferencia entre los sets de entrenamiento y validación"
Hola. En las últimas clases hemos visto bastante los 3 tipos de sets de ejemplos que existen para entregarle a un algoritmo, y entiendo que el set de Testeo sirve como prueba para este. Eso sí, no logro entender cual es la diferencia entre el set de entrenamiento y el de validación. Entiendo que el de validación sirve para ajustar algo llamado 'hiperparámetros', pero tampoco entiendo que son estos

[2021-05-25 19:01] diegomendieta commented on #110
Hola. Para entender estos conceptos, es importante recalcar primero que la finalidad del Machine Learning es poder generar un modelo que permita predecir outputs y **generalizar** conocimiento. Es decir, que a partir de un set de datos, el modelo sea capaz de predecir el comportamiento de datos _fuera del conjunto original_.

Ahora, a tu pregunta. En primer lugar, y como bien dices, el **set de te

[2021-05-25 21:45] FelipeA7 commented on #110
Hola! Me sumo a la pregunta pues luego de leer la respuesta de @diegomendieta no me queda tan clara la diferencia entre los datos de testing y validación.
Para el ejemplo de la red neuronal, cual sería la diferencia entre el rendimiento que entrega el modelo al usar los datos de validación o los datos de testing?

[2021-05-25 22:10] diegomendieta commented on #110
Hola, @FelipeA7. En el ejemplo de la red neuronal, el set de validación es ocupado **durante** el entrenamiento, para entender en _tiempo real_ cómo se está comportando el modelo y si el entrenamiento está yendo como esperamos o no. En cambio, el set de test es ocupado **después** de la etapa de entrenamiento, para medir el **desempeño real** del modelo.

La razón de esto es que si ocupásemos sola

[2021-05-25 23:16] joaquinhernandezg opened #111 "[Parte2][Pregunta 2] Valores de suboptimalidad"
Hice una heurística para el light puzzle, pero cuando veo los valores de subptimalidad, a veces me salen valores menores que 1, tiene sentido eso, o significa que mi heurística está mala? Los de la heurística/15 son todos 1 :(:(

[2021-05-25 23:39] jorge-ovalle opened #112 "[Tarea 2] Problema con cota de suboptimalidad"
En una ayudantía se demostró lo siguiente:
![Captura de pantalla (17)](https://user-images.githubusercontent.com/69663302/119581241-29d99e00-bd90-11eb-996a-0d04eb803218.png)
Creo que está mal la demostración, porque en el contexto de Weighted A* f(s) = g(s) + wh(s) y no g(s)+ h(s) como lo ponen en la demostración. Además, los nodos se van extrayendo según g(s) + wh(s), lo que no implica que se ext

[2021-05-26 01:45] CataAlamos opened #113 "[Tarea 2] Manhattan"
Hola, en la pregunta 2.2 se nos pide crear una variación de Manhattan, pero no me queda claro ¿Qué tan similar debe ser a la Manhattan? ¿Podemos hacer una heurística distinta, dado que Manhattan se basa en la suma de distancias?
Muchas gracias

[2021-05-26 02:21] jcechavarri commented on #112
Hola!
En la demostración cuando hacen eso no están hablando de *weighted A** en particular, sino que de una función de evaluación definida como f(s) = g(s) + h(s) (para poder reemplazarlo con el g(s)+h(s) en el PD). Si te fijas, te piden demostrar que el estado *s* con menor g(s) + h(s) dentro de la *Open* es menor o igual al costo óptimo de la solución. Con respecto a lo segundo que comentas, cre

[2021-05-26 02:31] jcechavarri commented on #113
Hola!
La idea de la pregunta es que te cuestiones por qué no es admisible la suma de distancias Manhattan y veas una posible solución a esto. Así como proponen en el enunciado que una solución podría ser dividir la distancia en 15, la idea es que pienses en otra solución que abarque el tema de la no admisibilidad. Es decir, tiene que usar algo como Manhattan y no una heurística distinta.
Espero ha

[2021-05-26 02:43] jcechavarri commented on #111
Hola!
Recuerda que en la ayudantía se define la *suboptimalidad* como el cuociente entre el costo de la solución encontrada (c) y el costo óptimo (c*). Si te dan valores menores a 1, significa que `c/c* < 1`  ->  `c < c*`.

¿Te hace sentido que el costo de la solución que encuentras sea menor al costo óptimo??
Espero que con eso puedas resolver tu problema 👋

[2021-05-26 03:25] jorge-ovalle commented on #112
Hola! Es que la demostración me hace ruido por los siguientes puntos:
1. La desigualdad f(s) <= c* es solamente válida para los estados s que fueron expandidos y no todos los de la _Open_.  A modo de ejemplo, si en la ejecución de _A*_ (no _weighted_)  s* es el estado objetivo con valor f(s*) = c* (pues h es consistente), entonces todos los otros estados s que quedan en la _Open_  después de termi

[2021-05-26 12:32] joaquinhernandezg commented on #111
Bueena gracias, entonces el problema era que mi heurística no era admisible pq estaba sobreestimando el costo del camino óptimo

[2021-05-26 13:22] jcechavarri commented on #112
Perdón! Me equivoqué al escribir que todos los estados en la *Open* cumplen con `f(s) <= c*`. Aun así, se pide demostrar que el estado que se **extrae** de la *Open* (el s con menor f(s)) tiene un valor de `f(s) <= c*`. Esto si tiene sentido en la demostración ya que cualquier estado s* perteneciente al camino óptimo, por definición de consistencia, debe cumplir que `f(s*) <= c*`.

Con respecto al

[2021-05-26 14:20] jorge-ovalle commented on #112
Pero en la ejecución la extracción ocurre según g(s) + wh(s). Si wh(s) fuera consistente se cumple que g(s) + wh(s) <= c*, lo que permite concluir (como w>=1) que g(s) + h(s) <= c*. Sin embargo, en general se pierde la consistencia en _Weighted A*_ . La demostración asume que los elementos que están en la _Open_ son aquellos que se hubieran extraído de _A*_ no _weighted_, pero eso no es necesariam

[2021-05-26 14:39] jcechavarri commented on #112
Tienes que considerar que **siempre** habrá un estado s en la *Open* tal que es parte de la solución óptima c*! (y por lo tanto esta como si hubiese sido expandido por A*). Principalmente sabes que el estado inicial **pertenece a c***. Luego, si expandes este, tienes dos opciones:

1. Extraes de la *Open* un estado que no pertenece a c*: en este caso queda en la *Open* un estado que pertenece a c*

[2021-05-26 14:52] milosoria opened #114 "[Tarea 2] [Pregunta 3] Error en import"
Hola! Al correr test_preferred_astar.py me arroja el siguiente error:
`ModuleNotFoundError: No module named 'litemodel'`
Ya instalé tensorflow y silence_tensorflow, debiese instalar algo mas?

[2021-05-26 14:54] jorge-ovalle commented on #112
Aun veo problemas con tus dos puntos:
1. El estado inicial si cumple que pertenece a c*, eso lo entiendo. Sin embargo, se expande altiro (por ser el punto de partida), por lo que abandona la Open y los estados que produce no podemos asegurar que estén en c*. Si todos lo estados que produce no están en c*, entonces la Open solo tendrá estados que no están en c* (pues ya se sacó el inicial).
2. Si s

[2021-05-26 15:37] jcechavarri commented on #112
Creo que ahí está lo que te confunde, cuando expandes el estado inicial, agregas TODOS los estados nuevos a la *Open*. Es decir, si existe un camino desde el estado inicial al final, necesariamente al expandir el estado inicial, uno de los sucesores será si o si parte del camino óptimo (sino no podrías llegar al objetivo). Si bien se extrae un estado cualquiera de la *Open* (según el f(s)), siempr

[2021-05-26 15:40] jcechavarri commented on #114
Hola!
Esto se refiere al archivo `litemodel.py` que está en el mismo directorio que `test_preferred_astar.py`. En caso de que esté y no lo reconozca, fíjate desde que directorio estás ejecutando tu tarea, puede que estés en otro directorio :smile:

[2021-05-26 15:41] jorge-ovalle commented on #112
Ya perfecto. Ahí si me queda claro. Sory por tantas pregunta jaja. Muchas gracias!

[2021-05-26 15:43] jcechavarri commented on #112
Para eso estamos! Éxito con la tarea 🎉

[2021-05-26 16:11] NickCastillo opened #115 "[Tarea 2][Pregunta 2] Explicacion general o especifica"
Hola! Para esta pregunta se pide una explicacion general? Hablando solo del **resultado** de utilizar la regla de desempate (sea cual sea)? O nos piden una explicacion mas especifica mencionando la tecnica implementada (por ejemplo el nuevo calculo de f en caso de tener uno) ?

[2021-05-26 16:20] jcechavarri commented on #115
Hola! Te refieres a la Pregunta 1 de la Tarea 2, cierto?

Tal como dice en el enunciado;

En la primera pregunta, se pide que expliques de manera general por qué esta implementación es mejor que no quebrar empates (o quebrarlos hacia el otro lado). Esto puedes hacerlo usando tu intuición, pero tienes que argumentar a favor de esta regla.

Espero haberte ayudado 😄

[2021-05-26 18:58] CataAlamos opened #116 "[Tarea 2][Light Manhattan resultados extraños]"
Hola, cuando ejecute `manhattan_div_15(self)` me dio el mismo número de expansiones en distintos pesos. Se me hace raro estos resultados, ¿Debiera dar esto o destruí la heurística?
Gracias de antemano

[2021-05-26 19:01] CataAlamos commented on #116
Vi el error.

[2021-05-26 19:01] #116 closed, assigned to nobody

[2021-05-26 19:48] Brocoleta commented on #101
Hola, esa situacion que se demora bastante mas, cuanto tiempo mas es? Por que lo estoy corriendo y no me corre ni siquiera el primer test, nose si estamos hablando de tiempos de media hora o mas, o tal vez tengo malo el codigo

[2021-05-26 20:34] Brocoleta opened #117 "[Tarea 2][Pregunta 3.1] Numero de problemas"
Es necesario correr todos los problemas por cada test, o podemos por ejemplo correr solo los primeros 10 problemas?

[2021-05-26 21:08] fivaldivia commented on #117
Hola! Corre todos los problemas pero si tienes alguno que se demora mucho tiempo (este tiempo definido por ti como dice el enunciado) no lo ejecutes.

[2021-05-27 00:43] mvbeuchat opened #118 "[Tarea 2][1.4 Optimalidad]"
Hola!

En el enunciado nos piden el rendimiento de nuestra "versión mejorada" en las soluciones óptimas. Sin embargo, por la implementación que se sugiere en otras issues cambiando el valor de fvalue y lo visto en clases, la "versión mejorada" genera soluciones que no necesariamente son óptimas. ¿Es necesario entonces, encontrar una "versión mejorada" que encuentre soluciones óptimas cambiando sol

[2021-05-27 02:10] jcechavarri commented on #118
Hola!

Si bien se sugiere que cambien cómo se calcula el `fvalue`, este solo debe cambiar con respecto a la preferencia de un estado particular en caso de empate. Si cumples con esto tu solución sí será la óptima, ya que sigues extrayendo los nodos de acuerdo a un `fvalue` decreciente.

[2021-05-27 03:59] Huasito-Appel opened #119 "[Tarea][Archivos extra]"
Hola, es posible entregar archivos extra en alguna parte, sin perder puntos por formato? en concreto tengo un .xlxs que hago referencia en la parte 3.1.

[2021-05-27 03:59] Huasito-Appel opened #120 "[Tarea][1.3]"
Hola, es posible pedir ayuda sobre la ayuda? llevo un par de dias pensando en como puede ser este tipo de problema de busqueda y la verdad siento que no llego a puerto.

[2021-05-27 06:00] gsalinas0 commented on #120
Me sumo a esto. También estoy perdido en como hacer la 1.3 :sweat:

[2021-05-27 08:10] gsalinas0 opened #121 "[Tarea 2][Pregunta 1.4] Como ordenar los nodos?"
Hola. Estoy tratando de hacer el item 1.4, y la verdad no entiendo que linea(s) tengo que agregar/modificar.

Entiendo que la gracia es que dados dos nodos en la open con mismo valor de f, debo elegir extraer/expandir aquel con mayor valor de g. Mi problema es que no logro encontrar la forma de poder 'ver' el valor del f de los sucesores para poder elegir uno el cual expandir, y mucho menos poder

[2021-05-27 12:38] jcechavarri commented on #120
@Huasito-Appel @Gsalinas1506 Les recomiendo ir a la sesión de ayuda para la tarea hoy, yo creo que el profe les podrá aclarar mejor las dudas que tengan!

De cualquier manera, más que nada la ayuda dice que busquen un problema en el cual existan muchas soluciones "muy parecidas" o iguales, a las cuales se puede llegar por varios ordenes de exploración distintos (en específico, que el orden de la s

[2021-05-27 13:28] jcechavarri commented on #121
Hola!

El *Binary Heap* corresponde a un árbol en el cual cada nodo se ordena de acuerdo a su `key` en orden ascendente. Si bien podría ordenar según un par de llaves, no está implementado así y tampoco es la idea que se compliquen en hacerlo.
Luego, si te fijas en el archivo `binary_heap.py`, se puede ver que al insertar un nodo nuevo, este se agrega lo más abajo en el árbol y luego va subiendo a

[2021-05-27 14:56] gicrot opened #122 "[Control 21] Error en aproximación pregunta de entropía"
Hola,

Acabo de hacer el control y en la pregunta donde piden la entropía usé 4 decimales en vez de solo 2, entonces al momento de aproximar la respuesta Canvas me lo tomó como que la pregunta estaba mala, siendo que si lo aproximo al segundo decimal (como sale en la solución), la respuesta es correcta.

[2021-05-27 16:09] SarahEverke commented on #119
Hola, es posible agregar archivos extra en caso de que sea necesario.

[2021-05-27 20:09] knight-who-says-ni opened #123 "[Tarea 2][Pregunta 2] Algoritmo en video"
Hola!!

Tenía la duda de si hay que explicar el algoritmo del paper para calcular la heurística en el video, o basta con dar la idea e intuición de la heurística.

Gracias!!

[2021-05-27 20:36] fivaldivia commented on #123
Hola, tal como menciona el enunciado se pide que expliques la idea de **cómo se calcula** la heurística. Con tal de que la expliques como más te haga sentido y creas que el público objetivo del video lo entienda, está bien!

[2021-05-28 00:14] tomasalvarez13 opened #124 "[Tarea 2][Pregunta 3.1]"
Hola, estoy teniendo el siguiente error al tratar de correr `test_prefered_astar.py`
![image](https://user-images.githubusercontent.com/48598610/119911835-1e20df80-bf28-11eb-9e75-c317596c49f7.png)
Que podrá ser? Hay alguna versión específica de tensorflow que haya que instalar?

[2021-05-28 03:43] ebrzovic commented on #124
Hola,

Que extraño, el error que sale es porque supuestamente estás codificando un string. No es necesario codificarlo porque ya está codificado. ( https://stackoverflow.com/questions/28583565/str-object-has-no-attribute-decode-python-3-error )

Te recomiendo hacer lo siguiente, verifica que los archivos que estás ocupando sean los mismos archivos que se encuentran actualizados el repositorio. Si

[2021-05-28 15:28] sperezmasri opened #125 "[Tarea 2][Pregunta 2.2]"
Hola, tengo dos dudas con respecto a esta pregunta.

1. Tenemos que probar nuestro código con el desempate incluido? o con el original?
2. Hay que cambiar el código (aparte de crear la nueva heurística) para implementar el costo nuevo?

[2021-05-28 15:58] Christian-Klempau opened #126 "[Tarea 2][Pregunta 2.2]"
Hola!
Tenía una duda:
para implementar el problema de light_manhattan, debo cambiar los costos g de los nodos, por lo que me hizo sentido crear una clase similar a Puzzle, pero donde los costos de movimientos no son 1, como para puzzle original.

Luego, implementé ambas heurísticas: div_15 y la propia, pero se me genera un problema:
no es posible encontrar una solución. O por lo menos, no en un ti

[2021-05-28 16:03] jmopaso commented on #125
Hola!

1. Lo importante de esta pregunta es que compares el rendimiento de ambas heurísticas bajo el mismo criterio (si pruebas una heurística con un criterio, la otra también debe ser probada con el mismo). Esto quiere decir que no es estrictamente necesario que lo implementes con la regla de desempate, sin embargo, podría ser mejor realizarlo de esta forma, ya que como se indica en la parte 1 es

[2021-05-28 22:53] ebrzovic commented on #126
Hola Cristian,
Tengo 2 teorías de lo que puede estar pasando con tu código, ya que no lo puedo ver directamente.
1)	El primero es que simplemente cambiaste el costo de la heurística o solo le cambiaste los pesos de ella. En ese caso te recomiendo crear una heurística nueva que no sea solo cambiar los pesos.
2)	La segunda es que tu heurística no es admisible. Probablemente el error de tu código pro

[2021-05-29 00:41] milosoria opened #127 "[Tarea 2] [Pregunta 3.6] Duda de enunciado"
Hola! Por _parte 1_ se refiere a la pregunta 1 de la tarea, cierto?  O la pregunta 3.1?
Gracias de antemano!

[2021-05-29 02:12] jmopaso commented on #127
Hola!

Tal y como dices, se refiere a la parte 1 de la tarea (o como tu lo señalaste la pregunta 1 **de la tarea**)

Saludos.

[2021-05-29 16:40] FelipeA7 opened #128 "[Tarea 2] [Pregunta 1.3]"
Hola, para el ejemplo del problema exponencial puedo usar una imagen de internet que muestra expansiones del algoritmo A* o solo puedo usar contenido que haya sido creado por mi?

[2021-05-29 17:59] ebrzovic commented on #128
Hola Felipe,
Si se puede, siempre y cuando entiendas lo que quiere decir la imagen. Es preferible explicar con tus propias palabras lo que la imagen transmite.
Que no se te olvide citarlo o referenciarlo 😊

[2021-05-29 22:25] vchadwick opened #129 "[Tarea 2] Bug Binary_heap"
Hola, creo que existe un bug en la clase _Binary_heap._

El error ocurre cuando se agregan nodos, luego se eliminan y por ultimo se vuelven a ingresar. No me he metido a investigar el error en especifico porque terminé haciendo la pregunta de otra manera, pero dejo constancia del posible error.

**Código**

[code]

**Output esperado:**
[code]
**Output obtenido:**
[code]

Se perdió el nodo 45.

[2021-05-29 23:02] dfloreaa opened #130 "[Tarea 2] P1.1 Admisibilidad de la heurística usada"
Hola, podemos asumir que la heurística utilizada para nuestra demostración en la pregunta 1 de la parte 1 es una heurística admisible? De no ser así, A* no encontraría una solución óptima y weighted A* encontraría soluciones menos óptimas también.

De ser una heurística utilizada para la búsqueda no admisible, el desempate podría a veces resultar perjudicial. ¿Debo explicar el por qué o simplement

[2021-05-30 00:09] milosoria opened #131 "[Tarea 2] [Pregunta 3.4 y 3.6] Duda enunciado"
Hola! En la 3.4, donde dice _extracción de un elemento desde alguna cola, en tiempo constante, calcula el mínimo_, la extracción se hace con extract y para el mínimo top? No le veo el sentido a hacer ambas operaciones con top, pero creo que no queda claro en el enunciado. Por otro lado, qué num_pref debiesemos utilizar para esta pregunta y la 3.6?

[2021-05-30 00:43] ebrzovic commented on #130
Hola, Daniel,

Para esa pregunta se puede asumir admisibilidad. De lo contrario sucede lo que dices, que el desempate podría a veces resultar perjudicial. Se esperaría que mientras más cerca estoy del objetivo entonces menor es mi heurística h y para que esto ocurra la heurística debe ser admisible.

Saludos.

[2021-05-30 14:12] gustavobarrezueta opened #132 "[Tarea 2][Parte 3] Dudas acerca 3.4"
Hola!
Tengo dos dudas específicas con esta parte. La primera es, para la parte 3 completa, ¿siempre asumimos que estamos con peso igual a 1 o el peso puede ir cambiando? Esto lo pregunto porque al usar siempre w = 1, creo que puedo acortar un poco el código para la parte 3.4. La otra pregunta es acerca de esa parte en específico: cuando nos dicen "La idea clave de esta modificación es que tu algor

[2021-05-30 20:40] tvallotton commented on #128
Hola, si para esta parte se me ocurrio un ejemplo de orden O(n^2) pero no uno de orden O(exp(n)) cuenta?

[2021-05-30 23:16] ivergara1 opened #133 "[Tarea 2][Parte 3] Problemas con tensorflow"
Hola!
Estoy teniendo varios problemas con tensorflow que no me dejan ejecutar el código. Cuando trato de ejecutar test_preferred_astar.py me sale lo siguiente:

![error](https://user-images.githubusercontent.com/48482469/120123189-700d7380-c17b-11eb-865f-7b2c1ddbf0ca.png)

Llevo mucho tiempo tratando de arreglarlo, pero me siguen saliendo distintos errores. No sé si es un error de instalación o de

[2021-05-30 23:26] benjavicente commented on #133
Hola! Sale que no encuentra el archivo. Yo cambié esta línea
https://github.com/UC-IIC2613/Syllabus/blob/abe1cd797a4a8a0eee62dfe91664e87072c1cace/Tareas/Tarea%202/Parte%203/puzzle_nn_new.py#L15
a esto, usando un path relativo al archivo:
[code]
y me funcionó perfecto.

[2021-05-30 23:32] ivergara1 commented on #133
Bueena @benjavicente  muchas gracias!! Ya había intentado hacerlo con paths relativos pero parece que lo había hecho mal porque de la forma que yo lo hacía no me funcionaba jaja. Te pasaste!!

[2021-05-31 00:54] benjavicente opened #134 "[Tarea 2] - Añadir condición al probar el código"
Tanto en el código de la parte 1 y 2, y en el de la parte 3:
https://github.com/UC-IIC2613/Syllabus/blob/abe1cd797a4a8a0eee62dfe91664e87072c1cace/Tareas/Tarea%202/Parte%201/astar.py#L56

se retorna `None` cuando no hay solución. Además nos piden en la parte 3.4 que

Esto genera un problema en el código que testea las soluciones, ya que asume que hay una solución para cada problema, ya que se obtie

[2021-05-31 03:55] Huasito-Appel commented on #131
Me sumo a la parte de la pregunta 3.6, ademas de esto debemos ahcer un reporte como en el apartado 3.1? o podemos mostrar una tabla comparativa simple y comentar un par de cosas.

[2021-05-31 03:58] Huasito-Appel commented on #134
Sumado a lo que dice Benjamin, puedo en mis archivos de respuesta agregar test_astar.py, y test_preferred_astar ya que tengo esta condicion en caso de que no tenga solucion, dado cota de tienmpo o suboptimalidad.
gracias.

[2021-05-31 12:57] beatrizacuna opened #135 "[Tarea 2][Pregunta 1.4] Duda Open"
Hola! Estoy implementando el desempate en fvalue extrayendo los dos nodos a la cabecera del heap y luego insertándolos de vuelta, pero estoy teniendo un error cuando corro test_astar.py, que según yo, es porque en Open siempre hay o 0 elementos o 1, y no sé por qué se da eso. Este es el error que me tira:

Traceback (most recent call last):
  File "test_astar.py", line 36, in <module>
    print('%

[2021-05-31 13:12] benjavicente commented on #135
Es el problema que menciono en la issue anterior, #134

[2021-05-31 13:20] beatrizacuna commented on #135
Pero no entendí muy bien, debería cambiar los archivos mencionados?

[2021-05-31 13:23] benjavicente commented on #135
En `Tarea 2/Parte 1/test_astar.py:35-37` cambiar:

[code]

a algo como

[code]

para no usar `result.g` en el caso que `result` sea `None`.

[2021-05-31 13:27] beatrizacuna commented on #135
Y lo que está pasando en Open está bien? Que siempre haya solo un elemento

[2021-05-31 13:40] benjavicente commented on #135
Esto creo que es un error, porque open debería poder guardar más nodos.

Parece que al sacarlos e insértalos devuelta hay un error en los Heaps, como muestran en esta issue #129, lo que hace que no se encuentre una solución correcta porque desaparecen los nodos.

En la issue #88 explican más o menos que se espera en esta parte, que en resumen es solo modificar `fvalue` para ver el desempate.

[2021-05-31 13:43] beatrizacuna commented on #135
Sii es que solo estoy modificando fvalue, pero como uso extract e insert, la open no me está funcionando bien. La solución es sin el uso de estos?
Edit: use otra implementación sin insert y extract

[2021-05-31 22:16] #133 closed, assigned to nobody

[2021-05-31 22:22] Jamidd commented on #122
Ok, voy a revisar tu respuesta y lo cambio acorde.
Saludos,
Jaime.

[2021-05-31 22:22] CataAlamos opened #136 "[Tarea 2] [3.3]"
Hola, ¿En esta pregunta nos piden demostrar como lo hicimos en la ayudantía o con palabras basta?
Gracias de antemano

[2021-05-31 22:23] diegomendieta commented on #134
Gracias, @benjavicente. Tienes razón, le puse la etiqueta de importante para que más gente pueda verlo. En relación a lo tuyo @Huasito-Appel, no entendí tu duda. Podrías explicarla mejor?

[2021-05-31 22:28] diegomendieta commented on #134
Perdón @Huasito-Appel, ya entendí. Sí, puedes hacerlo.

[2021-05-31 22:28] #134 closed, assigned to diegomendieta

[2021-05-31 22:38] Huasito-Appel commented on #134
@diegomendieta perfect gracias.
pd creo que cerraste sin querer la issue al comentar, la mayoria no la va a ver si queda asi para que la cambies.

[2021-05-31 22:39] jcechavarri commented on #136
Hola!

La idea de las demostraciones es que quede le quede claro a una persona escéptica de por qué se cumple la tesis. Si consideras que con palabras logras convencer a alguien de que la cota es correcta puedes hacerlo!  (siempre y cuando expliques detalladamente y paso a paso).

[2021-05-31 22:42] diegomendieta commented on #131
Hola, @milosoria. En relación a la 3.4, sí, tiene sentido lo que dices. El enunciado se refiere a que el cálculo del mínimo no debe depender de la cantidad de elementos en las colas. En relación a lo otro, usen el mejor num_pref que les haya dado en la 3.1, hagan una tabla simple pero clara y comenten sus resultados.

[2021-05-31 22:50] diegomendieta commented on #132
Hola, @gustavobarrezueta. Asume que el peso puede ir cambiando, no debería requerir mucho esfuerzo adicional. En relación a lo segundo, la garantía pedida sería una solución que te demuestra que puedes conseguir ese grado de suboptimalidad. Por lo tanto, si el algoritmo no es capaz de encontrarla, no retornará una solución.

[2021-05-31 23:28] gustavobarrezueta commented on #132
Allí tengo una duda, porque siempre existirá la solución óptima que cumplirá con cualquier cota de suboptimalidad que yo ingrese a PrefAstar, pero parece ser que no encuentra esa solución el algoritmo (o se demora más del límite de tiempo que impuse). Entonces no sé si dejar corriendo mi algoritmo hasta que encuentre esa solución o retorno que no se cumple con la cota al primer nodo solución encon

[2021-05-31 23:58] diegomendieta commented on #132
Si el algoritmo no es capaz de encontrar una solución que cumpla con la suboptimalidad pedida en un tiempo que consideras razonable, entonces retorna que no encontró una solución. En otras palabras, el criterio de parada debe ser encontrar una solución que cumpla, o que se cumplió un tiempo de ejecución determinado.

[2021-06-01 00:10] gustavobarrezueta commented on #132
Entiendo, muchas gracias, Diego.

[2021-06-01 00:16] #132 closed, assigned to diegomendieta

[2021-06-01 01:46] tvallotton opened #137 "[Tarea 2][1.3]"
Si es que se me ocurrió un problema que es O(n^2) cuenta como ejemplo? o tiene que ser estrictamente O(exp(n))?

[2021-06-01 02:08] aicnelavs opened #138 "[Tarea 2][Pregunta 2.4] Ubicación de linear_conflicts"
¿Puede ser que el linear_conflicts del que se habla en la 2.4 es el que está implementado en el archivo puzzle_nn_new.py de la parte 3? Es que lo estaba buscando en la Parte 1 (donde dice que está) y no lo encontré, pero si hay uno en la otra parte que se llama así.

[2021-06-01 03:43] jmopaso commented on #137
Hola, es necesario que sea O(exp(n)).

Esto es, si es que con la solución con regla de empates el rendimiento es O(n), entonces para el caso de la solución ocupando la regla de empates contraria el rendimiento es O(exp(n)).

Saludos

[2021-06-01 03:50] jmopaso commented on #138
Hola! Tienes razón en la pregunta debiese aparecer `En el archivo puzzle_nn_new.py ...` en vez de `En el archivo puzzle.py ...`. Gracias por avisar!

Saludos

[2021-06-01 04:43] bmurtagh01 opened #139 "[Tarea 2][Pregunta 2.1.b] Heurística consistente expande a lo más un nodo."
Hola,

QUería saber que ocurre en un programa A* (con heurística consistente Manhattan) cuando el mapa tiene un formato de isla o archipiélago donde es muy costoso salir de ella.

![image](https://user-images.githubusercontent.com/48324666/120267455-f6a47c80-c271-11eb-8c22-08000a225818.png)

Que sucede en este ejemplo si quiero ir desde el punto rojo al azul. El costo de cualquier movimiento es de

[2021-06-01 05:26] Huasito-Appel opened #140 "[Tarea 2][Implementacion linear_conflicts]"
Hola, la verdad me esta costanto entender bien como funciona el codigo de implementacion de conflictos lineales.
![image](https://user-images.githubusercontent.com/62345634/120270744-1c348480-c278-11eb-96a2-5d44b133c73f.png)

entiendo que el doble for cuanta la cantidad de conflictos que tenemos y los mete a esta arrays counts, luego dentro del else de la linea 140 vamos "descontando" o solucionan

[2021-06-01 12:48] jcechavarri commented on #139
Hola!

Recuerda que en la implementación se revisan ciertas características del estado antes de agregarlo a la *Open*.

Te dejo la parte del código en que puedes ver el funcionamiento:

https://github.com/UC-IIC2613/Syllabus/blob/9fdf4880e4bfa7d06b7bd80a056b7827ad66bc37/Tareas/Tarea%202/Parte%201/astar.py#L38-L54

No sé si puedo darte más pistas sin darte la respuesta, espero que con eso logres en

[2021-06-01 14:13] milosoria commented on #131
@diegomendieta  Gracias por las respuestas! Creo que para la 3.4 tiene más sentido ocupar un num_pref que genere mayor suboptimalidad, no? Si la idea es comprobar que el método garantiza, efectivamente, respetar una cierta cota de suboptimalidad.

[2021-06-01 16:05] Aloncarrasco opened #141 "[Tare 2][Pregunta 3.2] h es una lista"
Hola, tengo la duda de porque ahora los n.h ya no son una unt, si no que son una lista y se saca el h(s) haciendo n.h[0]. Sería bakan si me pudieran explicar porque ahora es una lista gracias.

[2021-06-01 17:09] Christian-Klempau commented on #126
Perdón por la demora :(
Gracias por responder, lo tendré en cuenta :)
Los tests del profesor mejoraron mi análisis y ahora tarda menos de 10 segundos

[2021-06-01 19:02] tomasalvarez13 opened #142 "[Tarea 2] [Pregunta 3] Enunciado"
Hola, en la 3.6 no entiendo si se nos pide hacer una comparacion del algoritmo de la pregunta 3 con cota N vs el algoritmo de la pregunta 1 con peso N, o comparar los diferentes resultados del algoritmo de la pregunta 3 con peso y cota N.

[2021-06-01 20:09] vicerc opened #143 "[Tarea 2] Problema con código de ayudantía 4"
Hola, revisando las issues ví que en la #112 le respondieron que la demostración era para algún s **extraído**, y me queda claro que en este caso la demostración funciona. Pero en el código de la ayudantía 4, se ejecuta el método ```estimate_suboptimality```, tras haberse ejecutado el método ```search```. Es decir, en *Open* sólo quedan estados con f(s) >= c*, por lo que no estaría bien implementa

[2021-06-01 20:18] raimundoloeser opened #144 "[Tarea 2][3.2] Suboptimalidad"
Hola,
Tengo una duda con la suboptimalidad en la parte 3.2
Implementando el metodo estimate_suboptimality me surgió la duda de que no me llega a 1.0 la maxsubopt cuando lo corro con suboptimality 1.0 (y poniendo prints dentro de mi metodo, me aparecen valores más bajos que el Goal que lo encuentro muy raro). También me gustaría saber por qué el default de suboptimality en PrefAstar es 1.5? tiene a

[2021-06-01 21:29] jmopaso commented on #142
Hola!

Como bien dices, en la 3.6 se pide la comparación entre el algoritmo `Preferred A*` modificado en la parte 3 vs el `Weighted A*` de la parte 1. La idea también es que la comparación sea usando el mismo valor para el peso (Weighted A*) y para la cota de suboptimalidad (Preferred A*).

Saludos!

[2021-06-01 21:36] kylevon opened #145 "[Tarea 2] Duda formato de entrega. Estructura proyecto"
Hola,

¿Cómo específicamente debe ser la estructura de la tarea?

¿Se puede incluir el directorio T1 de la tarea pasada?

¿Se pueden agregar archivos que no se pidieron específicamente?

¿Se puede agregar el código en carpetas internas, por ejemplo. T1/Parte1/codigo/astar.py junto a todos los otros archivos de la base de la tarea?

[2021-06-01 21:54] beatrizacuna opened #146 "[Tarea 2][Pregunta 2.1 a]"
Hola! Quería saber si para la demostración de esta pregunta puedo empezar por la premisa de que f(s) <= f(s') o algo por el estilo?

[2021-06-01 22:14] jmopaso commented on #141
Hola!

Esto se debe principalmente porque el algoritmo `Preferred A*` utiliza dos colas de prioridades (`open` y `preferred`). En el código si te fijas no sólo hay una lista de heurísticas, sino también una lista de keys para cada nodo (indica como se organizarán los nodos en estas colas). De esta forma, cuando yo inserto un nodo ya sea a la `open` o a `preferred` la forma de diferenciar que key c

[2021-06-01 22:19] ebrzovic commented on #140
Hola,

Tu razonamiento está correcto, también lo entendí de esa manera.  Lo que entiendo es que en el caso de que no haya conflictos o todos los conflictos previos han sido solucionando, retorna un valor ans*2 que puede ser 0 en caso de que no haya conflictos o  la cantidad de conflictos que ya se han solucionado previamente.

Saludos

[2021-06-01 22:21] Huasito-Appel commented on #140
claro, me hace sentido, gracias.

[2021-06-01 22:28] ebrzovic commented on #146
Hola Beatriz
Para ese problema te recomiendo usar las propiedades de consistencia ósea;
-	h(s) = 0, para todo s ∈ G
-	h(s) ≤ c(s,s′) + h(s′), para todo vecino s′ de s. (s=Padres, s′= Hijos)
Saludos

[2021-06-01 23:02] beatrizacuna commented on #146
o sea esas propiedades son las que tengo que demostrar o no? o tengo que probar que se cumplen para el puzzle de 15?

[2021-06-02 01:03] #143 closed, assigned to nobody

[2021-06-02 01:46] diegomendieta commented on #144
Hola, como dice el enunciado, se entrenó una red neuronal para determinar, a partir de un estado del juego, la acción óptima a tomar. Esto se hizo mediante aprendizaje reforzado, contenido que van a ver dentro del curso. Como la cantidad de estados es tan grande, la red neuronal no es capaz de aprender una política perfecta (es decir, que para cada situación a la que se vea enfrentada, tomar la de

[2021-06-02 02:18] bjbarias commented on #144
respecto a lo primero que puso Raimundo, no será que la cota está al revés? Copié la cota de la ayudantía y me salen solo valores <= a 1 (si lo doy vuelta salen mayores o iguales a 1, que hacría sentido)

[2021-06-02 02:20] bjbarias commented on #84
Hola! No me queda claro. No es goal el estado optimo? o qué es un estado óptimo.

[2021-06-02 03:44] ebrzovic commented on #145
Hola 😊

Sobre la estructura depende exclusivamente de la pregunta. En el último párrafo de cada pregunta se especifica que se debe entregar en cada parte. Generalmente las preguntas teóricas se responden en un PDF mientras que las preguntas de programación se responden en un archivo indicado modificado.

Sobre el directorio sí, no es necesario que lo borren.  Lo importante es que todo lo relaciona

[2021-06-02 03:54] ebrzovic commented on #146
No tienes que demostrar esas propiedades.  Puedes utilizar las propiedades de consistencia para demostrar que la suma de distancias Manhattan es una heurística consistente para el puzzle de 15.

[2021-06-02 15:45] Baelfire18 opened #147 "[Tarea 2] Archivos de entrega"
Hola! Creo que el formato de entrega es algo así:
[code]
Pero puedo tener achivos extra? Escuche que le descontaron a gente en la pasada por subir cosas de más. Quería asegurarme.
Con cosas de más me refiero subir los archivos node.py, puzzle.py o algún otro que yo haya creado o editado para testear mi código. O por ejemplo archivos .txt extra.
Gracias de antemano!

[2021-06-02 15:50] Baelfire18 commented on #147
Esta issue ya fue respondido y acabo de cachar, así que la cierro no más. Salu2

[2021-06-02 15:50] #147 closed, assigned to nobody

[2021-06-02 18:01] kylevon commented on #145
Sí gracias! 😊

[2021-06-02 23:51] beatrizacuna opened #148 "[Tarea 2] código entregado: puzzle.py"
Hola! Estoy teniendo problemas entendiendo el código de pussle.py, más especificamente, el método successors(self). En este método, cómo se cuál es la pieza del hijo c que se creó? dije que era c.board[self.blank] pero solamente porque no me tiraba error jajjaaj

[2021-06-03 01:31] benjavicente commented on #134
@diegomendieta quedó la issue cerrada 😕

[2021-06-08 23:13] #122 closed, assigned to nobody

[2021-06-15 15:44] #118 closed, assigned to jcechavarri

[2021-06-15 15:44] #119 closed, assigned to SarahEverke

[2021-06-15 15:44] #120 closed, assigned to jcechavarri

[2021-06-15 15:44] #121 closed, assigned to jcechavarri

[2021-06-15 15:44] #123 closed, assigned to fivaldivia

[2021-06-15 15:44] #124 closed, assigned to ebrzovic

[2021-06-15 15:44] #125 closed, assigned to jmopaso

[2021-06-15 15:44] #126 closed, assigned to ebrzovic

[2021-06-15 15:44] #127 closed, assigned to jmopaso

[2021-06-15 15:44] #128 closed, assigned to ebrzovic

[2021-06-15 15:44] #129 closed, assigned to nobody

[2021-06-15 15:44] #130 closed, assigned to ebrzovic

[2021-06-15 15:44] #131 closed, assigned to diegomendieta

[2021-06-15 15:44] #135 closed, assigned to nobody

[2021-06-15 15:44] #136 closed, assigned to jcechavarri

[2021-06-15 15:44] #137 closed, assigned to jmopaso

[2021-06-15 15:44] #138 closed, assigned to jmopaso

[2021-06-15 15:44] #139 closed, assigned to jcechavarri

[2021-06-15 15:44] #140 closed, assigned to ebrzovic

[2021-06-15 15:44] #141 closed, assigned to jmopaso

[2021-06-15 15:44] #142 closed, assigned to jmopaso

[2021-06-15 15:44] #144 closed, assigned to diegomendieta

[2021-06-15 15:44] #145 closed, assigned to ebrzovic

[2021-06-15 15:44] #146 closed, assigned to ebrzovic

[2021-06-15 15:44] #148 closed, assigned to nobody

[2021-06-15 15:44] #85 closed, assigned to jmopaso

[2021-06-15 15:44] #86 closed, assigned to aamedinaj

[2021-06-15 15:44] #87 closed, assigned to diegomendieta

[2021-06-15 15:44] #88 closed, assigned to SarahEverke

[2021-06-15 15:44] #89 closed, assigned to diegomendieta

[2021-06-15 15:44] #93 closed, assigned to fivaldivia

[2021-06-15 15:44] #94 closed, assigned to SarahEverke

[2021-06-15 15:44] #97 closed, assigned to diegomendieta

[2021-06-15 15:44] #98 closed, assigned to jmopaso

[2021-06-15 15:44] #99 closed, assigned to fivaldivia

[2021-06-15 15:44] #101 closed, assigned to diegomendieta

[2021-06-15 15:44] #103 closed, assigned to jcechavarri

[2021-06-15 15:44] #104 closed, assigned to nobody

[2021-06-15 15:44] #105 closed, assigned to ebrzovic

[2021-06-15 15:44] #106 closed, assigned to SarahEverke

[2021-06-15 15:44] #107 closed, assigned to jmopaso

[2021-06-15 15:44] #108 closed, assigned to jmopaso

[2021-06-15 15:44] #109 closed, assigned to nobody

[2021-06-15 15:44] #110 closed, assigned to diegomendieta

[2021-06-15 15:44] #111 closed, assigned to jcechavarri

[2021-06-15 15:44] #112 closed, assigned to jcechavarri

[2021-06-15 15:44] #113 closed, assigned to jcechavarri

[2021-06-15 15:44] #114 closed, assigned to jcechavarri

[2021-06-15 15:44] #115 closed, assigned to jcechavarri

[2021-06-15 15:44] #117 closed, assigned to fivaldivia

[2021-06-15 15:45] #84 closed, assigned to nobody

[2021-06-16 13:31] sofiacorreabusquets opened #149 "[Tarea 3][Pregunta 1] Duplicados en datos y sesgo al modelo"
¡Hola! Tengo una duda respecto a cuánto tenemos que confiar, y cuánto podemos incidir, en la calidad del set de datos que se nos entrega inicialmente. Estaba procesando los datos asumiendo que todos los valores del atributo `pixels` serían distintos, porque cada foto aparecería una sola vez en el set de datos. Por el contenido de clases, entendería que fotos repetidas sesgarían el modelo. Sin emba

[2021-06-16 22:28] gicrot opened #150 "[Tarea 3][Pregunta 2] Extracción de características"
Hola!
Leyendo e implementando la tarea, me quedó una duda del enunciado sobre qué se espera que hagamos para la extracción de características, que no se si me piden crear los modelos usando las landmarks como características, o si podemos usar las landmarks para extraer otras características en base a estas.

[2021-06-17 22:45] oerlandsen opened #151 "Clase 27 grabación"
Hola! podrían subir la grabación de la clase?
Saludos!

[2021-06-18 00:03] FeBalla commented on #151
Hola! Mil disculpas, cambiamos el sistema hoy para tenerles las clases subidas antes, pero por algún motivo no se publicó (lo dejamos listo en la mañana 😢 ). No volverá a suceder. Mucho éxito!

[2021-06-19 13:27] sofiacorreabusquets opened #152 "[Tarea 3] Distribución de puntajes"
¡Hola! Quería preguntar si cada una de las 6 preguntas de la Tarea 3 equivale a un punto de nota, y/o si tendremos acceso al detalle de la distribución de puntajes como el que estaba integrado en los enunciados anteriores. ¡Gracias de antemano!

[2021-06-19 18:06] aamedinaj commented on #152
Hola
La respuesta es bien simple en realidad. La cantidad de puntos es pareja para toda la tarea: 1 punto cada pregunta

🦊

[2021-06-19 18:19] sofiacorreabusquets commented on #152
Gracias!

[2021-06-19 18:50] chris-carstens commented on #149
Hola! @sbcorrea
Muy buen comentario.
En general hay que recordar que las bases de datos en la vida real en ningún caso son perfectas, y se pueden dar outliers o incluso errores dentro. Por lo mismo la etapa de **preprocessing** es clave en estos modelos. Ahora en este caso, la fracción es baja, y puedes tomar decisiones en base al análisis que hagas de los datos que encontraste duplicados. Por eje

[2021-06-19 19:16] sebaelsaca opened #153 "[Tarea 3] Libreria para mostrar imagenes"
Hola, dado un set de pixeles, podemos ocupar cualquier libreria para desplegar la imagen con tales pixeles?

[2021-06-19 20:20] chris-carstens commented on #153
Sí, puede que ocupes una librería o combinación para procesar y visualizar. Mientras se muestre correctamente está bien.

[2021-06-19 21:57] gustavobarrezueta opened #154 "[Tarea 3] Posición de landmarks fuera de la imagen"
Hola! Me surgió una duda calculando los landmarks de las imágenes, ya que algunas marcas quedan fuera de la imagen misma. Por ejemplo, si pensamos que el eje x va desde 0 a 40, existen landmarks que se ubican en valores negativos de x y, por tanto, quedan fuera de la imagen. No me esperaba este resultado y por eso quería preguntar si es que es normal que ocurra eso y simplemente no considero esos

[2021-06-20 01:26] amahns1 opened #155 "Definición o calidad de la imagen"
Hola!

Espero que estés muy bien :)

Quería preguntar si es importante mantener la calidad de la imagen. Como las imágenes están en formato 48X48, es un poco difícil visualizarlas sobretodo con los _face_landmarks_. ¿Está bien si se pierde la definición o calidad de la imagen al mostrarlas con y sin _landmarks_?.

Muchas gracias!!

[2021-06-20 17:03] sebaelsaca commented on #153
Gracias @chris-carstens, otra pregunta que tenía es si es obligación ocupar google colab o no, ya que hice todo en un jupyter notebook sin google colab.

[2021-06-20 19:28] sebaelsaca opened #156 "[Tarea 3] Face Landmark list"
Hola,

Llegué a un problema raro en el que face_landmarks_list me entrega puntos que algunos están con un x o y con valor 49 o 0. Esto me trae problemas al momento de pintar ciertos pixeles ya que desplazar la imagen en 2 unidades queda feo. Está bien que ocurra esto?

[2021-06-20 20:39] sebaelsaca commented on #156
Siguiendo esta misma linea noté que también otro posible error que es que algunas imagenes no arrojan nada en face_landmark y eso no se si está bien que a veces ocurra (siendo que yo vi la foto y se veía claro la cara)

[2021-06-20 21:45] chris-carstens commented on #153
No hay problema, simplemente como recomendación se suele usar más colab por las prestaciones de hardware que tiene. Probablemente para correr los modelos más rápido te sirva usar  GPU de colab también, puede que se te demore mucho sin ella.

[2021-06-20 22:07] IngElecPuc commented on #156
Hola

¿Me podría enviar algunos ejemplos? Si puede tanto de la imagen como del
valor de la variable, por favor.
Saludos

El dom, 20 jun 2021 a las 16:40, sebaelsaca ***@***.***>)
escribió:

--
Felipe Ríos Luhr
Estudiante de Doctorado en Ciencias de la Ingeniería
IALab, Departamento de Ciencias de la Computación
Pontificia Universidad Católica de Chile

[2021-06-20 23:36] sebaelsaca commented on #156
Ya lo resolví y el tema era que cuando tienes una foto con una parte de la cara cortada la función a veces asume que tal rasgo de la cara continua después del corte y probe en varios puntos y hacía sentido

[2021-06-21 00:14] CataAlamos opened #157 "[Tarea 3] Definir el Modelo"
Hola, en la pregunta 2 de la tarea, ¿Es necesario decir qué modelo vamos a usar o sólo como se está dividiendo el set de entrenamiento y validación?

[2021-06-21 02:13] Huasito-Appel opened #158 "[Tarea 3][Parte 1]"

[2021-06-21 02:22] Huasito-Appel commented on #158
si se podia, gracias 🦊

[2021-06-21 03:14] amahns1 commented on #154
Me sumo a la pregunta, mantenemos los _landmarks_ que están dentro de la imagen? O esos _landmarks_ que están afuera (con coordenadas negativas) equivalen a una "proyección" de la cara y por lo tanto hay que mantenerlas?

[2021-06-21 03:38] josejimenezp opened #159 "[Tarea 3] Problemas al instalar face_recognition"
Hola, me sale este error cuando intento instalar la librería :(

![image](https://user-images.githubusercontent.com/48298035/122703879-83fb4100-d220-11eb-8ea2-ba8397fe0dc8.png)
![image](https://user-images.githubusercontent.com/48298035/122703904-92495d00-d220-11eb-9f41-38a9ac56be07.png)

[2021-06-21 05:02] chris-carstens commented on #159
Hola! Antes de arreglar el error, por qué no usas colab mejor?
(Y si aún así prefieres correrlo en local, te recomiendo usar un virtual env para no descargar todas las librerías, que pueden ser bien pesadas, en tu path global de python)

[2021-06-21 05:05] chris-carstens commented on #158
Hola! Ojo que no puedes publicar parte de tu código por aquí, para que elimines la issue.

[2021-06-21 05:05] #158 closed, assigned to nobody

[2021-06-21 14:59] szabala commented on #150
Me sumo a esta duda, ¿tenemos libertad para extraer las features que queramos de las imágenes? El enunciado se pega un salto desde estudiar las imágenes a entrenar los modelos.

[2021-06-21 16:31] Huasito-Appel commented on #158
oka, pense que se podia

[2021-06-21 17:37] aamedinaj commented on #156
Espera, queda algo por responder, o no? 😅

[2021-06-21 17:38] aamedinaj commented on #157
Hola,
Es buena idea ir indicando qué se está haciendo en cada paso, el enfoque es evaluar si entendieron cómo usar los distintos sets y los distintos modelos. Aprovechen que es un colab y se puede añadir harto texto entremedio de cada celda de código

🦊

[2021-06-21 18:22] IngElecPuc commented on #153
Dentro de las opciones más recomendadas: Pillow, OpenCv, el comando display de Colab, Matplotlib, e incluso openpifpaf tiene unos códigos que vimos en la ayudantía con los que se puede desplegar la imagen

[2021-06-21 18:27] IngElecPuc commented on #154
En tal caso el landmark es una predicción de la librería dlib. Tienes que resolver esto según si serviría o no como una característica para el reconocimiento. ¿Invalida este rasgo el ponerla en la matriz de características? En ese caso si la quitas o descartas tienes que mencionar el porqué. Ahora, si se trata de solamente desplegar la imagen, no te va a caber en la original, puedes o bien ampliar

[2021-06-21 18:32] IngElecPuc commented on #159
Para utilizarlo en tu computador local tienes que tener una GPU configurada con los drivers. Eso es bastante trabajo, y no queremos que entren en eso (a menos que ya lo sepan hacer). Mejor hacer lo que dice Christian, Google Colab es un ambiente que debería dar acceso a todos al uso de ese hardware, y así todos pueden tener más o menos la misma oportunidad, y no vérselas solos con sus propios recu

[2021-06-21 18:56] IngElecPuc commented on #150
Hola
Cuando diseñé esta tarea quería que les saltara esa duda, pues es algo con lo que todos los que vayan a trabajar con este tipo de problemas (ciencias de datos en general). Para dejar las cosas claras a nivel general el esquema a modo de pasos es el siguiente:
1.- Aprender el dominio del problema: aprender sobre el problema en sí, sus variables generales y fenómenos asociados. En este caso se

[2021-06-21 19:18] IngElecPuc commented on #156
Revisa esta issue para que veas lo que puedes hacer cuando los elementos quedan afuera de la imagen: #154

[2021-06-21 19:18] #156 closed, assigned to nobody

[2021-06-21 19:22] IngElecPuc commented on #157
Hola
En la propia pregunta 2 dice "Explique y justifique". Así que sí, deberías explicar esas cosas. Has uso de las herramientas de texto como te lo indica Pavel.

[2021-06-21 19:30] aamedinaj commented on #155
Si las imágenes vienen en ese formato no hay problema que así se queden, si quieres mostrar los landmarks puedes mostrar "pares de fotos" en el mismo output:

[FOTO ORIGINAL SIN LMs][MISMA FOTO AGREGANDO LOS LMs].

🦊

[2021-06-21 20:45] FelipeA7 opened #160 "[Tarea 3] Duda respecto a lo que retorna face_landmarks(image)"
Hola, estaba en la pregunta 1 tratando de mostrar los landmarks de una foto de cada emoción, pero no entiendo muy bien que es lo que retorna el método fr.face_landmarks(image). En un principio pensé que retornaba las ubicaciones de cada punto en la imagen, pero al hacer un print de los resultados me dan coordenadas negativas y otras que son mayores a 48 (siendo que la imagen es de 48x48)
Traté de

[2021-06-21 21:33] JupaOlivares commented on #160
Hola tengo el mismo problema, no se si es problema de formato o así debería ser el output y no lo estamos interpretando como se debe

[2021-06-21 21:50] DiegoEmilio01 commented on #157
Para justificar la toma de decisiones se puede utilizar información expuesta en clases (citando el uso del material) o en ese caso debo investigar fuentes externas que expogan la teoría? Muchas gracias de antemano

[2021-06-21 21:59] aamedinaj commented on #157
Pueden ser ambas, lo que más te acomode

🦊

[2021-06-21 21:59] IngElecPuc commented on #160
Hola
Este tema ya se había preguntado antes. #154.
Saludos

[2021-06-21 22:13] gicrot opened #161 "[Tarea 3] Arquitectura de ensamblaje de clasificadores"
Hola, no sé a que se refiere en la pregunta 6 con diseñar una arquitectura de ensamblaje de clasificadores, por si lo vimos en una clase y se me pasó o si tienen algún ejemplo de a que se refiere esto, ya que piden un diagrama sobre esto igual.

[2021-06-21 22:41] JupaOlivares commented on #160
La issue estaba cerrada y no me aparecia! Gracias

[2021-06-21 22:47] IngElecPuc commented on #161
Hola Gerardo
Por el momento, te puedo contestar que un ensamblaje es una combinación de las técnicas de clasificación. Esa combinación puede tomar muchas formas, pueden ser en cascada, en paralelo, puede ser una red de técnicas, etc. Cada etapa va a mover los datos a un nuevo espacio, puedes pensar en que cada modelo sería algo así como una transformación. La idea es que se puedan combinar las téc

[2021-06-21 23:16] szabala opened #162 "[Tarea 3] hiperparámetro slack en SVC"
Hola, en el enunciado se indica que:

¿A que hiperparámetro del SVM se refieren con _slack_? Leyendo la [documentación](https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html#sklearn.svm.SVC) del clasificador que nos piden utilizar no encuentro ningún hiperparámetro que regule el uso de variables de _slack_. Agradezo de antemano por la aclaración 😄

[2021-06-21 23:24] aamedinaj commented on #162
Hola,
El hiperparámetro al que te refieres es la C, que regula el segundo término a optimizar en el problema de optimización asociado a SVM

🦊

[2021-06-21 23:28] szabala commented on #162
Super, gracias!

[2021-06-22 01:49] josejimenezp commented on #159
Hola, sigo teniendo problemas con Google Colab

![image](https://user-images.githubusercontent.com/48298035/122849977-7a361400-d2da-11eb-9219-e109d5b0512a.png)

[2021-06-22 03:53] gsalinas0 opened #163 "[Tarea 3][pregunta 1] Dlib retorna las caras dadas vuelta"
Hola. Estoy en la pregunta 1 intentando graficar los landmarks. Me pasa que con todas las caras que intento analizar, `dlib` las devuelve todas dadas vuelta. He intentado de todo para darlas vuelta pero no se como, ¿alguna recomendación (o alguien a quien le pueda mostrar mi código :sweat:)?. ¿Tiene esto que ver con que algunos de los valores predichos por `dlib` sean negativos?
Por ejemplo, con l

[2021-06-22 15:59] dfloreaa opened #164 "[Tarea 3] ¿Qué es específicamente una matriz de características?"
Hola, cuando en el enunciado se menciona que `Construya las matrices de características X, y los vectores de etiquetas y correspondientes a cada set.`, a qué se refiere específicamente, entiendo que y son las labels para los datos, pero ¿qué son las matrices de características? No encuentro nada sobre ellas en internet

Se referirán por ellas a un array de numpy (o el formato en que uno prefiera)

[2021-06-22 16:25] dfloreaa commented on #163
A mi me ocurrió algo parecido y creo que te puedo ayudar, el tema es que si te fijas en los ejes de coordenadas, para tu imagen el eje _y_ va desde 48 a 0 (de abajo hacia arriba) y tu eje _x_ desde 0 a 48, por tanto, y esta "invertido", pero a la hora de trabajar con los puntos _y_ va desde 0 a 48 y _x_ de 0 a 48 también.

![image](https://user-images.githubusercontent.com/62019645/122964007-d473b

[2021-06-22 16:25] aamedinaj commented on #164
Hola,

Las matrices de caracteristicas pueden ser arrays, dataframes, etc. que contienen la información que tú consideras necesaria para hacer la predicción. Un ejemplo básico es cuando vieron árboles de decisión: cada fila era una instancia, y cada columna era una caracteristica (outcast, nublado, viento, etc).
En esta tarea es esencialmente lo mismo, solo que las columnas no son tan explicitas,

[2021-06-22 17:01] gsalinas0 commented on #163
Ahh bueena, muuchas gracias!

[2021-06-22 18:14] tocococa opened #165 "[T3][Colab] Colab funciona mal"
Hola!
Es normal que Colab funcione lento? Se demora en abrir nuevas celdas, anda a tirones cuando uso markdown en una celda de texto, tarda en registrar input y además se desconecta cada cierto rato y tengo que volver a ejecutar todas las celdas, tampoco me guarda lo que he ejecutado si cierro la pestaña y la vuelvo a abrir, cada vez que abro el proyecto tengo que volver a instalar face_recognitio

[2021-06-22 19:14] IngElecPuc commented on #163
Hola
El estándar para trabajos con imágenes es siempre con el origen el la esquina superior izquierda, el eje x crece hacia la derecha, y el eje y siempre crece hacia abajo. Además, con imágenes RGB, el primer canal es rojo, el segundo verde, y el tercero azul. Eso no nos importa aquí, pero es por si después les interesa trabajar con imágenes.
Saludos

[2021-06-22 20:30] Brocoleta opened #166 "[Tarea 3] SVC Muy lento"
Hola estoy tratando de hacer la pregunta 3 de la tarea, pero tengo el problema que el svc.fit corre demasiado lento, nunca termina, trate de reducir el training set a la mitad pero tampoco funciona. Nose si estoy haciendo algo mal o realmente es muy lento

[2021-06-22 20:50] chris-carstens commented on #165
Hola! @tocococa lo que sí es normal es que al cerrar colab tengas que correr nuevamente las celdas para descargar las librerías o datos, porque se almacena solo durante la sesión, pero no debería demorar mucho la descarga. Recuerda usar colab con la GPU para que te corra más rápido el programa. Si el tema es que tu pc anda lento, te recomiendo cerrar otras pestañas de chrome o tareas del pc, el ha

[2021-06-22 20:54] chris-carstens commented on #166
Hola! @Brocoleta
Primero que todo, estás usando la GPU? Te recomiendo usarla para la tarea
Según las combinaciones de modelos que hagas, efectivamente hay algunos que te pueden demorar mucho, según los parámetros que uses, es normal.

[2021-06-22 21:04] chris-carstens commented on #166
En particular con SVM,  puede ser que tengas un valor de slack muy grande y el SVM se demore demasiado pues tiene mucha holgura para mover los planos. Parte por valores pequeños de slack y anda incrementando.
Además, verifica cunánto se te demora en correr un único fit.

[2021-06-22 21:06] Brocoleta commented on #166
Hola, si estoy ocupando un GPU, acelere bastante el proceso escalando el set con las librerias de sklearn.preprocessing, pero veo que esto afecta el accuracy, nose si esta bien?

[2021-06-22 21:14] tocococa commented on #165
Ya probé con eso :'c, no creo que sea mi PC porque es un tarro más o menos potente, pero lo que me tiene más lateado que el input lento o demás, es que mientras ocupo Colab se desconecta y ahí tengo que volver a ejecutar todas las celdas, voy a ver si logro instalar face_recognition localmente y no usar Colab nomás, porque estaba averiguando un poco más y me tinca que es culpa de Google que no opt

[2021-06-22 21:31] CataAlamos opened #167 "[Tarea 3] Pregunta 2"
Hola, ¿La matriz característica es de este estilo o sólo debe incluir los pixeles?

En caso de que el formato que tengo este malo, ¿Qué debe incluir la matriz característica?
<img width="400" alt="Screen Shot 2021-06-22 at 17 31 08" src="https://user-images.githubusercontent.com/62016215/123002227-abb4eb00-d37f-11eb-8985-94b00969cffd.png">

Muchas gracias de antemano

[2021-06-22 21:51] chris-carstens commented on #166
Sí estaría bien, siempre y cuando no te afecte contundentemente el desempeño de tus modelos. Además, si justificas correctamente en esa pregunta el correcto uso de la librería y por qué vale la pena perder accuracy, mejor aún.

[2021-06-22 23:52] joaquinhernandezg opened #168 "[Tarea 3] ¿Que clasificadores hay que usar?"
En la pregunta 3 dice "Entrene todos los clasificadores". A que clasificadores se refiere exactamente? De lo que dice a continuación se infiere que solamente SVM, Decision Tree y Naive Bayes, pero me queda la duda.

[2021-06-23 04:19] aamedinaj commented on #168
Hola :D

En la introducción de las actividades (punto 4.1) dice

Esos 3 modelos serían "todos"

🦊

[2021-06-23 19:59] Huasito-Appel commented on #167
Me sumo a la consulta, no tengo claro del todo que debemos entregar, tanto para la matriz como para el vector y

[2021-06-23 21:50] IngElecPuc commented on #167
Hola, te sugiero que revises este issue #164.
Saludos

[2021-06-23 23:20] baseba opened #169 "uso de gdown"
Hola en la tarea nos indican qeu podemos usar el comando gdown  -id [id] para descargar los datos, no me queda claro el uso de este, se utiliza en consola? o se usa directamente en el colab?

[2021-06-23 23:26] chris-carstens commented on #169
En colab puedes insertar un comando con un ! antes. Paricularmente debes usarlo así:
!gdown --id 1rR0CjYZDgMfZDVYlyPxJdYpDN1XH5AYq

[2021-06-23 23:34] sperezmasri opened #170 "[Tarea 3][Pregunta 3] Uso de set_params"
Hola! Es obligación el uso del método set_params? O se pueden ir creando modelos donde al instanciarlos le "setiemos" los parametros? Saludos

[2021-06-23 23:40] ignacio-urrutia opened #171 "[Tarea 3] [Pregunta 3] Número de testeos de hiperparámetros"
Hola! En la pregunta 3 nos piden probar con diferentes hiperparámetros, por ejemplo para SVM debemos probar tres valores de kernel y cinco de slack, la idea es probar todas las combinaciones de esos valores (15 testeos) o probamos dejando uno constante en cada caso (8 testeos)? Lo mismo para árbol de decisión.

Gracias y saludos

[2021-06-24 00:46] IngElecPuc commented on #171
Hola
Tienes que hacer los 15 testeos y desplegar una tabla con los resultados de cada par. Lo mismo para el árbol de decisión.
Saludos

[2021-06-24 00:48] ignacio-urrutia commented on #171
Bacán, muchas gracias. Lo otro: puede ser que con ciertos valores de C me corra con algunos kernel y con otros no?

[2021-06-24 02:09] cristobalgon opened #172 "[Tarea 3] [Pregunta 1] Imágenes sin face_landmarks"
Hola, al empezar a hacer la tarea, me di cuenta de que hay algunas imágenes a las cuales les aplico el filtro de 'face_landmarks' y no me retornan nada (una lista vacía). Lo encuentro súper curioso, pero qué se podría hacer en ese caso??

Gracias! :)

[2021-06-24 03:09] DiegoEmilio01 opened #173 "[Tarea 3] Pregunta 3. Predicciones de los modelos muy similares"
Hola, las features que extraje funcionan relativamente bien. El problema es que los 3 modelos son muy parecidos en cuanto a resultados. El mejor y el segundo, en cuanto a accuracy, tienen menos de una milésima de diferencia. Por lo tanto, me parece que no puedo responder la pregunta y debería responder con otro enfoque. Por ejemplo, por qué todos se ajustan igual o ninguno destaca (en comparación

[2021-06-24 03:52] Huasito-Appel commented on #172
not, ayudante pero se contesto en otra issue (cuando la encuentre la tageo). basicamente era que no se lo pasaramos a los clasificadores.

[2021-06-24 19:16] IngElecPuc commented on #173
Hola Diego
Me parece que tu enfoque es correcto. Al fin y al cabo es lo que puedes hacer con tus resultados. Ten en cuenta que es posible que hayas encontrado buenos hiperparámetros para los tres casos, y si tus resultados son buenos, entonces debes procedes como indicas.
Ten en cuenta, que uno de los métodos tiene pocas opciones para darle hiperparámetros, o la opción interesante requiere de un e

[2021-06-25 16:47] tomasalvarez13 opened #174 "[Tarea 3] [P1]"
Hola, cuando nos piden 'desplegar  las  mismas  imágenes  ahora  utilizando  el formato que tiene la Figura 2', es necesario mostrar 2 imágenes (una con los landmarks y la imagen superpuestos y otra solo con los landmarks)? O con desplegar solo la con los landmarks superpuestos a la imagen está bien? Gracias

[2021-06-25 19:05] fivaldivia commented on #174
Hola, debes mostrar ambas imágenes que se muestran en la Figura 2!

[2021-06-25 19:17] fivaldivia commented on #170
Hola, en realidad es lo mismo si lo haces de una forma a otra. Aunque es mejor si lo haces con set_params como se pide en el enunciado, pero como más te acomode!

[2021-06-25 20:17] FelipeLara00 opened #175 "[Tarea 3] Forma correcta de cargar csv"
Hola!
Estoy teniendo problemas para abrir el archivo .csv en el colab. Quería saber cual es la forma de importar el archivo para no tener problemas después en la corrección. Intente con lo que sale en el enunciado pero no me funciono.

Saludos

[2021-06-25 20:24] #175 closed, assigned to nobody

[2021-06-26 00:02] javiermingo opened #176 "recorrecciones T2"
Hola! donde se puede hacer la recorreccion de la T2?

[2021-06-26 05:53] FeBalla commented on #176
Hola! El formulario para la recorrección se habilitará el sábado 26 de junio. Estábamos esperando un avance con la corrección de las tareas atrasadas y no lo habilitamos jueves y viernes por el receso académico.

[2021-06-26 17:42] Brocoleta opened #177 "[Tarea 3] Accuracy esperado"
Hola, que accuracy deberia ser aceptable para el modelo, me esta dando aprox 40%, pero nose si esto es aceptable o se espera algo mucho mejor como 90%?

[2021-06-26 17:48] fjcroquevielle opened #178 "[Tarea 3][Pregunta 2]"

[2021-06-26 18:16] gustavobarrezueta commented on #177
Hola! En esta misma línea me gustaría preguntar qué método debemos usar para medir el accuracy, ya que existen muchos en la librería.

[2021-06-26 19:02] fivaldivia commented on #177
Hola @Brocoleta, nose en qué parte de la tarea te refieres pero en al comparación de modelos, más que un accuracy específico, te debiesen dar distintos accuracy, unos más altos y otros más bajos, con los cuales debieses poder sacar conclusiones y responder a las preguntas.

@gustavobarrezueta en cuánto a lo que preguntas, en el enunciado hay una parte donde se explica el `accuracy score` por lo qu

[2021-06-26 19:11] gustavobarrezueta commented on #177
Creo que había pasado por alto por completo esa parte, muchas gracias @fivaldivia!

[2021-06-26 21:21] Huasito-Appel opened #179 "[Tarea 3][Pregunta 5]"
Hola, Para esta pregunta me quedo con que los resultados era casi identicos, tengo un 1% de variacion respecto al accuracy y un par de cambios en la matriz de confucion, pero nada significativo. Por lo que no se muy bien como realizar esta pregunta ya que no tengo mucho analisis comparativo que hacer.
Quedo atento a sugerencias. Gracias

[2021-06-26 21:52] antoniaalcayaga opened #180 "[Tarea 3] [Pregunta 2] Máximo de características"
Hola,

En la pregunta 2 tenemos que contestar  "¿Cuánto es el máximo de características que puede incluir en cada matriz X?"  y no entiendo la pregunta ni que es lo que quieren que respondamos, ya que no recuerdo que en clases pasáramos que la matriz tuviera que tener un número máximo de características y tampoco el programa me exigió que la matriz tuviera un tamaño especifico. Entonces mas que na

[2021-06-26 22:08] joaquinhernandezg commented on #179
Me pasa exactamente lo mismo, mi accuracy y la matriz de confusión replican exactamente lo mismo del punto anterior.

[2021-06-27 01:13] javier-ICO commented on #177
Me sumo a la duda de Brocoleta, creo que se refiere como al rango de accuracy que es suficiente para saber que lo que uno está haciendo está bien (como por ejemplo la calidad de las features), ¿Es razonable que el mejor de los modelos con los mejores hiperparámetros tenga una accuracy del 50%, o 70% o 90%?, por ejemplo, o es irrelevante?.

[2021-06-27 02:51] jorge-ovalle opened #181 "[Tarea 3] Git Push"
Hola! Git no me deja pushear el _jupyter notebook_  porque al parecer tiene almacenadas en el entorno de ejecución archivos de gran tamaño. Qué hago para poder subir el _notebook_ al repo?

[2021-06-27 02:53] SarahEverke commented on #181
Hola,
¿Te funciona guardarlo desde drive en github (Archivo > Guardar una copia en github)?

[2021-06-27 21:30] Baelfire18 opened #182 "[Ayudantía 8]"
Hola pueden subirse el `jupyter notebook` de la ayudantía de `naive bayes`.
Gracias!

[2021-06-27 22:34] FelipeA7 opened #183 "Datos que usar en preguntas 3 y 4"
Hola, entiendo que al ir variando los parámetros, se debe ir evaluando con los datos de validación, pero luego para reportar las matrices de confusión yo estaba haciéndolo con los datos de testing. Después leí la pregunta 5 y recién ahí dice que se evalúe el modelo con los datos de testing.
Entonces me salió la duda, en la pregunta 3 y 4 trabajamos solo con los de entrenamiento y validación? O los

[2021-06-27 22:39] IngElecPuc commented on #183
Hola
Es bien importante que hayas hecho esta pregunta. En general el set de validación está para buscar hiperparámetros. Y si vas reportando los resultados con ese set durante esta búsqueda entonces estás bien. Eso significa que en la pregunta 4 deberías utilizar el mismo set para reportar la matriz de confusión, a modo de término de tu proceso de entrenamiento. Ya en la pregunta 5 se te pide que

[2021-06-27 23:12] IngElecPuc commented on #180
Hola
En un marco general es cierto que no se ponen límites a esa matriz, pero esto a nivel teórico. El tema a contestar es, ¿cuál es el máximo de características posibles para la matriz X para este problema, set de datos y herramientas dadas?
Saludos

[2021-06-27 23:18] FelipeA7 commented on #183
Perfect! aprovechando la pregunta, cuando piden el mejor y peor rendimiento de cada categoría en la matriz de confusión, hay que verlo más o menos al ojo o no? Porque sino la única forma que se me ocurre es haciéndolo a mano

[2021-06-28 00:55] FranciscoCabello opened #184 "[Tarea 3] Pregunta 6: Bagging - Boosting"
Hola,

¿Es necesario explicar la matemática atrás de bagging y boosting o es simplemente explicar como funciona cada técnica?

Saludos.

[2021-06-28 01:00] IngElecPuc commented on #183
En la guía te aparece un método para que puedas analizar cada categoría. Esto también lo vimos en la ayudantía.

[2021-06-28 02:22] sebaelsaca opened #185 "Pregunte 6: Bagging y Boosting"
Hola, tengo una duda de Bagging y Boosting. El tema es que investigué de ambos y se que sklearn ofrece funciones que te permiten ensamblar con una función y quería saber si las podemos ocupar o se espera que construyamos algo desde cero? Por ejemplo, random forest de sklearn.

[2021-06-28 03:22] IngElecPuc commented on #185
Hola
La misma guía dice que no es necesario entrenar nada. Lo importante es tratar de contestar lo que dice ahí.
Saludos

[2021-06-28 15:03] #178 closed, assigned to nobody

[2021-06-28 16:15] fivaldivia commented on #184
Hola, lo importante es que investigues y definas las técnicas y las compares, ya va en tu criterio si explicas o debes explicar la parte matemática para responder lo que te menciono. Ojala haya quedado claro!

[2021-06-28 20:23] tomytable opened #186 "[Tarea 3] Proceso de corrección"
Hola, quería preguntar si para la corrección de la tarea 3 el ayudante va a correr todo el código o se va a fijar en el output que las celdas tengan. Pregunto esto porque procesos como cargar los datos a colab me está tomando mucho tiempo (cerca de 10 minutos) y lo estoy haciendo manualmente, es decir, sin código. Además, algunos comandos pueden variar dependiendo si se revisa en colab o directame

[2021-06-28 21:11] chris-carstens commented on #186
Hola, en general las tareas se revisarán solo outputs, por lo que los resultados ya deben estar corridos y explícitos. Esto no implica que en algunos casos el ayudante pueda ejecutar código para ver ciertas cosas.
Respecto a los comandos previos, no te preocupes por eso, se revisará finalmente desde el punto en que comienzas el preprocesamiento de datos. De todos modos los ayudantes sabrán cargar

[2021-06-28 21:55] tomytable commented on #186
Gracias por la rápida respuesta, el único problema que tuve para cargar los datos fue el tiempo que demora pero por lo que dices esto no debería ser un inconveniente.

[2021-06-28 22:58] tomasalvarez13 commented on #174
Con respecto a esto, es estrictamente necesario que sea una al lado de la otra, o puede ser una abajo de la otra?

[2021-06-28 23:37] jaimecoloma opened #187 "[Tarea 3] Pregunta 4: Imágenes del set de datos"
Hola! Quería saber qué se espera cuado piden mirar las imagenes en esta parte, no entiendo muy bien cuantas debo mostrar o si debería buscar alguna que falle u otra alternativa.
Quedo atento.

[2021-06-29 00:12] FeBalla commented on #182
Ya está subido!

[2021-06-29 03:43] Baelfire18 opened #188 "[Tarea 3] Formato de entrega"
En cuanto al formato de entrega debe ser solo:
[code]
- Solo con esos dos archivos cierto?
- Y el `.ipynb` debe tener algún nombre en concreto ? Había leído algo de nombre, apellido y número de alumno, pero no sabía si solo debían estar en la tarea o ser el nombre del archivo en sí.
De ser el nombre del archivo debe ser en algún formado en específico? camelCase, snake_case, etc?
- Las respuestas a

[2021-06-29 07:52] ebrzovic commented on #188
Hola :),

Tu archivo `.ipynb` debe contener tu nombre, apellido y número de alumno en alguna parte del archivo, (ojalá que esté al principio jajaj). Sobre el  nombre de archivo y formato no se especifica nada, pero sería ideal que se relacionase con la tarea 3 y tenga un formato entendible y ordenado. El nombre que pusiste `Tarea_3.ipynb` está bien.
Las respuestas de a las preguntas deben ir junto

[2021-06-29 08:19] ebrzovic commented on #187
Lo que se espera en esta parte es que mires las imágenes de set de datos para apoyarte en la justificación de tus respuestas de las preguntas. Un ejemplo puede ser"en la imagen real X observé que cuando la persona está muy alegre, su boca está muy abierta lo cual afecta el algoritmo de clasificación de cierta forma".
Quedo atento a cualquier duda :)

[2021-06-29 15:51] Baelfire18 commented on #187
O sea se deben volver a mostrar las imagenes en esa parte? Y deben corresponder a cada set (train, test, validate) o no es necesario?

[2021-06-29 16:09] CataAlamos opened #189 "[Tarea 3] Pregunta 6"
Hola, no me queda claro lo que nos están pidiendo. Tengo entendido que seleccionamos un modelo pero no se a que se refiere con "una arquitectura de ensamblaje de clasificadores"? Estos son los hiperparametros?

Muchas gracias

[2021-06-29 16:33] NickCastillo commented on #161
Hola! Con respecto a esta misma pregunta. Si encontramos que en vez de hacer X (tipo de características por ejemplo) hubiera sido mejor hacer Y, podemos hablar de una arquitectura de ensamblaje para mejorar el rendimiento pero considerando el uso de Y? o deberíamos seguir con las ideas iniciales X?

[2021-06-29 17:08] IngElecPuc commented on #161
La arquitectura se pide a un nivel mayor de abstracción. El entregable tiene forma de diagrama o psudocódigo (el primero es más adecuado). Dicho esto, tal nivel de abstracción lo puede hacer independiente de la forma de la matriz de características, de manera que se pueda adaptar a varias matrices. Esto implica que no importa la cantidad exacta de características.

[2021-06-29 17:32] IngElecPuc commented on #189
Hola
Un ensamblaje en una combinación de modelos para aprovechar sus mejores características y reducir sus debilidades. Una arquitectura sería, para el caso de la pregunta, un diagrama con esa combinación, seguida de tus explicaciones de porqué funcionaría, (consideranto tanto la materia como las características de este problema). Te recomiendo que hagas la investigación.
Saludos

[2021-06-29 17:58] jaimecoloma commented on #187
Es que eso es lo que no tengo claro, idealmente mostrar unas 2 o 3 imagenes por clase y sus landmarks? Y sumado a lo que mencionaron arriba, da lo mismo a que set pertenezcan o deben ser de uno específico? (asumo sería el Train)

[2021-06-29 18:52] beatrizacuna opened #190 "[Tarea 3][Pregunta 3] Entrenar Clasificador y Matriz de características"
Hola! Mi matriz de características es de la forma:
![Captura de pantalla 2021-06-29 a la(s) 14 49 09](https://user-images.githubusercontent.com/48481963/123851484-39955680-d8e9-11eb-9dd2-3fedc52d29a6.png)

Y cuando ejecuto:
`nb_clf = GaussianNB()`
`nb_clf.fit(matrix_features_train, y_train)`
me tira un ValueError: float() argument must be a string or a number, not 'list'

Mis preguntas son: está b

[2021-06-29 18:57] sofiacorreabusquets commented on #190
Hola! No soy ayudante, pero el modelo espera que cada feature sea un solo número y no tiene implementado el manejo de excepciones para que sea una lista de tuplas.

[2021-06-29 19:24] Baelfire18 commented on #188
Muito obrigado

[2021-06-29 19:35] IngElecPuc commented on #190
Hola
En efecto el modelo espera que tu matriz de características solo posea números. Mi consejo es que tomes los datos de pandas y los pases a numpy que es lo más adecuado. De todas maneras asegúrate de que el formato en numpy también sea el adecuado.
Saludos

[2021-06-29 19:37] beatrizacuna commented on #190
Gracias @IngElecPuc  :) a qué te refieres con "los pases a numpy"? no entendí, es a un numpy array?

[2021-06-29 19:51] beatrizacuna opened #191 "Google Colab"
Hola! Me sale esto en pantalla cuando intento ejecutar mi notebook y no se qué hacer :( ayuda

![Captura de pantalla 2021-06-29 a la(s) 15 50 47](https://user-images.githubusercontent.com/48481963/123858709-d2c86b00-d8f1-11eb-831f-35aa5fd3ce93.png)

[2021-06-29 19:53] sofiacorreabusquets commented on #191
Harta gente lo solucionó compartiendo el notebook con otra cuenta de google y abriéndolo en la 2a ;)

[2021-06-29 19:56] IngElecPuc commented on #190
Si, a un numpy array. Sorry lo vago.

[2021-06-29 20:05] ebrzovic commented on #187
Hola, en esta parte no es obligación mostrar, pero  si crees que te puede facilitar mucho la explicación, te recomiendo subir una foto.
Ahora recuerden que en la pregunta 1 ya tienen la obligación de desplegar por lo menos una imagen de cada clase en el jupyter.
No tiene que pertenecer a algún sub set en particular, las pueden sacar del dataset original si les sale más fácil. Lo que importa que es

[2021-06-29 20:15] jaimecoloma commented on #187
Ya perfecto! Con saber que eran para facilitar la explicación me quedo tranquilo.
Gracias! 😄

[2021-06-29 21:34] beatrizacuna commented on #190
@IngElecPuc convertirlo a un numpy array me arroja el error only size-1 arrays can be converted to Python scalars al usar fit. He investigado y no sé cómo podría convertirlo a un size-1 array

[2021-06-30 02:28] joaquinhernandezg opened #192 "[Tarea 3][]"

[2021-06-30 02:28] #192 closed, assigned to nobody

[2021-06-30 02:30] joaquinhernandezg opened #193 "[Tarea 3][Pregunta 6]"
Cuando piden proponer un ensable de clasificadores, puede ser uno que se haya mencionado en el curso?

[2021-06-30 14:19] sofiacorreabusquets commented on #180
Hola, con respecto a esto mismo: ¿es significativo que se pregunte por *cada* matriz X? El conteo de características refiere ¿a la cantidad atributos para cada instancia, o a los atributos multiplicados por la cantidad de instancias en cada set? Pregunto porque el máximo solo difiere para *cada* matriz X (aquellas de train, test y val) si se considera su tamaño en instancias.

Gracias de antemano

[2021-06-30 18:52] FelipeLara00 commented on #180
Tengo la misma duda con respecto a la matriz de características X. Son el máximo de atributos que se deben poner en la matriz X? O se refiere a otra cosa?

Saludos!

[2021-06-30 19:26] benjavicente opened #194 "[Tarea 3] Tamaño de la pregunta 5 con resultados similares"
Hola! en la pregunta 5 nos piden:

**Que hago si la diferencia entre los resultados (validación y test) son minúsculos y no existe mucho a comparar?**

Las preguntas que respondí en la 4 las respondería de la misma manera, entonces, además de la exactitud y la matriz de confusión, no tendría mucho que agregar a esta parte, y el desarrollo quedaría muy corto para [tener el mismo puntaje que el rest

[2021-07-01 02:40] Huasito-Appel commented on #179
@joaquinhernandezg nos quedamos con las ganas :(

[2021-07-01 03:48] FeBalla commented on #179
Se nos pasó esta _issue_ 😢 De todos modos, el análisis no tenía que estar estrictamente ligado a la precisión, sino que se podían considerar otras características. Espero hayas podido llegar a alguna respuesta:c

[2021-07-01 17:17] IngElecPuc commented on #191
Hola
Colab tiene ciertas restricciones de uso de las GPU. Esto se ha comentado en la ayudantía. El primer consejo útil es el que te da tu compañera.
El segundo, es que guardes tus variables relevantes en tu drive (como las matrices de características extraídas con dlib).
Aquí hay una guía de cosas interesantes que puedes hacer en Colab, la que te comento, montar el drive, es el consejo n°2:
https:

[2021-07-06 01:00] #167 closed, assigned to IngElecPuc

[2021-07-06 01:00] #168 closed, assigned to aamedinaj

[2021-07-06 01:00] #169 closed, assigned to chris-carstens

[2021-07-06 01:00] #170 closed, assigned to fivaldivia

[2021-07-06 01:00] #171 closed, assigned to IngElecPuc

[2021-07-06 01:00] #172 closed, assigned to nobody

[2021-07-06 01:00] #173 closed, assigned to IngElecPuc

[2021-07-06 01:00] #174 closed, assigned to fivaldivia

[2021-07-06 01:00] #176 closed, assigned to FeBalla

[2021-07-06 01:00] #177 closed, assigned to fivaldivia

[2021-07-06 01:00] #179 closed, assigned to nobody

[2021-07-06 01:00] #180 closed, assigned to IngElecPuc

[2021-07-06 01:00] #181 closed, assigned to SarahEverke

[2021-07-06 01:00] #182 closed, assigned to FeBalla

[2021-07-06 01:00] #183 closed, assigned to IngElecPuc

[2021-07-06 01:00] #184 closed, assigned to fivaldivia

[2021-07-06 01:00] #185 closed, assigned to IngElecPuc

[2021-07-06 01:00] #186 closed, assigned to chris-carstens

[2021-07-06 01:00] #187 closed, assigned to ebrzovic

[2021-07-06 01:00] #188 closed, assigned to ebrzovic

[2021-07-06 01:00] #189 closed, assigned to IngElecPuc

[2021-07-06 01:00] #190 closed, assigned to IngElecPuc

[2021-07-06 01:00] #191 closed, assigned to IngElecPuc

[2021-07-06 01:00] #193 closed, assigned to nobody

[2021-07-06 01:00] #194 closed, assigned to nobody

[2021-07-06 01:00] #149 closed, assigned to chris-carstens

[2021-07-06 01:00] #150 closed, assigned to IngElecPuc

[2021-07-06 01:00] #151 closed, assigned to FeBalla

[2021-07-06 01:00] #152 closed, assigned to aamedinaj

[2021-07-06 01:00] #153 closed, assigned to chris-carstens

[2021-07-06 01:00] #154 closed, assigned to IngElecPuc

[2021-07-06 01:00] #155 closed, assigned to aamedinaj

[2021-07-06 01:00] #157 closed, assigned to aamedinaj

[2021-07-06 01:00] #159 closed, assigned to chris-carstens

[2021-07-06 01:00] #160 closed, assigned to IngElecPuc

[2021-07-06 01:00] #161 closed, assigned to IngElecPuc

[2021-07-06 01:00] #162 closed, assigned to aamedinaj

[2021-07-06 01:00] #163 closed, assigned to IngElecPuc

[2021-07-06 01:00] #164 closed, assigned to aamedinaj

[2021-07-06 01:00] #165 closed, assigned to chris-carstens

[2021-07-06 01:00] #166 closed, assigned to chris-carstens

[2021-07-09 02:19] gicrot opened #195 "[Tarea 4] Pregunta 3: Tablas de 15x3"
Hola,

No entiendo a que se refieren con el 3 de las dos tablas que debemos poner, no se que valores deberían ser los que vayan, ya que me imaginaba que debían ser el loss, mas y mse, pero como dicen que son dos tablas no se cuál sería el tercer valor (o cuales serían los 3 en verdad).

[2021-07-10 20:32] emyskog opened #196 "[Ayudantía 9] Subir script"
Van a subir el script de la ayudantia 9? Sería de gran ayuda para realizar la tarea.

[2021-07-10 21:39] FeBalla commented on #196
Hola! Estamos discutiendo si subir o no ese notebook por motivos pedagógicos. Esta decisión debería estar a más tardar hoy, así que responderé de nuevo esta misma _issue_ para informar de la respuesta.

**EDIT:** Decidimos subir el notebook, así que pueden encontrarlo en la carpeta de las ayudantías. Mucho éxito con su tarea :)

[2021-07-11 15:24] diegomendieta commented on #195
Hola, el enunciado dice que son dos tablas de 15x3, y que debes usar 5 pares de tamaños de las capas y 3 funciones de activación. Por lo tanto, tienes que hacer dos tablas con estas combinaciones, una con mse y otra con mae.

[2021-07-11 15:40] gicrot commented on #195
Siii, entiendo perfecto la parte de por qué son 15 filas, pero no entiendo las 3 columnas, si se supone que hasta acá debemos usar solo los conjuntos de train y validación (me imaginaba que podría ser una columna por conjunto)

[2021-07-11 15:49] diegomendieta commented on #195
Entrenas tu modelo con el set de entrenamiento, y pruebas su rendimiento en el set de validación, usando MSE y MAE. Luego, haces 2 tablas: una con columnas [(tamaño capa inicial, tamaño capa intermedia), función de pérdida, MSE en validación] y otra con columnas [(tamaño capa inicial, tamaño capa intermedia), función de pérdida, MAE en validación].

[2021-07-11 16:35] gicrot commented on #195
Ahh entiendo, eran los tamaños ajaja Muchas gracias!!!

[2021-07-12 17:34] sebaelsaca opened #197 "[Tarea 4] Orden de desarrollo"
Hola! Ya hice la parte 1, 2 y 3. No obstante, hice una buena parte del preprocesamiento antes de terminar de formular la matriz de la parte 1. No se si es un problema mezclar parte de la 1 y 2 al momento de hacer el desarrollo, o necesariamente tienen que desarrollarse por separado.

[2021-07-12 17:51] IngElecPuc commented on #197
Hola
No es necesario hacerlo por separado. Eso sí, considera que la pauta si va a estar separada y tú ayudante lo va a buscar así. En ese caso, si está muy desordenado se puede equivocar. Siempre considera que es beneficioso dejarle ordenado tu trabajo al ayudante corrector para facilitarle su trabajo.
Saludos

[2021-07-12 18:54] Benjaescobar opened #198 "Pregunta 3 [Tarea 4]: limite de métrica mae (800)"
Holaaa, en la pregunta 3.1.3 dice 'Esta pregunta requiere un valor máximo de `mae` de 800 en el mejor modelo para ser considerada correcta.', y no me quedo muy claro a que se refiere, pues para mi entrenamiento yo tengo un valor de `mae` para cada época. ¿El valor `mae` de cada época debe ser menor a 800? ¿o el mejor valor entre las épocas debe serlo? Es decir, si tengo que
| epoca     | mae |
| -

[2021-07-12 19:43] diegomendieta commented on #198
Hola, significa que al momento de terminar el entrenamiento, el MAE obtenido en el set de test debe ser a lo más 800.

[2021-07-12 19:43] #196 closed, assigned to FeBalla

[2021-07-12 21:13] matiasmsm opened #199 "Duda Tarea 4 general"
Hola.

No me queda claro si entra la materia de las clases de deep learning para la tarea.

Saludos!

[2021-07-13 01:49] jfuentesg26 commented on #199
Hola!
En el enunciado de la tarea, la parte 4 de la actividad 3.1 indica que utilizaran aprendizaje profundo pero en una versión simple, más que nada es cambiar la cantidad de capas ocultas, estudiar los hiperparámetros y sus resultados.
Cualquier pregunta no dudes en consultar, saludos! 🙂

[2021-07-13 01:57] matiasmsm commented on #199
Gracias!!!

[2021-07-13 23:01] knight-who-says-ni opened #200 "[Tarea 4] [P3-4] Evolución de métricas en el tiempo."
Hola! Tanto en las preguntas 3 como 4 se nos pide desplegar un "gráfico de evolución de ambas métricas en el tiempo". Esta evolución se refiere a como fueron bajando durante el entrenamiento?? Por que en ambos casos se menciona justo después de que se nos pide probar en el set de test, pero en este ultimo caso no hay una "evolución" de las métricas.

Saludos!

[2021-07-13 23:05] knight-who-says-ni opened #201 "[Tarea 4][P4] Par capas agregadas-neuronas por capa."
Hola!! En la parte 4 se nos pide testear hiperparametros con la cantidad de capas ocultas agregadas y la cantidad de neuronas por capa. En este caso, todas las capas agregadas deben tener la misma cantidad de neuronas?? O puedo agregar, por ejemplo, 3 capas ocultas, una con X neuronas, otra con Y, y otra con Z (con X/=Y/= Z)??

Saludos!!

[2021-07-13 23:46] IngElecPuc commented on #200
Hola
Si, es la evolución durante entrenamiento. Específicamente al final de cada época.
Saludos

[2021-07-14 00:31] matiasmsm opened #202 "[Tarea 4] 3.1 P3 Duda general"
Hola.

¿Es normal que me esten saliendo accuracies de 99.999% con algunas redes al probarlas con el set de validation y test?

Saludos

[2021-07-14 02:27] knight-who-says-ni commented on #200
Gracias!!!

[2021-07-14 14:32] diegomendieta commented on #202
Hola, no lo es. A qué te refieres con accuracy? Las métricas indicadas son MSE y MAE.

[2021-07-14 14:34] diegomendieta commented on #201
Hol, no es necesario que tengan la misma cantidad de neuronas por capa. En todo caso, por un tema de simplicidad de notación, yo lo haría con la misma cantidad de neuronas para todas, pero si te da mejores resultados con distintos números, hazlo así y especifícalo en tu notebook.

[2021-07-14 14:39] matiasmsm commented on #202
Sí entiendo que las métricas que nos piden son MSE y MAE. Estas tienen valores super pequeños en el orden 10^-5 a veces. Pero también probe con la métrica accuracy y me entrega estos valores super altos. ¿Alguna idea? ¿Quizás cometí un error en el split de datos? Estoy haciendo todo con keras pero el split lo hice con sklearn.

¿Quizas sea por que estoy haciendo el fit con y_train_cat = to_categor

[2021-07-14 14:57] diegomendieta commented on #202
No uses accuracy. No tiene sentido fuera de un problema de clasificación, y lo que se me ocurre que podría estar pasando que, como probablemente todos tus valores predichos son mayores que 0.5, son interpretados como labels 1 y los evalúa todos como correctamente clasificados.

En relación a lo otro, es muy extraño que te den MSE y MAE tan bajas. Estás incluyendo el parámetro "validation_split" cu

[2021-07-14 15:00] matiasmsm commented on #202
Ok muchas gracias por la ayuda!

[2021-07-14 15:15] antoniaalcayaga opened #203 "[Tarea 4] Funciones de activación"
Hola,

En la parte 3, donde dice que debemos ocupar las 3 funciones de activación y con esto y los 5 pares hacer las tablas de 15x3,¿se refiere que en las 3 capas (inicial, intermedia y final) tenemos que ocupar la misma función de activación o podemos hacer combinaciones? y de ser así, a que se traducen las 15 filas de la tabla?

Gracias!

[2021-07-14 16:18] emyskog commented on #202
A mi pasa muy similar que me da valores de MAE y MSE muy bajas (tipo 0,0028) y si hice el validation split. No se si es un problema con mi preprocesamiento de datos?

[2021-07-14 16:54] matiasmsm commented on #202
Me sumo. Si en el preprocesamiento estoy usando MinMaxScaler() en la matriz X_train,¿ qué preprocesamiento debo hacerle a y_train? ¿El mismo?

[2021-07-14 18:43] matiasmsm commented on #202
¿Puede ser que no se tiene que preprocesar el vector y_train?

[2021-07-14 18:45] diegomendieta commented on #202
Ahh, ahora entiendo por qué te está dando valores tan bajos @MatiasMingo. Efectivamente, Y no se normaliza. Solo se normaliza X, para que los features de entrada estén en una escala similar. @emyskog puede que estés haciendo lo mismo?

[2021-07-14 18:47] matiasmsm commented on #202
Ahi funciona gracias!

[2021-07-14 20:22] emyskog commented on #202
Yo no normalizo el Y, solo lo paso a to_categorical, y me sigue dando muy bajo :/

[2021-07-14 21:01] diegomendieta commented on #202
@emyskog Ahí hay un problema. Al ser un problema de regresión, el Y no es una variable categórica, sino una numérica.

[2021-07-14 22:01] emyskog commented on #202
y hay que mirar el mae de validación para ver si es menor de 800 o el train?

[2021-07-14 22:35] knight-who-says-ni commented on #201
Gracias!!

[2021-07-15 13:49] emyskog opened #204 "[Tarea 4] [P3] MAE"
Al fijarse si el MAE es menor que 800, debe ser el MAE de el validation set o del training set?

[2021-07-15 14:26] diegomendieta commented on #204
Tiene que ser el set de test, ya que es el que mide el rendimiento real de tu modelo evitando el sesgo en el que se incurre al afinar hiperparámetros para mejorar el rendimiento en el set de validación.

[2021-07-15 14:28] diegomendieta commented on #202
@emyskog te contesté en #204.

[2021-07-15 14:31] emyskog commented on #204
pero tipo 810 esta bien? o tiene que ser menor sí o sí que 800?

[2021-07-15 14:33] diegomendieta commented on #204
Tiene que ser menor que 800.

[2021-07-15 14:48] IngElecPuc commented on #203
Hola
Deberías probar la misma función de activación en todas las capas. Esto para tener una idea del impacto efectivo de la función de activación como hiperparámetro. Además, te debo dar una corrección, si bien la tarea habla de tablas de 15x3, son de 5x3. Hay un "1" que está mal tipeado en la tarea. Entonces, haces dos tablas, una con valores mse, y la otra con valores mae, con 5 filas (correspon

[2021-07-15 15:22] matiasmsm commented on #204
O sea, ¿ no es mlp.fit(X_train, y_train, epochs=15, batch_size=32, verbose=1) el fit?

Yo pensaba que era el MAE de training y que despues se probaba con el set de test para el mejor modelo.

Siento que el enunciado genera muchas confusiones :(

[2021-07-15 15:41] diegomendieta commented on #204
@MatiasMingo sí, ese es el fit. Tienes que observar cómo avanza el entrenamiento en el set de training y de validación, ajustar los hiperparámetros de manera tal que se minimicen MSE y MAE en validación, y finalmente evaluar tu mejor modelo en test. Si el MAE es menor que 800 en test, entonces se considerará correcta tu respuesta.

[2021-07-15 16:19] antoniaalcayaga commented on #203
Pero en la primera issue preguntaron eso y respondieron otra cosa :(, que es como lo mismo pero a lo largo, ¿lo puedo hacer así?

[2021-07-15 16:21] diegomendieta commented on #203
Efectivamente es esencialmente lo mismo. Mientras entregues los datos que se piden, y se entienda lo que quieres mostrar, está bien.

[2021-07-15 23:44] gustavobarrezueta opened #205 "[Tarea 4] Parte 3-Valores nan en método fit()"
Hola! Escribo esta issue para pedir ayuda, ya que he estado pegado en esta parte por un par de horas. Mi problema es que al llamar el método fit de keras, las métricas de rendimiento son 'nan'. Mi línea es algo como (sé que no se puede mostrar código pero creo que es una linea de código muy general):
model.fit(X_train, y_train, epochs=epochs, batch_size=32, validation_data=(X_val, y_val))
y me pri

[2021-07-15 23:45] sperezmasri opened #206 "[Tarea 4] Preprocesamiento de datos"
Hola, me quedó una duda con el preprocesamiento de datos.

En la pregunta 1 mencionan que hay que aplicar una estrategia para la limpieza y transformación de los datos. Además se dice que hay que ver que hacer con las columnas con datos no numéricos.  Entiendo esto perfecto y me queda claro lo que hay que hacer. Mi problema es que en la pregunta 2 se vuelve a pedir un preprocesamiento de datos. No

[2021-07-16 00:10] IngElecPuc commented on #205
Hola
¿Podrías describir tanto tu matriz de características y el vector Target para la regresión? Además, ¿Que preprocesamiento estás aplicando?

[2021-07-16 00:56] gustavobarrezueta commented on #205
Hola! Sí, las matrices de características tienen 9 columnas que son las nueves características que nos dan. El vector target es solo la columna 'price'. Ambas son numpy array cuando se las paso al método fit. Para crear la matriz de test usé la columna 'Usage' y luego para crear la matriz de validación usé StratifiedShuffleSplit. El preprocesamiento que hice fue pasar las variables categóricas a n

[2021-07-16 01:17] jfuentesg26 commented on #206
Hola! En la parte uno de la pregunta no se preprocesan los datos, si no mas bien se obtienen o leen.  En la parte dos debes hacer tres grandes tareas:
1. Preprocesar los datos de la matriz que construiste en la parte uno, para esto sería bueno que te preguntaras, ¿cuáles técnicas conoces? debes elegir una, justificar su elección y aplicarla.
2. Debes realizar/justificar la división de datos
3.  Mo

[2021-07-16 01:35] IngElecPuc commented on #205
Mira, en general vas bien. Esto parece un error de debugueo con la librería más que otra cosa. Te propongo que armes tu matriz por construcción, es decir que vayas agregando características (columnas) y hagas sucesivos entrenamientos. El objetivo no es predecir bien, sino ver si estás utilizando bien las clases de construcción, selección y escalamiento. Parte por las variables en punto flotante, h

[2021-07-16 01:50] sperezmasri commented on #206
Gracias por la respuesta! Lo otro es que la división debe hacerse en la parte 2? No entiendo por qué en la parte 1 piden crear la matriz X y el vector "y". A mi me hace mucho más sentido dividir los sets (test, train y validación), y crear las matrices X y los vectores "y" correspondientes después de haber procesado los datos.

De lo que entendí de tu respuesta lo que debería hacer en la parte 1 e

[2021-07-16 02:00] jfuentesg26 commented on #206
Debes tener cuidado en esos pequeños detalles, ya que el enunciado indica que en la primera parte solo debes separar el set de test del set de datos y luego en la parte dos el set de datos se divide en validación y entrenamiento.
Como lo indica el enunciado en la primera parte debes leer los datos, hacer una limpieza y justificarla, separar el set de test y construir las matrices.
En la segunda pa

[2021-07-16 02:02] sperezmasri commented on #206
Ah perfecto gracias! Una última duda, perdón por la molestia, en este caso esa limpieza de datos no incluye la transformación de las columnas no númericas o si? Eso se haría en la segunda parte entonces?